/// charts

.chart-container {
  text-align: center;

  // Using flexbox here so we need to account for IE9 by
  // producing mixin for old standard.

  &.chart-small {
    @media (min-width: $screen-md) {
      align-items: center;
      display: flex;
    }

    .chart {
        display: inline-block;
        height: 120px;
        width: 120px;
      
        @media (min-width: $screen-md) {
            margin-right: 20px;
        } 
      
    }
    
    .chart-percentage {
      @include font-size(48px);
      letter-spacing: -1px;
      line-height: 120px;
      width: 120px;

      &:after {
        @include font-size(16px);
      }
    }

    .chart-caption {
      margin-bottom: 32px;
      
      @media (min-width: $screen-md) {
            text-align: left;
            flex: 1;
      }
    }
  }
}

.chart {
  display: inline-block;
  height: 260px;
  margin-bottom: 32px;
  position: relative;
  width: 260px;
}

.chart-percentage {
  @include font-size(90px);
  display: block;
  letter-spacing: -5px;
  line-height: 260px;
  position: absolute;
  text-align: center;
  width: 260px;

  &:after {
    @include font-size(36px);
    display: inline-block;
    content: '%';
  } 
}
