// Form elements


label {
    color: $brand;
    font-family: $soleto-regular;
}

.form-control {
    padding: 10px;
}

button {
	// [TODO]: Replace with alternative style for accessibility
	&:active, &:focus {
		outline: 0 !important;
	}
}