li.bio-grid__grid-item
	img(class="bio-avatar avatar avatar--large", src="images/sample/bio-head@3x.png")
	h4(class="bio-name") Curt Nonomaque
	h5(class="bio-title") bio-title President &amp; chief Executive
	button(class="btn btn-default") Read biography