p Each module or row is encapuslated by a *SECTION* tag
p All HTML mark up contained within each section must be accounted for and present for back end deployment
p All Section classes for each variation are mandatory
p Global classes begin with "module-" (eg. "module-outer"). These determine margin and padding both internally and externally. 
p Module specific styles (eg. "cn03__v1"). These determine color and styles specific to that particular module as outlined in design. Utilising these classes helps ensure modules not to deviate from established designs. So, for example, if a module does not have a variant class, certain specific styles will not show and elements will break.