p Updated notes 4.10.16
p All global HTML components updated
p Dashboard logged in menu state active
p Subnav in play, triggered by selecting an primary nav item. This is currently set to toggle and needs a follow up course of action to determine how this is tied into the back end. Currently we have a "subnav-active" class added to the BODY tag, so when a new page is landed upon, we can set this as a flag to determine whether it's visible. TBC.
p Charts now animating in cn06
p We now have IE9 support. There will be slight degredation but modules will retain gutters and equal height columns for desktop view.
p We are now using CSS flexbox for grid layout with IE9 for fallback 
h5 CORE notes
p As per Front End deliverables for <i>Gen2</i>, we are utilising a 12 column grid via Bootstrap v3. 
p HEADER - Desktop and Mobile header + navigation built. Logged out state. Subnav TBC but this will sit <i>outside</i> the *HEADER* HTML tag.
p COMPONENTS - Each component is encapuslated by a *SECTION* tag, each with specific classes which are mandatory. Some are global and some are component specific. Heights of component need to be resolved.
p All HTML mark up contained within each *SECTION* should be accounted for.   
p SECTION classes that begin with "module-outer", "module-bleed") etc. determine margin and padding both internally and externally are mandatory for layout. A full list of these module <i>types</i> will be provided in further code drops.
p Component specific styles (eg. "cn03__v1"). These determine color and styles specific to that particular module as outlined in design. Utilising these classes helps ensure modules not to deviate from established designs. If a component does not have a variant class, certain specific styles will be missing. This MAY affect layout, but the intention is to keep this aethetic.
p Component layout and structure must stay fixed, however content within each singular component can of course be changed as needed.
p Headings. For all components containing headings - where a heading exists outside and above of a module which contains a row of border style components, that heading is optional.  
p For equal height cols, ensure the postfix on "row" class includes the appropriate designation. So, div class="row row-eq-height-md" where any child cols have a "md" designation. div class="row row-eq-height-sm" where child cols have a "sm" designation. 