p As per Front End deliverables for <i>Gen2</i>, we are utilising a 12 column grid via Bootstrap v3. 
p HEADER - Desktop and Mobile header + navigation built. Logged out state. Subnav TBC but this will sit <i>outside</i> the *HEADER* HTML tag.
p MODULES - Each module or row is encapuslated by a *SECTION* tag, each with specific classes which are mandatory. Some are global and some are module specific. Heights of modules need to be resolved.
p All HTML mark up contained within each *SECTION* should be accounted for.   
p SECTION classes that begin with "module-outer", "module-bleed") etc. determine margin and padding both internally and externally are mandatory for layout. A full list of these module <i>types</i> will be provided in further code drops.
p Module specific styles (eg. "cn03__v1"). These determine color and styles specific to that particular module as outlined in design. Utilising these classes helps ensure modules not to deviate from established designs. If a module does not have a variant class, certain specific styles will be missing. This MAY affect layout, but the intention is to keep this aethetic.
p Module layout and structure must stay fixed, however content within each singular component can of course be changed as needed.
p Headings. For all modules containing headings - where a heading exists outside and above of a module which contains a row of border style components, that heading is optional. 
p Tablet landscape breakpoints are currently WIP. The focus for this delivery now is on desktop view. The code is responsive, but WIP for  smaller views. This will not affect markup, just CSS.
p For equal height cols, ensure the postfix on "row" class includes the appropriate designation. So, div class="row row-eq-height-md" where any child cols have a "md" designation. div class="row row-eq-height-sm" where child cols have a "sm" designation.