// Icons
/* Icons */

// Retina mixin
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
    width: $width;
    height: $height;
  }
}

.icon {
    vertical-align: middle;
    display: inline-block;
    width: auto;
    height: auto;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    text-decoration: inherit;
    speak: none;
}

.icon-logo {
    background: url(../images/icons/vizient-logo.png);
    background: none, url(../images/icons/svg/vizient-logo.svg);
    background-repeat: no-repeat;
    background-size: 163px 43px;
    width: 163px;
    height: 43px;
}

.icon-logo-white {
    background: url(../images/icons/vizient-logo-white-small.png);
    background: none, url(../images/icons/svg/vizient-logo-white.svg);
    background-repeat: no-repeat;
    background-size: 163px 43px;
    width: 163px;
    height: 43px;
}


.icon-home {
    background: url(../images/icons/icon-home.png);
    background: none, url(../images/icons/svg/icon-home.svg);
    background-repeat: no-repeat;
    background-size: 17px 22px;
    width: 17px;
    height: 22px;
}


.icon-mobile-burger {
    background: url(../images/icons/icon-menu.png);
    background: none, url(../images/icons/svg/icon-menu.svg);
    background-repeat: no-repeat;
    background-size: 40px 34px;
    width: 40px;
    height: 34px;
}


.icon-search {
    background: url(../images/icons/icon-search.png);
    // background: none, url(../images/icons/svg/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 21px 21px;
    width: 21px;
    height: 21px;
}

.icon-search-white {
    background: url(../images/icons/icon-search-white.png);
    // background: none, url(../images/icons/svg/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 21px 21px;
    width: 21px;
    height: 21px;
}

.icon-login {
    background: url(../images/icons/login-member-icon.png);
    // background: none, url(../images/icons/svg/icon-search.svg);
    background-repeat: no-repeat;
    background-size: 13px 16px;
    width: 13px;
    height: 16px;
}

.icon-login-white {
    background: url(../images/icons/login-member-icon-white.png);
    background: none, url(../images/icons/svg/login-member-icon-white.svg);
    background-repeat: no-repeat;
    background-size: 13px 16px;
    width: 13px;
    height: 16px;
}

.icon-2-dots--small {

    background: url(../images/icons/icon-2-dots.png);
    background: none, url(../images/icons/svg/icon-2-dots.svg);
    background-repeat: no-repeat;
    background-size: 21px 10px;
    width: 21px;
    height: 10px;
}

.icon-arrow-right {
    background: url(../images/icons/icon-arrow-right.png);
    background: none, url(../images/icons/svg/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    width: 12px;
    height: 12px;
}

.icon-arrow-right-white {
    background: url(../images/icons/icon-arrow-right-white.png);
    //background: none, url(../images/icons/svg/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    width: 12px;
    height: 12px;
}
.icon-arrow-right-darkgrey {
    // background: url(../images/icons/icon-arrow-right-white.png);
    background: none, url(../images/icons/svg/icon-arrow-right-darkgrey.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    width: 12px;
    height: 12px;
}

.icon-arrow-right--small{
    background: url(../images/icons/icon-arrow-right-small.png);
    background: none, url(../images/icons/svg/icon-arrow-right.svg);
    background-repeat: no-repeat;
    background-size: 8px 8px;
    width: 8px;
    height: 8px;
}


.icon-arrow-left {
    background: url(../images/icons/icon-arrow-left.png);
    background: none, url(../images/icons/svg/icon-arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
}

.icon-arrow-left-white {
    background: url(../images/icons/icon-arrow-left-white.png);
    // background: none, url(../images/icons/svg/icon-arrow-left.svg);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
}

.icon-arrow-left-darkgrey {
    background: none, url(../images/icons/svg/icon-arrow-right-darkgrey.svg);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
    transform: rotate(180deg);
}

.icon-arrow-left--medium {
    background: url(../images/icons/icon-arrow-left-medium.png);
    background: none, url(../images/icons/svg/icon-arrow-left.svg);
    background-repeat: no-repeat;
    position: relative;
    top: -2px;
    background-size: 10px 10px;
    width: 10px;
    height: 10px;
}


.icon-arrow-down {
    background: url(../images/icons/icon-arrow-down.png);
    background: none, url(../images/icons/svg/icon-arrow-down.svg);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
}

.icon-arrow-down-grey {
    background: url(../images/icons/icon-arrow-down-grey.png);
    background: none, url(../images/icons/svg/icon-arrow-down-grey.svg);
    background-repeat: no-repeat;
    background-size: 12px 12px;
    width: 12px;
    height: 12px;
}

.icon-chevron-up {
    background: url(../images/icons/icon-chevron-up.png);
    background: none, url(../images/icons/svg/icon-chevron-up.svg);
    background-repeat: no-repeat;
    background-size: 20px 11px;
    width: 20px;
    height: 11px;
}

.icon-chevron-down {
    background: url(../images/icons/icon-chevron-down.png);
    background: none, url(../images/icons/svg/icon-chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 20px 11px;
    width: 20px;
    height: 11px;
}

.icon-chevron-down-small {
    background: url(../images/icons/icon-chevron-down-small.png);
    //background: none, url(../images/icons/svg/icon-chevron-down-small.svg);
    background-repeat: no-repeat;
    background-size: 11px 7px;
    width: 11px;
    height: 7px;
}

.icon-chevron-left {
    background: url(../images/icons/icon-chevron-left.png); 
    background: none, url(../images/icons/svg/icon-chevron-left.svg);
    background-repeat: no-repeat;
    background-size: 9px 14px;
    width: 9px;
    height: 14px;
}

.icon-chevron-right {
    background: url(../images/icons/icon-chevron-right.png); 
    background: none, url(../images/icons/svg/icon-chevron-right.svg);
    background-repeat: no-repeat;
    background-size: 9px 14px;
    width: 9px;
    height: 14px;
}

.icon-new-window {
    background: url(../images/icons/icon-new-window.png);
    background: none, url(../images/icons/svg/icon-new-window.svg);
    background-repeat: no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
}


// Brand Illustration Icons

.icon-insights {

    &:before {
        content: url(../images/icons/icon-insights-large.png);
    }
}

.icon-insights-small {
    background: url(../images/icons/icon-insights-small.png);
    background: none, url(../images/icons/svg/icon-insights-small.svg);
    background-repeat: no-repeat;
    background-size: 74px 45px;
    width: 74px;
    height: 45px;
}

.icon-insights-large {
    background: url(../images/icons/icon-insights-large.png);
    background: none, url(../images/icons/svg/icon-insights.svg);
    background-repeat: no-repeat;
    background-size: 134px 140px;
    width: 134px;
    height: 140px;
}

.icon-patientimpact {
    background: url(../images/icons/icon-patient-impact-small.png);
    background: none, url(../images/icons/svg/icon-patient-impact-small.svg);
    background-repeat: no-repeat;
    background-size: 45px 45px;
    width: 45px;
    height: 45px;
}

.icon-insights--v2 {
    &:before {
        content: url(../images/icons/icon-insights-v2.png);
    }
}

.icon-efficiency {

    background: url(../images/icons/icon-efficiency.png);
    background: none, url(../images/icons/svg/icon-efficiency.svg);
    background-repeat: no-repeat;
    background-size: 102px 75px;
    width: 102px;
    height: 75px;
}

.icon-efficiency-small {

    background: url(../images/icons/icon-efficiency-small.png);
    background: none, url(../images/icons/svg/icon-efficiency-small.svg);
    background-repeat: no-repeat;
    background-size: 51px 55px;
    width: 51px;
    height: 55px;
}

.icon-efficiency-large {

    &:before {
        content: url(../images/icons/icon-efficiency-large.png);
    }
}

.icon-efficiency--v2 {
    &:before {
        content: url(../images/icons/icon-efficiency-v2.png);
    }
}


.icon-collaboration {

    &:before {
        content: url(../images/icons/icon-collaboration.png);
    }
}

.icon-collaboration-small {
    background: url(../images/icons/icon-collaboration-v1-small.png);
    background: none, url(../images/icons/svg/icon-collaboration-small.svg);
    background-repeat: no-repeat;
    background-size: 52px 45px;
    width: 52px;
    height: 45px;
}

.icon-collaboration-large {

    &:before {
        content: url(../images/icons/icon-collaboration-large.png);
    }
}

.icon-collaboration--v2 {
    &:before {
        content: url(../images/icons/icon-collaboration-v2.png);
    }
}


.icon-patient-impact {

    background: url(../images/icons/icon-patient-impact.png);
    background: none, url(../images/icons/svg/icon-patient-impact.svg);
    background-repeat: no-repeat;
    background-size: 75px;
    width: 75px;
    height: 75px;
}

.icon-patient-impact-small {
    background: url(../images/icons/icon-patient-impact-small.png);
    background: none, url(../images/icons/svg/icon-patient-impact-small.svg);
    background-repeat: no-repeat;
    background-size: 45px;
    width: 45px;
    height: 45px;
}

.icon-patient-impact-large {

    &:before {
        content: url(../images/icons/icon-patient-impact-large.png);
    }
}

.icon-patient-impact--v2 {
    &:before {
        content: url(../images/icons/icon-patient-impact-large.png);
    }
}


.icon-networks-large {

    background: url(../images/icons/icon-networks.png);
    background: none, url(../images/icons/svg/icon-networks.svg);
    background-repeat: no-repeat;
    background-size: 230px 139px;
    width: 230px;
    height: 139px;
}



// Social Media icons

.icon-linkedin {
    background: url(../images/icons/social/brand/li.png);
    background: none, url(../images/icons/social/brand/li.svg);
    background-repeat: no-repeat;
    background-size: 24px 22px;
    width: 24px;
    height: 22px;
}

.icon-facebook {
    background: url(../images/icons/icon-facebook.png);
    background: none, url(../images/icons/svg/icon-facebook.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.icon-twitter {
    background: url(../images/icons/social/brand/tw.png);
    background: none, url(../images/icons/social/brand/tw.svg);
    background-repeat: no-repeat;
    background-size: 25px 20px;
    width: 25px;
    height: 20px;
}

.icon-pinterest {
    background: url(../images/icons/icon-pinterest.png);
    background: none, url(../images/icons/svg/icon-pinterest.svg);
    background-repeat: no-repeat;
    background-size: 25px;
    width: 25px;
    height: 25px;
}

.icon-youtube {
    background: url(../images/icons/social/brand/yt.png);
    background: none, url(../images/icons/social/brand/yt.svg);
    background-repeat: no-repeat;
    background-size: 29px 20px;
    width: 29px;
    height: 20px;
}

.icon-email {
    background: url(../images/icons/icon-email.png) no-repeat;
    background: none, url(../images/icons/svg/icon-email.svg) no-repeat;
    background-repeat: no-repeat;
    background-size: 36px 25px;
    width: 36px;
    height: 25px;
}

.icon-phone {
    background: url(../images/icons/icon-phone.png) no-repeat;
    background: none, url(../images/icons/svg/icon-phone.svg) no-repeat;
    background-repeat: no-repeat;
    background-size: 32px;
    width: 36px;
    height: 32px;
}

.icon-pdf {
    background:: url(../images/icons/icon-pdf.png);
    background-repeat: no-repeat;
    background-size: 17px;
    width: 17px;
    height: 17px;
}


.icon-comment {
    background: url(../images/icons/icon-comments.png);
    background: none, url(../images/icons/svg/icon-comments.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.icon-download {
    background: url(../images/icons/icon-download.png);
    background: none, url(../images/icons/svg/icon-download.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.icon-download-grey {
    background: url(../images/icons/icon-download-grey.png);
    background: none, url(../images/icons/svg/icon-download-grey.svg);
    background-repeat: no-repeat;
    background-size: 12px;
    width: 12px;
    height: 12px;
}

.icon-close {
    background: url(../images/icons/icon-close.png);
    background: none, url(../images/icons/svg/icon-close.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.icon-close-white {
    background: url(../images/icons/icon-close-white.png);
    background: none, url(../images/icons/svg/icon-close-white.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.icon-close-slate {
    background: url(../images/icons/icon-close-slate.png);
    background: none, url(../images/icons/svg/icon-close-slate.svg);
    background-repeat: no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
}

.icon-video-play {
    background: url(../images/icons/icon-video-play.png);
    background: none, url(../images/icons/svg/icon-video-play.svg);
    background-repeat: no-repeat;
    background-size: 58px;
    width: 58px;
    height: 58px;
}
.icon-video-play-white{
    background: url(../images/icons/icon-video-play-white.png);
    background: none, url(../images/icons/svg/icon-video-play-white.svg);
    display: block;
    width: 80px;
    height: 79px;
    background-repeat: no-repeat;
    background-position: center center
}

.icon-video-pause {
    background: url(../images/icons/icon-video-pause.png);
    background: none, url(../images/icons/svg/icon-video-pause.svg);
    background-repeat: no-repeat;
    background-size: 58px;
    width: 58px;
    height: 58px;
}

.icon-mag-glass {
    width: 11px;
    height: 12px;
    background-size: 11px;
    background-repeat: no-repeat;
    background-image: url(../images/icons/mag-glass.png);
    @include image-2x("../images/icons/mag-glass@2x.png", 12px, 12px);
}

//share icons

.icon-share-email {
    background: none, url(../images/icons/svg/icon-share-email.svg) no-repeat;
    background-repeat: no-repeat;
    &:hover{
        background: none, url(../images/icons/svg/icon-share-email-white.svg) no-repeat;
    }

}
.icon-share-download {
    background: none, url(../images/icons/svg/icon-share-download.svg) no-repeat;
    background-repeat: no-repeat;
    &:hover{
        background: none, url(../images/icons/svg/icon-share-download-white.svg) no-repeat;
    }
}
.icon-share-print {
    background: none, url(../images/icons/svg/icon-share-print.svg) no-repeat;
    background-repeat: no-repeat;
    &:hover{
        background: none, url(../images/icons/svg/icon-share-print-white.svg) no-repeat;
    }
}
.icon-share-rss-feed {
    background: none, url(../images/icons/svg/icon-share-rss-feed.svg) no-repeat;
    background-repeat: no-repeat;
    &:hover{
        background: none, url(../images/icons/svg/icon-share-rss-feed-white.svg) no-repeat;
    }
}
.icon-share-icon {
    background: none, url(../images/icons/svg/icon-share-icon.svg) no-repeat;
    background-repeat: no-repeat;
    &:hover{
        background: none, url(../images/icons/svg/icon-share-icon-white.svg) no-repeat;
    }
}


// white icons

// footer {
//     .icon-linkedin {
//         width: 24px;
//         height: 23px;
//         background-size: 24px 23px;
//         background: url(../images/icons/social/li.png) no-repeat;
//         background-size: cover;
//         @include image-2x("../images/icons/social/li@2x.png", 24px, 23px);
//     }

//     .icon-facebook {
//         width: 11px;
//         height: 24px;
//         background-size: 12px 24px;
//         background: url(../images/icons/social/fb.png) no-repeat;
//         background-size: cover;
//         @include image-2x("../images/icons/social/fb@2x.png", 12px, 24px);
//     }

//     .icon-twitter {
//         width: 25px;
//         height: 20px;
//         background-size: 25px 20px;
//         background: url(../images/icons/social/tw.png) no-repeat;
//         background-size: cover;
//         @include image-2x("../images/icons/social/tw@2x.png", 25px, 20px);
//     }

//     .icon-pinterest {
//         width: 25px;
//         height: 24px;
//         background-size: 24px 24px;
//         background: url(../images/icons/social/pi.png) no-repeat;
//         background-size: cover;
//         @include image-2x("../images/icons/social/pi@2x.png", 24px, 24px);
//     }

//     .icon-youtube {
//         width: 29px;
//         height: 20px;
//         background-size: 29px 20px;
//         background: url(../images/icons/social/yt.png) no-repeat;
//         background-size: cover;
//         @include image-2x("../images/icons/social/yt@2x.png", 29px, 20px);
//     }
// }


// ICONS - FILE TYPES

.icon-filetype {
    background-size: 21px;
    background-repeat: no-repeat;
    width: 21px;
    height: 25px;
    display: inline-block;
}

.icon-acrobat {
    background-image: url(../images/icons/file-types/Acrobat.png);
    background-image: url(../images/icons/file-types/Acrobat.svg);
    @include image-2x("../images/icons/file-types/Acrobat@2x.png", 21px, 25px);
}

.icon-doc {
    background: url(../images/icons/file-types/Doc.png);
    background: url(../images/icons/file-types/Doc.svg);
    @include image-2x("../images/icons/file-types/Doc@2x.png", 21px, 25px);
}

.icon-excel {
    background: url(../images/icons/file-types/Excel.png);
    background: url(../images/icons/file-types/Excel.svg);
    @include image-2x("../images/icons/file-types/Excel@2x.png", 21px, 25px);
}

.icon-keynote {
    background: url(../images/icons/file-types/Keynote.png);
    background: url(../images/icons/file-types/Keynote.svg);
    @include image-2x("../images/icons/file-types/Keynote@2x.png", 21px, 25px);
}

.icon-powerpoint {
    background: url(../images/icons/file-types/Powerpoint.png);
    background: url(../images/icons/file-types/Powerpoint.svg);
    @include image-2x("../images/icons/file-types/Powerpoint@2x.png", 21px, 25px);
}

.icon-rar {
    background: url(../images/icons/file-types/Rar.png);
    background: url(../images/icons/file-types/Rar.svg);
    @include image-2x("../images/icons/file-types/Rar@2x.png", 21px, 25px);
}

.icon-richtext {
    background: url(../images/icons/file-types/Richtext.png);
    background: url(../images/icons/file-types/Richtext.svg);
    @include image-2x("../images/icons/file-types/Richtext@2x.png", 21px, 25px);
}

.icon-text {
    background: url(../images/icons/file-types/Text.png);
    background: url(../images/icons/file-types/Text.svg);
    @include image-2x("../images/icons/file-types/Text@2x.png", 21px, 25px);
}

.icon-zip {
    background: url(../images/icons/file-types/Zip.png);
    background: url(../images/icons/file-types/Zip.svg);
    @include image-2x("../images/icons/file-types/Zip@2x.png", 21px, 25px);
}

.icon-delete {
    background: url(../images/icons/icon-delete.png);
    background: none, url(../images/icons/svg/icon-delete.svg);
    background-repeat: no-repeat;
    background-size: 21px;
    width: 21px;
    height: 21px;
}

// Icons: Sections

// .icon-arrows {
//   background: url(../images/icons/icon-arrows.png);
//   background: none, url(../images/icons/svg/icon-arrows.svg);
//   background-repeat: no-repeat;
//   height: 95px;
//   width: 106px;  
// }

// .icon-chart {
//   background: url(../images/icons/icon-chart.png);
//   background: none, url(../images/icons/svg/icon-chart.svg);
//   background-repeat: no-repeat;
//   height: 88px;
//   width: 103px;
// }

// .icon-eye {
//   background: url(../images/icons/icon-eye.png);
//   background: none, url(../images/icons/svg/icon-eye.svg);
//   background-repeat: no-repeat;
//   height: 66px;
//   width: 107px; 
// }

// .icon-magnifying-glass {
//   background: url(../images/icons/icon-magnifying-glass.png);
//   background: none, url(../images/icons/svg/icon-magnifying-glass.svg);
//   background-repeat: no-repeat;
//   height: 104px;
//   width: 102px;
// }

// .icon-medical-cross {
//   background: url(../images/icons/icon-medical-cross.png);
//   background: none, url(../images/icons/svg/icon-medical-cross.svg);
//   background-repeat: no-repeat;
//   height: 104px;
//   width: 104px; 
// }

// .icon-network {
//   background: url(../images/icons/icon-medical-network.png);
//   background: none, url(../images/icons/svg/icon-network.svg);
//   background-repeat: no-repeat;
//   height: 100px;
//   width: 115px; 
// }

// .icon-physician {
//   background: url(../images/icons/icon-physician.png);
//   background: none, url(../images/icons/svg/icon-physician.svg);
//   background-repeat: no-repeat;
//   height: 100px;
//   width: 79px;
// }

// .icon-plaster {
//   background: url(../images/icons/icon-plaster.png);
//   background: none, url(../images/icons/svg/icon-plaster.svg);
//   background-repeat: no-repeat;
//   height: 104px;
//   width: 103px;
// }

