// Containers

.container {

	@media (min-width: $screen-xs) {
		width: 100%;
		padding-left: 35px;
		padding-right: 35px;

		// .module-bleed-edges & {
		// 	padding-left: 0;
		// 	padding-right: 0;	
		// }
	}

	@media (min-width: $screen-sm) {

		width: 100%;
		padding-left: 35px;
		padding-right: 35px;
	}

	@media (min-width: $screen-lg) {

		max-width: $screen-lg;
		padding-left: 35px;
		padding-right: 35px;
	}

}