// Footer

#main-footer { 
    
    margin-top: 40px;
    user-select: none; 
    background: $peach-light;
    color: $brand;
    padding-left: 24px;
    padding-right: 24px;
    @media (min-width: $screen-sm) {    
        padding-left: 0px;
        padding-right: 0px;
    }

    .logo {
        display: inline-block;
        @media only screen and (max-width: $screen-xs-max) {
            margin-bottom: 15px;
        }
    }

    .row-top {
        padding: 40px 0;
    }
    .row-mid {
        
        border-top: 1px solid $waxflower;
        border-bottom: 1px solid $waxflower;
    }
    .row-bot {

    }
    .border {
        border-top: 1px solid $waxflower;
        border-left: 0;
        
        @media only screen and (min-width: $screen-sm-min) {
            border-left: 1px solid $waxflower;
            border-top: 0;
        }
        
    }
    .pl40 {
        padding-left: 0px;
        @media only screen and (min-width: $screen-sm-min) {
            padding-left: 40px;
        }
        
    } 

    .nav-contact {
        display: none !important;
    }
}



 

nav {
    font-family: $soleto-medium;
    

    li {
        margin-bottom: 0;    
        line-height: 2.25;
    }

    &.primary {
        padding: 40px 0;
        -moz-column-count: 2;
        -moz-column-gap: 20px;
        -webkit-column-count: 2;
        -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;

        a {
            color: $brand;
            @include font-size(16px);
        }
    }

    
    &.secondary {
        padding: 40px 0;
        ul {
            margin-bottom: 0;
        }
        a {
            color: $brand;
            @include font-size(14px);
        }
    }
}



.footer-copy {

    @media only screen and (max-width: $screen-sm-max) {
        margin-bottom: 20px;
    }
    p { 
        color: $slate-light;
        font-family: $soleto-light;
        float: right;
        padding: 24px 0;
        margin-bottom: 0;
        @include font-size(14px);
        @media only screen and (max-width: $screen-sm-max) {
            width: 100%;
            margin: auto;
            text-align: center;
        }
        
    }
}
