// Header bars

#header-bar {
    background-color: $white;
    user-select: none;
    transition: top .2s;
    transition-timing-function: ease-out;
    position: fixed;
    padding: 0;
    width: 100%;
    top: 0;
    z-index: 100;
    height: 110px;
    border-bottom: 1px solid $mist-light;

    // Move the header bar up on scroll
    @media only screen and (min-width: $screen-md-min) {
        .content-scrolled &{
          top: -110px;
        }
    }

    .container-header {
        padding: 0 40px;
    }


    .master-logo {
        float: left;
        width: auto;
        display: inline-block;
        position: relative; 
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 37px;
        height: 110px;

        .content-scrolled &{
            //padding-top: 52px;
        }

        // Reduce the logo icon size when page has scrolled
        .icon {
            display: block;
            transition: all .3s;

            .content-scrolled &{
                // width: 130px;
                // height: 32px;
                // background-size: 130px 32px;
            }
        }
    }
}