/// Mobile Menu ///

body {
	&.mobile-menu-open {
		overflow: hidden;

		.body-content {
			left: 80%;
		}
	}

	.body-content {
		left: 0;
		-webkit-transition: left .3s;
                transition: left .3s;
	}
}

#mobileMenu {
	user-select: none;
	background-color: $white;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 100%;
	width: 80%;
	height: 100%;
	z-index: 998;
	border-right: 2px solid $mist;
	-webkit-transition: right .3s;
	        transition: right .3s;
    padding: 83px 25px 23px 25px;
    overflow-x: hidden;
    overflow-y: auto;

    &.is-open {
		right: 20%;
    }

	ul {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;

			&.search-panel {
				position: relative;

				input {
					width: 100%;
					border-radius: 30px;
					border: 2px solid $mist;
					padding: 0 22px;
					font-size: 14px;
					line-height: 40px;
					margin-bottom: 10px;
					outline: none;
				}

				.btn {
					position: absolute;
					right: 5px;
					top: 4px;
					width: 36px;
					height: 36px; 
					display: block;
					min-width: 0;
					padding: 0;
				}
			}

			&.primary {
				position: relative;
				margin: 0 -25px;

				a {
					font-size: 16px;
					line-height: 16px;
					font-family: $soleto-medium;
					padding: 20px 25px 11px 25px;
					border-bottom: 1px solid $grey;
				}

				ul {
					display: none;
					list-style-type: none;
					background-color: $mist-light;
					border-bottom: 1px solid $grey;

					li {
						margin-left: 25px;

						&:last-child {
							a {
								border-bottom: 0;
							}
						}

						a {
							font-family: $soleto-regular;
							font-size: 15px;
							line-height: 18px;
						}
					}
				}
			}

			&.secondary {
				position: relative;
				margin: 0 -25px;

				&.first-item {
					margin-top: 20px;
				}

				a {
					font-size: 13px;
					line-height: 16px;
					font-family: $soleto-regular;
					padding: 20px 25px 11px 25px;
				}

				ul {
					display: none;
					list-style-type: none;
					border-top: 1px solid $mist;
					border-bottom: 1px solid $mist;

					li {
						margin-left: 45px;

						&:last-child {
							a {
								border-bottom: 0;							
							}
						}

						a {
							font-size: 12px;
							line-height: 18px;
							border-bottom: 1px solid #e8e8e9;
							padding: 20px 25px 11px 0;
						}
					}
				}
			}

			a {
				font-family: $soleto-regular;
				color: $black;
				text-decoration: none;
				display: block;
				line-height: 1.15em;
				outline: none;

				&.has-subnav {
					background-image: url(../images/icons/icon-chevron-down.png);
					background-image: url(../images/icons/svg/icon-chevron-down.svg);
					background-repeat: no-repeat;
					background-size: 17px 9px;
					background-position: right 25px top 23px;

					&.is-open {
						background-image: url(../images/icons/icon-chevron-up.png);
						background-image: url(../images/icons/svg/icon-chevron-up.svg);
					}
				}
			}
		}
	}
}
