/// Modules ///


// gen 3
// global settings for module structure


//section
.module {

    position: relative;
    
    [class*="col-"] {
        padding: 20px 0 20px 0;
        margin: 20px 0 0 0;
        @media (min-width: $screen-sm) {
            padding: 40px 0 40px 0;
            margin: 0px 0 0px 0;
        }
    }

    //- for all cols=12 => lg 
    [class*="-12"]:not[class*="-xs"],
    [class*="-12"]:not[class*="-sm"],
    [class*="-12"]:not[class*="-md"] {
        .module-inner {
            width: auto;
            @media (min-width: $screen-lg) {
                width: 75%;
            }
        }  
    }

    // signifies a module that has content outside (eg:header) and requires zero padding
    &.module-outer {
        
        padding: 20px 0;
        @media (min-width: $screen-sm) {
            padding: 40px 0;
        }

        [class*="col-"] {
            @media (min-width: $screen-sm) {
                padding: 0;
                margin: 10px 0;
            }
        }
 

        .module-inner {
            padding: 20px;
            @media (min-width: $screen-sm) {
                padding: 25px;
            }
            @media (min-width: $screen-md) {
                padding: 40px;
            }
        }
    }
    
    
    &.module-bleed  {
        .container {
            padding-left: 0;
            padding-right: 0;
            @media (min-width: $screen-xs) {
                padding-left: inherit;
                padding-right: inherit; 
            }

            [class*="col-"] {
                padding-left: 35px;
                padding-right: 35px;
                margin: 0;
                @media (min-width: $screen-sm) {
                    padding: inherit;
                    margin: 0;
                }
            }
        }


    }

    &.module--has-cols {
        [class*="col-"] {
            padding-left: 0;
            padding-right: 0;
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }
    }


    //module gutter 
    &.module-gutter {
        div[class^="col-"]:not(:first-child) { 
            margin-left: 0px; 
            @media (min-width: $screen-md) {
                margin-left: 9px;
            }
        } 
        div[class^="col-"]:not(:last-child) { 
            margin-right: 0px; 
            @media (min-width: $screen-md) {
                margin-right: 9px;
            } 
        }

        // nested = zero
        .row-inner {
            div[class^="col-"] {
               margin: 0;     
            }
        }
    }

    //module gutter 
    &.module-gutter-sm {
        div[class^="col-"]:not(:first-child) { 
            margin-left: 0px; 
            @media (min-width: $screen-sm) {
                margin-left: 9px;
            }
        } 
        div[class^="col-"]:not(:last-child) { 
            margin-right: 0px; 
            @media (min-width: $screen-sm) {
                margin-right: 9px;
            } 
        }

        // nested = zero
        .row-inner {
            div[class^="col-"] {
               margin: 0;     
            }
        }
    }

    .module-inner {
        padding: 20px 0;
        @media (min-width: $screen-sm) {
            padding: 40px;
        }
    }

    // specifically set for two rows of modules contained within each section tag
    .container + .container {
        margin-top: 40px;
    }

    

}

 


// gen 2 - use as needed

.module--large {

    @media (min-width: $screen-sm-min) {
        min-height: 530px;
    }
}

.module--outer-bg {
    background: url(../images/outer-bg.png) repeat-y 0 0;
}


.module__title {
    font-family: $soleto-light;
    font-size: $font-size-h2;
    margin: 0 0 50px;

    @media (max-width: $screen-sm-min) {
        font-size: $font-size-h3;
        margin: 0 0 25px;
    }
}

.module__link {
    display: block;
    .icon {
        margin-left: 10px;
    }
    @media (min-width: $screen-xs-min) {
        margin-bottom: 20px;
    }
}


.module__sub-title {

}

.module__content {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    
    @media (min-width: $screen-sm-min) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    @media (min-width: $screen-md-min) {
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: $screen-lg-min) {
        padding-left: 35px;
        padding-right: 35px;
    }

    @media (min-width: 1000px) {

        padding-left: 35px;
        padding-right: 35px;
    }

}

.module__content--small {
    padding-top: 35px;
    padding-bottom: 45px;
}

.module__content--large {
    padding-top: 95px;
    padding-bottom: 105px;
}

.module__content--margin {
    margin: 20px 0;
}

// Section
.section-border {
    border-bottom: 24px solid $orange;
}

// Well

.well {

    h1, h2, h3, .h1, .h2, .h3 {

        &:first-child {
            margin-top: 0;
        }
    }
}