// Start Content section - 3 column
section(class="module module--outer-bg bdb-linen-10", id="help-us-create-a-brighter-future")
    .container.module__content.bg-white
        h2(class="module__title") Creating a brighter future
        .row
            .col-sm-6.col-md-4
                p Our employees are at the heart of what we deliver to our members. Based on the rich pedigree that fuels our new identity, we are forging ahead with energy and enthusiasm to deliver a new standard and efficiency of health care to the next stage of the industry’s evolution. The Vizient story is just beginning and we need a dedicated team to help make our vision a reality. To achieve this, we need great people to join us and help shape this brighter future.
                button.btn.btn-default Careers at Vizient
            .col-sm-6.col-md-4
                img(class="mb-15", src="images/sample/image-964@2x.png")
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim quasi nemo voluptatibus placeat, doloremque vel nihil necessitatibus aut totam id, asperiores quaerat iure quas inventore, repellat non iusto culpa aliquam.
            .col-sm-12.col-md-4
                +pullquote({classes: "styled", text:"I’m only as strong as my team. Infusing the right balance of business and positivity keeps our employees on the right track.", imgURL:"images/sample/bio-head-two@3x.png", name: "Chris Hatwig", title: "President at Apexus"})
// End Content section - 3 column