// Start Purple standout content section - 3 column 
section(class="bg-scampi module", id="our-history")
    .container.module__content
        h2(class="white") A brief history of Vizient
// End Purple standout content section - 3 column 
