// START: CN05 v4  
section(class="module module-outer module-gutter-md cn05 cn05__v4 bg-mist-lightest")
	.container
		h3 Related news &amp; insights
		.row.row-eq-height-md
			.col-xs-12.col-md-4.eq-height.bg-purple
				.module-inner
					p.metadata-eyebrow Newsletter
					p.metadata-byline Issue 1 • February 2016
					p.e28
						a(href="#") Clinical &amp; performance improvement
							span.icon.icon-arrow-right-white.ml-10
					p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod.  
					p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod.  
			.col-xs-12.col-md-4.eq-height.bg-white
				.module-inner
					p.metadata-eyebrow Insight 
					ul.list-unstyled.news-items
						li
							.metadata-byline 7 July 2016
							a(href="#", title="Another relevant title of content goes here")
								.e20 Another relevant title of content goes here
							img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
							span.metadata-byline By Byron Jobe
						li
							.metadata-byline 7 July 2016
							a(href="#", title="Another relevant title of content goes here")
								.e20 Another relevant title of content goes here
							img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
							span.metadata-byline By Byron Jobe	
			.col-xs-12.col-md-4.eq-height.bg-white.bc-orange
				.module-inner
					ule-inner
					p.metadata-eyebrow Press release 
					ul.list-unstyled.news-items
						li
							.metadata-byline 7 July 2016
							a
								.e20 Another relevant title of content goes here
						li
							.metadata-byline 7 July 2016
							a
								.e20 Another relevant title of content goes here

					a(href="#", title="View all press releases", class="arrow-link") View all press releases 
						span.icon.icon-arrow-right.ml-10
// END: CN05 v4