// START: CN09 v1
section(class="module cn09 cn09__v1")
    .container
        .row
            .col-xs-12.col-sm-8
                h1 Title - cn09 v1
                p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
                ul.bold.bullets
                    li As health care becomes more outcomes-based
                    li Value analysis is more critical than ever.
                    li Vizient leverages strategic analytics and proven processes
                    li Combined with our consulting services, the Vizient ValueLYNX™
                h3 Automation that improves value analysis results
                p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
                p
                    a(href="#").btn See our story
                p
                    a(href="#").btn-block.mb-20
                        span.text-medium.font-small View all news and events
                            i.icon.icon-arrow-right.ml-10
