// START: CN05 v3 
// module-outer required as title exists outside of bootstrap cols 
section(class="module module-outer module-gutter-md cn05 cn05__v3 bg-mist-lightest")
	.container
		h3 Related news &amp; insights
		.row.row-eq-height-md
			.col-xs-12.col-md-4.eq-height.left-col.bg-purple
				.module-inner
					p.metadata-eyebrow Newsletter
					p.metadata-byline Issue 1 • February 2016
					p.e28
						a(href="#") Clinical &amp; performance improvement
							span.icon.icon-arrow-right-white.ml-10
					p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod.  
					p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod.  
			.col-xs-12.col-md-8.eq-height.right-col.bg-white
				.row.row-inner
					.col-xs-12.col-sm-6
						.module-inner
							p.metadata-eyebrow Insight from the blog
							div
								img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
								span.metadata-byline By Byron Jobe
							p.e28
								a(href="#") Clinical &amp; performance improvement
									span.icon.icon-arrow-right-white.ml-10
							p.metadata-byline 7 July 2016
							p With nearly all of the waste leaving a hospital originating from a purchasing decision, supply chain leaders are in a unique position to lead efforts that will reduce the supply chain leaders supply chain leaders ...
					.col-xs-12.col-sm-6
						.module-inner
							ul.list-unstyled.news-items.pt-55
								li
									img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
									span.metadata-byline By Byron Jobe
									a(href="#", title="Another relevant title of content goes here")
										.e20 Another relevant title of content goes here
									.metadata-byline 7 July 2016
								li
									img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
									span.metadata-byline By Byron Jobe
									a(href="#", title="Another relevant title of content goes here")
										.e20 Another relevant title of content goes here
									.metadata-byline 7 July 2016
// END: CN05 v3 		