// START: CN01 v2
// CN01 v2: 1 block - 2 equal columns - With video
section(class="module module-outer module-border cn01 cn01__v2")
	.container 
		.row.row-eq-height-sm
			.col-sm-6.eq-height
				// START: LOGGED IN USERS ONLY
				.rectangle  
					span.oval
					p For members
				// END: LOGGED IN USERS ONLY
				.module-inner
					p Case study
					h3
						a(href="#", class="module-link-arrow") Improving clinical performance at Think Forrest General Hospital
							span.icon.icon-arrow-right-white.ml-10
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mauris nulla, consectetur id aliquet in, porta id velit. Mauris ullamcorper, ex nec bibendum ultrices, est leo lobortis lectus, id condimentum dolor ligula quis mi. Maecenas efficitur maximus ex, a congue felis. Cras pharetra rhoncus iaculis. Donec at sagittis eros. Phasellus gravida ex ante, sed lacinia lacus consectetur id.
					a(href="#", class="module-link") View all clinical case studies
						span.icon.icon-arrow-right-white.ml-10
			.col-sm-6.eq-height
				.bg-image(style="background-image: url('images/cn01_v2.jpg')", alt="Description of image")
				.rectangle-3
					span.icon-video-play-white
// END: CN01 v2