// START: CN02 v2
section(class="module module-bleed cn02 cn02__v1")
    .container
        .row.row-eq-height-md
            .col-md-6.eq-height.left-col
                .module-inner
                    p.metadata-eyebrow Why Vizient?
                    h3 Vizient provides health care solutions that make a difference
                    p Vizient™ combines the strengths of VHA, University HealthSystem Consortium, Novation and MedAssets SCM and Sg2, trusted leaders focused on solving health care's most pressing challenges. We allow you to focus on what you do best: delivering exceptional, cost-effective care.
                    a(href="#", title="View all press releases", class="arrow-link") View all press releases 
                        span.icon.icon-arrow-right.ml-10
                .arrow.arrow-right.arrow-white

            .col-md-6.eq-height.bg-mist-light
                .module-inner.clearfix
                    p.pull-quote__text Better care leads to a better quality of life for everyone. With the collaborative power of Vizient’s expertise, solutions and unique insights, together we can achieve something greater.
                    div.author-block
                        div.author-desc
                            span.text-bold Curt Nonomaque
                            span President and CEO, Vizient
                        div.avatar
                            img.avatar-md(src="images/avatars/byron.png", alt="Byron Jobe")
                
// END: CN06 v5