section(class="module module-outer module-border cn03 cn03__v1 bg-mist-lightest pb-0")
	.container
		.row.dot-border.row-eq-height-sm
			.col-sm-8.eq-height.bg-white 
				.module-inner
					p.metadata-byline Program
					h3
						a(href="#") Impact standardization
							span.icon.icon-arrow-right.ml-10
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.col-sm-4.eq-height.bg-mist
				.module-inner
					p.figure
						span $200bn
					p.italic In 2014, Vizient SupplyNetworks™ delivered a combined savings of more than $267 million on $7 billion in network contract spending.
				.arrow.arrow-left.arrow-small-up.arrow-mist

section(class="module module-outer module-gutter-sm pb-0 bg-mist-lightest js-content-loader", id="content-region-1", data-show-items="2")
	section(class="module cn03__v5 bg-mist-lightest")
		.container
			.row.row-eq-height-sm
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Product
						h4
							a(href="#") PriceLYNX™
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Program
						h4
							a(href="#") Impact standardization
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Program
						h4
							a(href="#") Impact standardization
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further. 		
	section(class="module cn03__v5 bg-mist-lightest")
		.container
			.row.row-eq-height-sm
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Product
						h4
							a(href="#") PriceLYNX™
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Program
						h4
							a(href="#") Impact standardization
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Program
						h4
							a(href="#") Impact standardization
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further. 
	section(class="module cn03__v5 bg-mist-lightest")
		.container
			.row.row-eq-height-sm
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Product
						h4
							a(href="#") PriceLYNX™
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Program
						h4
							a(href="#") Impact standardization
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
				.col-sm-4.eq-height.dash-border.bg-white
					.module-inner
						p.metadata-byline Program
						h4
							a(href="#") Impact standardization
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further. 
		
section(class="module bg-mist-lightest")
	.row
		.col-sm-12.align-center
			a(href="#content-region-1", id="cn03__v7__cta", class="btn btn-primary js-content-loader-trigger") Load more
