// START: CN09 v1
section(class="module module-outer cn09 cn09__v1")
	.container
		.row.clearfix
			.col-xs-12.col-md-7
				h3 Main heading of section
				
				p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.

				ul.bullets
					li 
						p.bold As health care becomes more outcomes-based
						p As health care becomes more outcomes-based, value analysis is more critical than ever.
					li 
						span.bold Value analysis is more critical than ever.
						p Value analysis is more critical than ever, value analysis is more critical than ever.
				
				h4 Subheading within a paragraph
				
				p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
				
				hr
				
				h3 Automation that improves value analysis results
				
				p.pr-60 As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.

				p.dot-border.dot-border-left Our leaders were very impressed with what we had accomplished with Vizient PriceLYNX and Vizient PharmaLYNX appeared to be very similar. Everyone was really excited about the potential it held for our health system.
			
				figure
					.bg-image(style="background-image: url('images/cn09.jpg')", alt="Description of image")
					figcaption.img-caption Source: Getty images
				
				p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.

				p
					a(href="#").btn-block.mt-60
						span.text-medium.font-small View our solutions &amp; products
							span.icon.icon-arrow-right.ml-10
				p
					a(href="#").btn.mt-20.mb-20 See our story

			.col-xs-12.col-md-4.col-md-push-1
				include _cn16__v1
				include _nv08__v2

// END: CN09 v1