// START: CN04 v1
section(class="module module-bleed cn04 cn04__v1")
	.container
		.row.row-eq-height-md
			.col-md-6.eq-height
				a.video-play(href="#")
					img(src="images/cn04.jpg" alt="Description of image here")
			.col-md-6.eq-height
				.row
					.col-sm-9.col-md-10.col-sm-push-1.col-lg-9
						p.metadata-eyebrow Video
						h4 How Physician Preference Items Can Help Reduce Healthcare Costs
						p Rand Ballard, chief customer officer, explains how Vizient helps members drive out costs with solutions that go far beyond just price.
						.meta-details
							time 5:07 mins
							a(href="#") Download transcript
								span.icon.icon-download-white.ml-10

// END: CN04 v1