// START CN08 v1
section(class="module module-bleed cn8 cn8__v1 bg-mist-lightest")
	.container
		.row.row-eq-height-md
			.col-xs-12.col-md-6.eq-height
				.module-inner
					article
						p.metadata-eyebrow Featured

						h3
							a(href="#", title="") Launching Savings Actualizer
								span.icon.icon-arrow-right.ml-10
												
						p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.

						ul
							li(class="bold") Bullet point of what this solution does
							li(class="bold") Another bullet point of what this solution does
							li(class="bold") Another key advantage of this solution to get you to click
				
				.arrow.arrow-right.arrow-mist-lightest

			.col-xs-12.col-md-6.eq-height
				// INLINE STYLE FOR CMS
				.bg-image(style="background-image: url('images/cn05-v5.jpg')", alt="Description of image")
// END CN08 v1