// START: CN03 v3
section(class="module module-outer cn03 cn03__v3")
	.container
		.row.dot-border
			.col-sm-12
				.module-inner.reduce-width
					p.metadata-byline Program
					h3
						a(href="#", class="module-link-arrow") Impact standardization
							span.icon.icon-arrow-right.ml-10
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus laci. 
// END: CN03 v3