// START: CN03 v1
section(class="module module-outer module-border cn03 cn03__v1")
	.container 
		.row.dot-border.row-eq-height-sm
			.col-sm-8.eq-height
				.module-inner
					p.metadata-byline Program
					h3
						a(href="#", class="module-link-arrow") Impact standardization
							span.icon.icon-arrow-right.ml-10
					// MAX CHARS 400
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus laci. 
			.col-sm-4.eq-height
				//- .arrow.arrow-right.arrow-mist
				.module-inner
					p.figure
						span $200bn
					p.italic In 2014, Vizient SupplyNetworks™ delivered a combined savings of more than $267 million on $7 billion in network contract spending.
// END: CN03 v1