// START: CN03 v6 [v1 + v5]
// START: CN03 v1: 1 block - 2 different columns - Arrow box - Yellow solid border
section(class="module module-outer module-border cn03 cn03__v1")
	.container
		h3 CN03 v6
		.row.dot-border.row-eq-height-sm
			.col-sm-8 
				.module-inner
					p.metadata-byline Program
					h3
						a(href="#") Impact standardization
							span.icon.icon-arrow-right.ml-10
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					a(href="#") View all of our networks
							span.icon.icon-arrow-right.ml-10
			.col-sm-4
				.arrow
				.module-inner
					p.figure
						sup $
						span 200
						sub bn
					p In 2014, Vizient SupplyNetworks™ delivered a combined savings of more than $267 million on $7 billion in network contract spending.
// END: CN03 v1
// START: CN03 v5
// CN03 v5: 3 blocks 
section(class="module module-outer module-gutter-sm cn03 cn03__v5")
	.container 
		.row.row-eq-height-sm
			.col-sm-4.dash-border
				.content
					.module-inner
						p.metadata-byline Product
						h4
							a(href="#") PriceLYNX™
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
			.col-sm-4.dash-border
				.content
					.module-inner
						p.metadata-byline Program
						h4
							a(href="#") Impact standardization
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
			.col-sm-4.dash-border
				.content
					.module-inner
						p.metadata-byline Program
						h4
							a(href="#") Impact standardization
								span.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further. 