// START: CN06 v2
section(class="module module-bleed cn06 cn06__v2")
    .container
        .row.row-eq-height-md
            .col-sm-12.col-md-6.left-col
                .module-inner
                    h3 Automation that improves value analysis results
                    p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
            .col-sm-12.col-md-6.right-col
                .module-inner
                  figure(class="chart-container chart-small")
                    .chart(data-line-width="8", data-percent="36%", data-size="120")
                      span(class="chart-percentage") 36
                    figcaption(class="chart-caption")
                      p(class="italic") Benefit statement and data point that builds trust for this solution that is short and succinct

                  figure(class="chart-container chart-small")
                    .chart(data-line-width="8", data-percent="72%", data-size="120")
                      span(class="chart-percentage") 72
                    figcaption(class="chart-caption")
                      p(class="italic") Benefit statement and data point that builds trust for this solution that is short and succinct
// END: CN06 v2