// START: CN02 v4
// CN02 v4: 1 block 
section(class="module module-bleed cn02 cn02__v4")
	.container
		.row
			.col-xs-11.col-md-8
				.module-inner
					p.metadata-eyebrow Our mission
					h2 Promo title
					p.description At Vizient, we strive to help members solve the challenges we know affect the quality of clinical care and operational efficiency, making sure it is never compromised. Our consulting arm provides members with valuable data and insights and advisory services that are unmatched in the industry.
					a(href="#", class="module-link") View all clinical case studies
						span.icon.icon-arrow-right-white.ml-10
// END: CN01 v1