// START: CN01 v1
// CN01 v1: 1 block - 2 equal columns - With image - 
section(class="module module-outer module-border cn01 cn01__v1")
	.container
		h3 CN01 v1
		.row.row-eq-height-sm
			.col-sm-6.eq-height 
				.bg-image(style="background-image: url('images/cn01.jpg')", alt="Description of image")
			.col-sm-6.eq-height 
				.rectangle 
					span.oval
					p For members

				.module-inner
					p Case study
					h3
						a(href="#", class="module-link-arrow") Improving clinical performance at Think Forrest General Hospital
							span.icon.icon-arrow-right-white.ml-10
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mauris nulla, consectetur id aliquet in, porta id velit. Mauris ullamcorper, ex nec bibendum ultrices, est leo lobortis lectus, id condimentum dolor ligula quis mi. Maecenas efficitur maximus ex, a congue felis. Cras pharetra rhoncus iaculis. Donec at sagittis eros. Phasellus gravida ex ante, sed lacinia lacus consectetur id.
					a(href="#", class="module-link") View all clinical case studies
						span.icon.icon-arrow-right-white.ml-10
// END: CN01 v1