// START: CN01 v3
// CN01 v3: 1 block - 2 equal columns - With Quote
section(class="module module-bleed module-border cn01 cn01__v3")
	.container
		.row.row-eq-height-sm
			.col-sm-6.eq-height.bg-purple
				// START: LOGGED IN USERS ONLY
				//- .rectangle  
				//- 	span.oval
				//- 	p For members
				// END: LOGGED IN USERS ONLY
				.module-inner
					p Case study
					h3
						a(href="#", class="module-link-arrow") Improving clinical performance at Think Forrest General Hospital
							span.icon.icon-arrow-right-white.ml-10
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mauris nulla, consectetur id aliquet in, porta id velit. Mauris ullamcorper, ex nec bibendum ultrices, est leo lobortis lectus, id condimentum dolor ligula quis mi. Maecenas efficitur maximus ex, a congue felis. Cras pharetra rhoncus iaculis. Donec at sagittis eros. Phasellus gravida ex ante, sed lacinia lacus consectetur id.
					a(href="#", class="module-link") View all clinical case studies
						span.icon.icon-arrow-right-white.ml-10
			.col-sm-6.eq-height.bg-green
				.module-inner.clearfix
					p.pull-quote__text-turquoise Better care leads to a better quality of life for everyone. With the collaborative power of Vizient’s expertise, solutions and unique insights, together we can achieve something greater.
					div.author-block
						div.author-desc
							span.text-bold Curt Nonomaque
							span President and CEO, Vizient
						div.avatar
							img.avatar-md(src="images/avatars/byron.png", alt="Byron Jobe")
// END: CN01 v3
