// START: CN09 v1
section(class="module cn09 cn09__v1")
    .container
        .row.clearfix
            .col-xs-12.col-md-7
                    h3 Main heading of section
                    p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
            .col-xs-12.col-md-4.dot-border

                p.figure
                    span $865,000
                p.italic Savings in 18months with Vizient PharmaLYNX™

            .col-xs-12.col-md-8
                ul.bullets
                    li 
                        p.bold As health care becomes more outcomes-based
                        p As health care becomes more outcomes-based, value analysis is more critical than ever.
                    li 
                        span.bold Value analysis is more critical than ever.
                        p Value analysis is more critical than ever, value analysis is more critical than ever.
            .col-xs-12.col-md-8
                    h3 Subheading within a paragraph
                    p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
            //- .col-xs-12.col-md-8
            //-         h3 Automation that improves value analysis results
            .col-xs-12.col-md-8
                    h3 Automation that improves value analysis results
                    p.pr-60 As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
            .col-xs-12.col-md-4
                    p.pull-quote__text-turquoise Better care leads to a better quality of life for everyone. With the collaborative power of Vizient’s expertise, solutions and unique insights, together we can achieve something greater.
                    div.author-block
                        div.author-desc
                            span.text-bold Delana Barit
                            span President and CEO, Vizient
                        div.avatar
                            img.avatar-md(src="images/avatars/byron.png", alt="Byron Jobe")
            .col-xs-12.col-md-8
                    p.dot-border.dot-border-left Our leaders were very impressed with what we had accomplished with Vizient PriceLYNX and Vizient PharmaLYNX appeared to be very similar. Everyone was really excited about the potential it held for our health system.
            .col-xs-12.col-md-8
                .bg-image(style="background-image: url('images/cn09.jpg')", alt="Description of image")
                .img-caption Source: Getty images
            .col-xs-12.col-md-8
                p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.

                p
                    a(href="#").btn-block.mt-60
                        span.text-medium.font-small View our solutions & products
                            span.icon.icon-arrow-right.ml-10
                p
                    a(href="#").btn.mt-20.mb-20 See our story
            //- .col-md-8
            //-     ul.list-unstyled.share-icons
            //-         li.share__icon
            //-             a(href="#")
            //-                 span.icon.icon-share-email
            //-         li.social-icons__icon
            //-             a(href="#")
            //-                 span.icon.icon-new-window
            //-         li.social-icons__icon
            //-             a(href="#")
            //-                 span.icon.icon-new-window
            //-         li.social-icons__icon
            //-             a(href="#")
            //-                 span.icon.icon-new-window
            //-         li.social-icons__icon
            //-             a(href="#")
            //-                 span.icon.icon-new-window
            //-         li.social-icons__icon
            //-             span.download Download PDF (1.4MB)
            //-             a(href="#")
            //-                 span.icon.icon-new-window 




// END: CN09 v1