// START: CN06 v5
section(class="module module-bleed cn06 cn06__v5")
    .container
        .row.row-eq-height-md
            .col-md-6.col-md-push-6.eq-height
              // INLINE STYLE FOR CMS
              .bg-image(style="background-image: url('images/cn05-v5.jpg')", alt="Description of image")

            .col-md-6.col-md-pull-6.eq-height.left-col
                .module-inner
                    h3 Automation that improves value analysis results
                    p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
// END: CN06 v5