// START: CN03 v5
// CN03 v5: 3 blocks 
section(class="module module-outer module-gutter-sm cn03 cn03__v5")
	.container
		h3 cn03 v5
		.row.row-eq-height-sm
			.col-sm-4.dash-border
				.content
					.module-inner
						p.metadata-byline Product
						h3
							a(href="#") PriceLYNX™
								i.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
			.col-sm-4.dash-border
				.content
					.module-inner
						p.metadata-byline Program
						h3
							a(href="#") Impact standardization
								i.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
			.col-sm-4.dash-border
				.content
					.module-inner
						p.metadata-byline Program
						h3
							a(href="#") Impact standardization
								i.icon.icon-arrow-right.ml-10
						p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further. 