// START: CN02 v2
section(class="module module-bleed cn02 cn02__v2")
	.container
		.row.row-eq-height-md
			.col-md-6.col-md-push-6.eq-height
				// INLINE STYLE FOR CMS
				.bg-image(style="background-image: url('images/cn05-v5.jpg')", alt="Description of image")
				
			.col-md-6.col-md-pull-6.eq-height.left-col
				.module-inner
					p.metadata-eyebrow Why Vizient?
					h3 Vizient provides health care solutions that make a difference
					p Vizient™ combines the strengths of VHA, University HealthSystem Consortium, Novation and MedAssets SCM and Sg2, trusted leaders focused on solving health care's most pressing challenges. We allow you to focus on what you do best: delivering exceptional, cost-effective care.
					a(href="#", title="View all press releases", class="arrow-link") View all press releases 
						span.icon.icon-arrow-right.ml-10
				.arrow.arrow-right.arrow-small-up.arrow-white

// END: CN06 v5