// START CN06 v6
section(class="module cn06 cn06__v6 bg-yellow")
    .container
        .row
            .col-sm-12.col-md-7
                    h3 Overview
                    
                    p WellStar Health System needed to more quickly identify and achieve pharmacy savings to reach its overall savings goal. Pharmacy staff members lacked visibility into medication pricing at other hospitals and recent staffing changes left little time to focus on decreasing costs.

                    p VHA PharmaLYNX™ provided a clear picture of medication pricing to benchmark performance against other hospitals. It also offered access to an advisory services consultant to help interpret results, access powerful analytics and develop plans to implement opportunities more quickly. 
            
            .col-sm-6.col-md-4.col-md-push-1
                    .metadata-eyebrow Jump to
                    ul.list-unstyled
                        li
                            a(href="#", title="First link title goes here") The challenge
                                span.icon.icon-arrow-down-grey.ml-10
                        li
                            a(href="#", title="Second link title goes here") The solution
                                span.icon.icon-arrow-down-grey.ml-10
                        li
                            a(href="#", title="Third link title goes here") Results
                                span.icon.icon-arrow-down-grey.ml-10
                        li
                            a(href="#", title="Third link title goes here") Download PDF (1.4MB)
                                span.icon.icon-download-grey.ml-10