// START: CN03 v2
// CN03 v2: 1 block - 2 equal columns - With image - Yellow solid border
section(class="module module-outer module--has-cols cn03 cn03__v2")
	.container.tablet-portrait-stack-image
		h3 CN03 v2: 1 block - 2 equal columns - With image - Yellow solid border
		p WIP
		.row
			.dot-border
				.content.clearfix
					.col-sm-6
						.module-inner
							p.metadata-byline Program
							h3
								a(href="#") Impact standardization
									i.icon.icon-arrow-right.ml-10
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							p
								a(href="#") View all of our networks
									i.icon.icon-arrow-right.ml-10
					.col-sm-6
						img(style="background-image:url('/images/cn03.png');")