// START: CN04 v3
section(class="module module-bleed cn04 cn04__v3")
	.container
		.row.row-eq-height-md
			.col-md-6.eq-height.bg-turquoise-dark
				a.video-play(href="#")
					img(src="images/cn04.jpg" alt="Description of image here")
				.row
					.col-sm-10.col-sm-push-1.col-lg-8.col-lg-push-2
						p.metadata-eyebrow Videos
						h4
							a(href="#") How Physician Preference Items Can Help Reduce Healthcare Costs
						.meta-details
							time 5:07 mins
							a(href="#") Download transcript
								span.icon.icon-download-white.ml-10
			.col-md-6.eq-height
				.row
					.col-xs-6.col-sm-3.col-md-4.col-md-push-1.col-lg-3
						a.video-play.video-play-small(href="#")
							img(src="images/video_thumb_1.jpg" alt="Description of image here")
					.col-xs-6.col-sm-8.col-md-6.col-lg-5.col-md-push-1
						h6
							a(href="#") How Physician Preference Items Can Help Reduce Healthcare Costs
						.meta-details
							time 5:07 mins
							a(href="#") Download transcript
								span.icon.icon-download.ml-5
				.row
					.col-xs-6.col-sm-3.col-md-4.col-md-push-1.col-lg-3
						a.video-play.video-play-small(href="#")
							img(src="images/video_thumb_2.jpg" alt="Description of image here")
					.col-xs-6.col-sm-8.col-md-6.col-lg-5.col-md-push-1
						h6
							a(href="#") How Physician Preference Items Can Help Reduce Healthcare Costs
						.meta-details
							time 5:07 mins
							a(href="#") Download transcript
								span.icon.icon-download.ml-5
				.row
					.col-xs-6.col-sm-3.col-md-4.col-md-push-1.col-lg-3
						a.video-play.video-play-small(href="#")
							img(src="images/video_thumb_3.jpg" alt="Description of image here")
					.col-xs-6.col-sm-8.col-md-6.col-lg-5.col-md-push-1
						h6
							a(href="#") How Physician Preference Items Can Help Reduce Healthcare Costs
						.meta-details
							time 5:07 mins
							a(href="#") Download transcript
								span.icon.icon-download.ml-5
				.row.mb-40
					.col-xs-6.col-sm-3.col-md-4.col-md-push-1.col-lg-3
						a.video-play.video-play-small(href="#")
							img(src="images/video_thumb_4.jpg" alt="Description of image here")
					.col-xs-6.col-sm-8.col-md-6.col-lg-5.col-md-push-1
						h6
							a(href="#") How Physician Preference Items Can Help Reduce Healthcare Costs
						.meta-details
							time 5:07 mins
							a(href="#") Download transcript
								span.icon.icon-download.ml-5

// END: CN04 v3