// START: CN03 v3b
// CN03 v3b: 1 block - Grey dashed border
section(class="module module-outer cn03 cn03__v3")
	.container
		h3 CN03 v3b: 1 block - Grey dashed border
		.row
			.col-xs-12
				.content
					.module-inner
						p.metadata-byline Program
						h3
							a(href="#") Impact standardization
								i.icon.icon-arrow-right.ml-10
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.