section(class="module module-bleed js-content-loader", id="content-region-1", data-show-items="1")
	section(class="module cn8 cn8__v2")
		.container
			.row.row-eq-height-sm
				.col-xs-12.col-sm-6.eq-height
					.module-inner
						article(class="event")
							h3 
								a(href="#", title="") Spend and price analytics
									span.icon.icon-arrow-right.ml-10
								
							p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
					
				.col-xs-12.col-sm-6.eq-height
						.module-inner   
							article(class="event")
								h3
									a(href="#", title="") Managing cost utilization
										span.icon.icon-arrow-right.ml-10
								
								p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
	section(class="module cn8 cn8__v2")
		.container
			.row.row-eq-height-sm
				.col-xs-12.col-sm-6.eq-height
					.module-inner
						article(class="event")
							h3 
								a(href="#", title="") Spend and price analytics
									span.icon.icon-arrow-right.ml-10
								
							p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
					
				.col-xs-12.col-sm-6.eq-height
						.module-inner   
							article(class="event")
								h3
									a(href="#", title="") Managing cost utilization
										span.icon.icon-arrow-right.ml-10
								
								p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
	section(class="module cn8 cn8__v2")
		.container
			.row.row-eq-height-sm
				.col-xs-12.col-sm-6.eq-height
					.module-inner
						article(class="event")
							h3 
								a(href="#", title="") Spend and price analytics
									span.icon.icon-arrow-right.ml-10
								
							p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
					
				.col-xs-12.col-sm-6.eq-height
						.module-inner   
							article(class="event")
								h3
									a(href="#", title="") Managing cost utilization
										span.icon.icon-arrow-right.ml-10
								
								p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
	section(class="module cn8 cn8__v2")
		.container
			.row.row-eq-height-sm
				.col-xs-12.col-sm-6.eq-height
					.module-inner
						article(class="event")
							h3 
								a(href="#", title="") Spend and price analytics
									span.icon.icon-arrow-right.ml-10
								
							p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
					
				.col-xs-12.col-sm-6.eq-height
						.module-inner   
							article(class="event")
								h3
									a(href="#", title="") Managing cost utilization
										span.icon.icon-arrow-right.ml-10
								
								p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
 
section(class="module module-bleed")
	.container
		.row
			.col-xs-12.text-center
				.module-inner
					a(class="btn js-content-loader-trigger", href="#content-region-1", title="") View more supply chain solutions
