// START CN07 v1 
// module-outer required as title exists outside of bootstrap cols 
section(class="module module-gutter-sm mb-40 mt-20 cn07 cn07__v1")
  .container
    .row.row-eq-height-sm
      .col-xs-12.col-sm-6.eq-height
        .module-inner
          p.metadata-eyebrow Whitepaper
          p.e28
            a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p.metadata-byline June 2016
          p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non.
          a(href="#", class="bold") Download PDF (1.4MB) #[i.icon.icon-download]
      .col-xs-12.col-sm-6.eq-height
        .module-inner
          p.metadata-eyebrow Whitepaper
          p.e28
            a(href='#') Lorem ipsum dolor sit amet, consectetur adipiscing elit
          p.metadata-byline June 2016
          p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non.
          a(href="#", class="bold") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]