// START: CN06 v1
section(class="module module-bleed cn06 cn06__v1")
    .container
        .row.row-eq-height-md
            .col-sm-12.col-md-8.left-col
                .module-inner
                    h3 Title - cn06 v1
                    p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
                    p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages.
            .col-sm-12.col-md-4.right-col
                .module-inner
                    h5 Short list of benefits
                    ul.bold.bullets
                        li Bullet point of what this solution does
                        li Another bullet point of what this solution does
                        li Another key advantage of this solution to get you to click 