// START: cn05 v2
// Newsletter - 2 column boxes, 1 col spans 2 cols. 
// module-outer required as title exists outside of bootstrap cols 
section(class="module module-outer module-gutter cn05 cn05__v2")
	.container
		h3 Related insights [cn05 v2]
		.row.row-eq-height-md
			.col-xs-12.col-md-8.left-col
				.row.row-inner
					.col-xs-12.col-sm-6
						.module-inner
							p.metadata-eyebrow Insight
							div
								img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
								span.metadata-byline By Byron Jobe
							p.e28
								a(href="#") Clinical &amp; performance improvement
									span.icon.icon-arrow-right-white.ml-10
							p.metadata-byline 7 July 2016
							p With nearly all of the waste leaving a hospital originating from a purchasing decision, supply chain leaders are in a unique position to lead efforts that will reduce the supply chain leaders supply chain leaders ...
					.col-xs-12.col-sm-6
						.module-inner
							ul.list-unstyled.news-items
								li
									img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
									span.metadata-byline By Byron Jobe
									a(href="#", title="Another relevant title of content goes here")
										.e20 Another relevant title of content goes here
									.metadata-byline 7 July 2016
								li
									img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
									span.metadata-byline By Byron Jobe
									a(href="#", title="Another relevant title of content goes here")
										.e20 Another relevant title of content goes here
									.metadata-byline 7 July 2016
			.col-xs-12.col-md-4.right-col
				.module-inner
					p.metadata-eyebrow Press release 
					ul.list-unstyled.news-items
						li
							.metadata-byline 7 July 2016
							a
								.e20 Another relevant title of content goes here
						li
							.metadata-byline 7 July 2016
							a
								.e20 Another relevant title of content goes here

					a(href="#", title="View all press releases", class="arrow-link") View all press releases 
						span.icon.icon-arrow-right.ml-10
					