// START: CN03 v2
// CN03 v2: 1 block - 2 equal columns - With image - Yellow solid border
section(class="module module-outer module-border cn03 cn03__v2")
	.container.tablet-portrait-stack-image
		h3 CN03 v2 
		.row.dot-border
			.col-sm-6
				.module-inner
					p.metadata-byline Program
					h3
						a(href="#") Impact standardization
							span.icon.icon-arrow-right.ml-10
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a(href="#") View all of our networks
							span.icon.icon-arrow-right.ml-10
			.col-sm-6
				img(src="images/cn03.png", alt="Description of image")