// START: CN11 v5
section(class="module module-bleed module-stretch cn11 cn11__v5 bg-yellow banner banner-with-image")
    .container
        .row.row-eq-height-sm
            .col-xs-12.col-sm-4.col-sm-push-8.eq-height
                .module-inner
                    .bg-image(style="background-image: url('images/icons/icon-growthstrategy.png')", alt="Description of image")

            .col-xs-12.col-sm-8.col-sm-pull-4.eq-height
                .arrow.arrow-yellow
                .module-inner
                    a(class="link-back", href="#", title="") 
                        span.icon.icon-arrow-left-darkgrey
                        | Advisory
                    h1 Growth and strategy