// START CN10 v02
section(class="module cn10 cn10__v2 bg-image", style="background-image: url('images/cn10.jpg')")
	.container
		.module-inner.pl-0
			.row
				.col-xs-10.col-sm-6.col-md-5.ptb-0
					p.metadata-eyebrow Our approach
					h3 Efficiency and empathy working hand-in-hand
					p Through our networks, Vizient connects members with opportunities to learn, improve and build together. We help you adopt world-class practices and solutions more quickly and effectively, while balancing the demands of clinical care and financial performance. We help solve financial, operational and quality of care needs so you can focus on what matters: serving your patients and communities to drive a better quality of life.