// START: CN11 v11
section(class="module module-bleed module-stretch cn11 cn11__v10 bg-turquoise-dark banner")
	.container
		.row
			.col-xs-12.col-sm-10.col-md-9.col-lg-7
				.module-inner
					h1 Curt Nonamaque
					h5 Role title goes here
				.arrow.arrow-down.arrow-turquoise-dark