// V4
section(class="module module-outer module--has-cols cn12 cn12__v4")
    .container
        h3 Related events
        .row
            .col-xs-12.col-md-12
                .module-inner
                    article(class="event col-lg-9")
                        p.metadata-eyebrow Next Event
                        
                        p.metadata-byline 28-30 September 2016 • Dallas TX
                        
                        .event-description
                            h3 2016 Vizient Clinical Connections Summit
                            
                            p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
                            
                            a(href="#", title="View all events") View all events
                                span.icon.icon-arrow-right-white.ml-10