// START cn17 v4
section(class="module module-bleed cn17 cn17__v4")
	.container
		.row.row-eq-height-md
			.col-xs-12.col-md-6.eq-height.bg-mist-light
				.module-inner
					h3 The bid system

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus.

					p
						a.btn View the bid calendar 

				.arrow.arrow-right.arrow-mist-light

			.col-xs-12.col-md-6.eq-height.bg-mist-lightest
				.module-inner
					article
						
						p.metadata-eyebrow Past bid calendars

						ul(class="list-unstyled")
							li
								a(href="#", title="") 2016 bid calendar
									span.icon.icon-new-window.ml-10
							li
								a(href="#", title="") 2015 bid calendar
									span.icon.icon-new-window.ml-10
							li
// START cn17 v4