// START: CN11 v6
section(class="module module-bleed module-stretch cn11 cn11__v6 bg-purple banner")
	.container
		.row
			.col-xs-12.col-sm-10.col-md-10.col-lg-8
				.module-inner
					a(class="link-back", href="#", title="") Spend and Price analytics /
					
					h1 Physician downstream analyzer
				.arrow.arrow-down.arrow-purple
