// START: CN11 v7
section(class="module module-bleed module-stretch cn11 cn11__v7 bg-turquoise-dark banner")
	.container
		.row
			.col-xs-12.col-sm-10.col-md-9.col-lg-7
				.arrow.arrow-turquoise-dark
				.module-inner
					h1 Our Leadership