// START: CN11 v2
section(class="module module-bleed module-stretch cn11 cn11__v2 bg-turquoise-dark banner banner-with-image")
    .container
        .row.row-eq-height-sm
            .col-xs-12.col-sm-4.col-sm-push-8.eq-height
                .module-inner
                    .bg-image(style="background-image: url('images/icons/icon-padlock.png')", alt="Description of image")

            .col-xs-12.col-sm-8.col-md-7.col-lg-6.col-sm-pull-4.eq-height
                .module-inner
                    h1 What we do
                    h4 Trusted leaders focused on connecting cost with quality, where efficiency and empathy come together.
                .arrow.arrow-down.arrow-turquoise-dark