// START cn17 v3
section(class="module module-bleed cn17 cn17__v3 hg")
    .container
        .row.row-eq-height-md
            .col-xs-12.col-md-6.eq-height
                .module-inner
                    article

                        h3 Pharmacy
                                                
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. 

                        ul(class="list-unstyled")
                            li
                                a(href="#", title="", class="bold") View all supply chain solutions
                                    span.icon.icon-arrow-right.ml-10

            .col-xs-12.col-md-6.eq-height
                .module-inner
                    article

                        h3 Clinical
                                                
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. 
                        
                        p.metadata-eyebrow Popular solutions

                        ul(class="list-unstyled")
                            li
                                a(href="#", title="") Drug shortage mitigation strategies
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="") Accreditation
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="") Care team optimization
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="") Clinical cost management
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="") Improving patient experience
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="", class="bold") View all supply chain solutions
                                    span.icon.icon-arrow-right.ml-10
// END cn17 v4