// START: CN11 v2
section(class="module module-bleed cn11 cn11__v2 bg-purple hgt-medium")
    .container
        .row.row-eq-height-sm
            .col-xs-12.col-sm-4.col-sm-push-8.eq-height
                .module-inner
                    .bg-image(style="background-image: url('images/icons/icon-target.png')", alt="Description of image")

            .col-xs-12.col-sm-8.col-sm-pull-4.eq-height
                .arrow.arrow-purple
                .module-inner
                    h1 Our solutions
                    p Trusted leaders focused on connecting cost with quality, where efficiency and empathy come together.