// START CN14 v2
section(class="module module-outer module--has-cols cn14 cn14__v2")
    .container
        .row
            .col-xs-12.col-md-7.col-lg-8
                .row
                    .col-xs-12.bottom-dot-border
                        .module-inner
                            article(class="event col-lg-9")

                                time(class="calendar-date", datetime="2016-09-30")
                                    span(class="date") 30
                                    span(class="month") Sep
                                
                                .event-description.clearfix
                                    p.metadata-eyebrow Event
                                    p.metadata-byline 30 September 2016  •  Dallas TX
                                    h3.e20
                                        a(href="#", title="") 2016 Vizient Clinical Connections Summit
                                            span.icon.icon-arrow-right.ml-10
                    .col-xs-12.bottom-dot-border
                        .module-inner
                            article(class="event col-lg-9")

                                time(class="calendar-date", datetime="2016-09-30")
                                    span(class="date") 28
                                    span(class="month") Sep
                                
                                .event-description.clearfix
                                    p.metadata-eyebrow Event
                                    p.metadata-byline 28-30 September 2016  •  Dallas TX
                                    h3.e20
                                        a(href="#", title="") 2016 Vizient Clinical Connections Summit
                                            span.icon.icon-arrow-right.ml-10
                    .col-xs-12.bottom-dot-border
                        .module-inner
                            article(class="event col-lg-9")

                                time(class="calendar-date", datetime="2016-09-30")
                                    span(class="date") 30
                                    span(class="month") Sep
                                
                                .event-description.clearfix
                                    p.metadata-eyebrow Webinar
                                    p.metadata-byline 30 September 2016
                                    h3.e20
                                        a(href="#", title="") Opioid Stewardship Expert Panel - Vizient Opioid Performance Improvement Portfolio Campaign
                                            span.icon.icon-arrow-right.ml-10
                    .col-xs-12.bottom-dot-border
                        .module-inner
                            article(class="event col-lg-9")

                                time(class="calendar-date", datetime="2016-09-30")
                                    span(class="date") 28
                                    span(class="month") Sep
                                
                                .event-description.clearfix
                                    p.metadata-eyebrow Event
                                    p.metadata-byline 28 September 2016  •  Dallas TX
                                    h3.e20
                                        a(href="#", title="") 2016 Vizient Clinical Connections Summit
                                            span.icon.icon-arrow-right.ml-10
                .row
                    .col-xs-12
                        .module-inner
                            a.btn(href="#") Load more
            .col-xs-12.col-md-4.col-md-push-1.col-lg-3
                include _nv05__v3
// START CN14 v2                   