// START: CN11 v4
section(class="module module-bleed module-stretch cn11 cn11__v4 bg-purple banner banner-with-image")
	.container
		.row.row-eq-height-sm
			.col-xs-12.col-sm-5.col-sm-push-7.eq-height.ptb-0.pr-0
				.bg-image(style="background-image: url('images/patterns/bg-patterns-horizontal-green.png')", alt="Description of image")

			.col-xs-11.col-sm-7.col-lg-5.col-sm-pull-5.eq-height
				.arrow.arrow-purple
				.module-inner
					h1 Solutions for clinical leaders
