// START: CN11 v6
section(class="module cn11 cn11__v6")
    .container
        .row
            .col-xs-12
                .arrow.arrow-purple
                a(href="#") 
                    span.icon.icon-arrow-left-white.mr-10
                    span Spend and price analysis
                h1 Physician downstream analyzer
// END: CN11 v6