// V4
section(class="module module-bleed cn17 cn17__v4")
    .container
        .row.row-eq-height-md
            .col-xs-12.col-md-6.eq-height
                .arrow.arrow-left.arrow-mist-light
                .module-inner
                    h3 Collaboration networks make a difference

                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. 

              // INLINE STYLE FOR CMS
              //.bg-image(style="background-image: url('images/cn05-v5.jpg')", alt="Description of image")

            .col-xs-12.col-md-6.eq-height
                
                .module-inner
                    article

                        h3 Supply Chain
                                                
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. 
                        
                        p.metadata-eyebrow Popular solutions

                        ul(class="list-unstyled")
                            li
                                a(href="#", title="") Drug shortage mitigation shortages
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="") Accrediation
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="") Care team optimization
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="") Clinical cost management
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="") Improving patient experience
                                    span.icon.icon-arrow-right.ml-10
                            li
                                a(href="#", title="", class="bold") View all networks
                                    span.icon.icon-arrow-right.ml-10