// START: CN11 v6
section(class="module cn11 cn11__v3")
    .container
        .row
            .col-xs-12.col-sm-8.col-lg-10
                .arrow.arrow-purple
                h1.mb-15 Supply chain solutions

                p Optimise, and innovate your supply chain processes; from price analytics software, to collaborative programs for increased buying power.
// END: CN11 v6