// V1
section(class="module cn18 cn18__v1 bg-turquoise-dark")
    .container
        .row.row-eq-height-sm
            .col-xs-12.col-sm-4.eq-height.col-sm-push-8
                img(src="../images/icons/symbols/icon-people.png")

            .col-xs-12.col-sm-8.eq-height.col-sm-pull-4
                p.metadata-eyebrow Our networks

                h3.mb-15 Collaboration is key in the health care landscape lorem ipsum dolor et ami

                p We connect members to networks that boost quality and improve business to help deliver exceptional, cost-effective care.

                a(class="btn", href="#", title="") View all of our solutions