// START CN15 v1
section(class="module module-outer bg-mist-lightest cn15 cn15__v1")
    .container
            .row
                .col-md-10.col-lg-8
                    h3 A new company with deep roots
                    p Our legacy companies have a combined history of innovation and industry firsts. Click on each milestone to learn how we’ve paved new roads in the health care industry for nearly forty years.
                    ul.list-unstyled.timeline
                        li
                            input(type="checkbox" id="timeline_1")
                            label(for="timeline_1") 2016
                            .timeline_details
                                p
                                    strong Vizient makes bold move to establish global leadership
                                p Vizient acquires MedAssets’ Spend and Clinical Resource Management segment, including Sg2, positioning Vizient as the global leader in health care supply chain procurement, market intelligence, strategic analytics and comprehensive consulting services.
                        li.milestone
                            input(type="checkbox" id="timeline_2")
                            label(for="timeline_2") 2015
                            .timeline_details
                                p
                                    strong VHA, University HealthSystem Consortium, Novation become Vizient™
                                p Vizient enters the market, offering superior access to advanced analytics, collaboration networks, contracting and industry-leading practices.
                        li
                            input(type="checkbox" id="timeline_3")
                            label(for="timeline_3") 2013
                            .timeline_details
                                p
                                    strong Excelerate is created
                                p VHA and Cleveland Clinic introduce Excelerate, a joint venture LLC, to transform the traditional group purchasing approach into a strategic sourcing model.
                        li
                            input(type="checkbox" id="timeline_4")
                            label(for="timeline_4") 2013
                            .timeline_details
                                p
                                    strong Strengthening hospital and supplier relationships with industry’s first online direct contracting source: aptitude
                                p VHA and University HealthSystem Consortium introduce aptitude as the industry’s first online direct contracting market, fostering mutually beneficial and committed purchasing relationships between hospitals and suppliers.
                        li
                            input(type="checkbox" id="timeline_5")
                            label(for="timeline_5") 2012
                            .timeline_details
                                p
                                    strong Creating a new level of value with leading organizations
                                p The Child Health Corporation of America (now Children’s Hospital Association) selects Novation as its primary group purchasing partner.
                        li
                            input(type="checkbox" id="timeline_6")
                            label(for="timeline_6") 2010
                            .timeline_details
                                p
                                    strong Investing to improve transparency across the health care supply chain
                                p Novation invests $40M in building industry-leading data and analytic capabilities.
                        li
                            input(type="checkbox" id="timeline_7")
                            label(for="timeline_7") 2007
                            .timeline_details
                                p
                                    strong Expanding to non-health care markets with a new name: Provista
                                p HealthCare Purchasing Partners International changes, owned by VHA and the University HealthSystem Consortium, changes its name to Provista to reflect expansion to the education market.
                        li
                            input(type="checkbox" id="timeline_8")
                            label(for="timeline_8") 2005
                            .timeline_details
                               p
                                    strong Promoting clinical and supply integration through innovative gainsharing model
                                p VHA acquires Goodroe Healthcare Solutions, creating a platform to engage members and physicians in discussions about supply cost reduction and clinical quality.
                        li
                            input(type="checkbox" id="timeline_9")
                            label(for="timeline_9") 1997
                            .timeline_details
                                p
                                    strong VHA and University HealthSystem Consortium launch supply chain joint venture: Novation®
                                p By aggregating purchasing volume, contracting and distribution services, Novation becomes the industry’s largest supply company, generating greater member value.
                        li
                            input(type="checkbox" id="timeline_10")
                            label(for="timeline_10") 1992
                            .timeline_details
                                p
                                    strong Connecting health care leaders across the country
                                p First VHA Leadership Conference brings supply, clinical and operational leaders together for education and networking.
                        li
                            input(type="checkbox" id="timeline_11")
                            label(for="timeline_11") 1986
                            .timeline_details
                                p
                                    strong Using data to improve productivity and enhance patient care
                                p Earliest analytics activities pioneered with comparative data analysis and exchange with the Data Comparison Reporting System and Clinical Financial Information System.
                        li.milestone
                            input(type="checkbox" id="timeline_12")
                            label(for="timeline_12") 1984
                            .timeline_details
                                p
                                    strong University HealthSystem Consortium® formed
                                p 27 nonprofit medical centers come together to form University HealthSystem Consortium.
                        li
                            input(type="checkbox" id="timeline_13")
                            label(for="timeline_13") 1984
                            .timeline_details
                                p
                                    strong Entry into private labeling
                                p Agreement with American Hospital Supply Corp. establishes contracting business for member benefit.
                        li
                            input(type="checkbox" id="timeline_14")
                            label(for="timeline_14") 1982
                            .timeline_details
                                p
                                    strong Reinforcing local presence, national strength
                                p Working with Abbott-Northwestern Hospital and other Minnesota hospitals, first regional office opens and becomes a model for member collaboration and networking.
                        li
                            input(type="checkbox" id="timeline_15")
                            label(for="timeline_15") 1979
                            .timeline_details
                                p
                                    strong Start of group purchasing organization for supply contracting
                                p Agreement with American Hospital Supply Corp. establishes contracting business for member benefit.
                        li.milestone
                            input(type="checkbox" id="timeline_16")
                            label(for="timeline_16") 1977
                            .timeline_details
                                p
                                    strong VHA® created
                                p On October 9, Voluntary Hospitals of America Inc. (VHA) is incorporated in Delaware with 30 member hospitals.

// START CN15 v1