// START: CN11 v6
section(class="module module-bleed cn11 cn11__v3 bg-purple hgt-big banner")
    .container
        .row.row-eq-height-sm
            .col-xs-12.col-sm-4.col-sm-push-8.eq-height.ptb-0.pr-0
                .bg-image(style="background-image: url('images/patterns/bg-patterns-triangles.png')", alt="Description of image")
            .col-xs-12.col-sm-8.col-sm-pull-4.eq-height
                .arrow.arrow-purple
                .module-inner
                    h1 Supply chain solutions
                    p Optimise, and innovate your supply chain processes; from price analytics software, to collaborative programs for increased buying power.
// END: CN11 v6