// START: CN11 v3
section(class="module module-bleed module-stretch cn11 cn11__v3 bg-purple banner banner-with-image")
	.container
		.row.row-eq-height-sm
			.col-xs-12.col-sm-4.col-sm-push-8.eq-height.ptb-0.pr-0
				.bg-image(style="background-image: url('images/patterns/bg-patterns-triangles-yellow.png')", alt="Description of image")
			.col-xs-12.col-sm-7.col-sm-pull-4.eq-height
				.module-inner
					h1 Supply chain solutions
					h4 Optimise, and innovate your supply chain processes; from price analytics software, to collaborative programs for increased buying power.
				.arrow.arrow-down.arrow-purple
// END: CN11 v3