// START CN16 v1
section(class="module cn16 cn16__v1")
    .container
        .row
            .col-xs-4.col-sm-2
                    img(class="icon-section img-responsive", src="../images/avatars/bio_image.png", alt="Description of image").mb-15
                    
// END CN16 v1