// START: CN11 v4
section(class="module module-bleed module-stretch cn11 cn11__v4 bg-yellow banner banner-with-image")
	.container
		.row.row-eq-height-sm
			.col-xs-12.col-sm-6.col-sm-push-6.col-lg-6.col-lg-push-6.eq-height.ptb-0.pr-0
				.bg-image(style="background-image: url('images/patterns/bg-patterns-purple-lines.png')", alt="Description of image")

			.col-xs-12.col-sm-6.col-sm-pull-6.col-lg-6.col-lg-pull-6.eq-height
				.arrow.arrow-yellow
				.module-inner
					h1.heading-large Advisory
