// START: CN14 v5
section(class="module module-outer cn14 cn14__v5")
	.container 
		.row.bottom-dot-border
			.col-xs-1.col-sm-2
				img.avatar(src="images/avatars/byron.png")
			.col-xs-12.col-sm-10.col-md-9.col-lg-8
				.module-inner
					h6
						a(href="#") When Specialty Drugs Are No Longer in the Minority
							span.icon.icon-arrow-right.ml-10

					p.metadata-byline 07 June 2016

					p.author
						strong By Steven Lucio PharmD
						| Associate Vice President, Pharmacy Services

					p One of the areas of greatest concern for pharmacy practice, in terms of both cost and impact on patient care, is the increasing development of pharmaceuticals that could be classified as “specialty.” While there is no universally accepted definition of a specialty drug, most characterizations&hellip;

					ul.tags
						li Tags:
						li
							a(href="#") biosimilars,
						li
							a(href="#") cost of care,
						li
							a(href="#") hospital pharmacy,
						li
							a(href="#") pharmacy trends,
						li
							a(href="#") specialty pharmacy
		.row.bottom-dot-border
			.col-xs-1.col-sm-2
				img.avatar(src="images/avatars/byron.png")
			.col-xs-12.col-sm-10.col-md-9.col-lg-8
				.module-inner
					h6
						a(href="#") When Specialty Drugs Are No Longer in the Minority
							span.icon.icon-arrow-right.ml-10

					p.metadata-byline 07 June 2016

					p.author
						strong By Steven Lucio PharmD
						| Associate Vice President, Pharmacy Services

					p One of the areas of greatest concern for pharmacy practice, in terms of both cost and impact on patient care, is the increasing development of pharmaceuticals that could be classified as “specialty.” While there is no universally accepted definition of a specialty drug, most characterizations&hellip;

					ul.tags
						li Tags:
						li
							a(href="#") biosimilars,
						li
							a(href="#") cost of care,
						li
							a(href="#") hospital pharmacy,
						li
							a(href="#") pharmacy trends,
						li
							a(href="#") specialty pharmacy
		.row
			.col-xs-12
				a.btn(href="#") Load more
// END: CN14 v5