// V1
section(class="module module-outer module--has-cols cn12 cn12__v1")
    .container
        h3 Related events
        .row
            .content.clearfix
                .col-xs-12.col-sm-6.col-md-8
                    .inner-content
                        p.metadata-byline Next Event
                        p.metadata-byline 28-30 September 2016 • Dallas TX
                        h3 2016 Vizient Clinical Connections Summit
                        p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
                        a(href="#") View all events
                            span.icon.icon-arrow-right.ml-10
                .col-xs-12.col-sm-6.col-md-4
                    .inner-content
                        p In 2014, Vizient SupplyNetworks™ delivered a combined savings of more than $267 million on $7 billion in network contract spending.