// START: CN13 v1
div(class="module cn13 cn13__v1")
	.module-inner
		p.metadata-eyebrow About the author
		.row
			.col-xs-12.col-sm-12.col-md-12
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et convallis diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam consequat sem augue, et rhoncus quam tempor quis. Integer sagittis risus non ullamcorper ornare. Nulla sit amet sodales magna. Fusce vehicula aliquet varius. Praesent et urna velit. Ut felis felis, rutrum ut ipsum at.
			