// START: CN11 v4
section(class="module module-bleed module-stretch cn11 cn11__v4 bg-purple hgt-medium ")
	.container
		.row.row-eq-height-sm
			.col-xs-12.col-sm-4.col-sm-push-8.eq-height.ptb-0.pr-0
				.bg-image(style="background-image: url('images/patterns/bg-patterns-horizontal-green.png')", alt="Description of image")

			.col-xs-12.col-sm-8.col-sm-pull-4.eq-height
				.arrow.arrow-purple
				.module-inner
					h1.heading-large Solutions for clinical leaders
