// START CN18 v2
section(class="module module-stretch cn18 cn18__v2 bg-turquoise-dark banner")
    .container
        .row.row-eq-height-sm
            .col-xs-12.col-sm-4.eq-height.col-sm-push-8
                img(src="images/icons/symbols/governance_yellow.png")

            .col-xs-12.col-sm-8.eq-height.col-sm-pull-4

                h3.mb-30 Governance
                h4 Integrity is our most valued asset. The way we conduct our business reflects on our employees, customers, suppliers and members

                p Integrity is our most valued asset. How Vizient conducts business reflects on our employees, customers, suppliers and members. That is why even as a privately held company, we hold ourselves accountable to many of the same governance and regulatory standards applied to publicly traded companies by the Securities and Exchange Commission.
                p We comply with major provisions of the Sarbanes-Oxley Act, including the internal control review required in Section 404. Voluntary compliance is consistent with our efforts to increase transparency to our members and other stakeholders.

                a(class="btn mt-15", href="#", title="") Learn more about Governance
// END CN18 v2