// START: CN11 v8
include _cn11__v11
section(class="module module-bleed module-stretch cn11 cn11__v8 bg-turquoise-darkest")
	.container
		.row
			.col-xs-12.col-sm-10.col-md-9.col-lg-7
				.arrow.arrow-turquoise-darkest
				.module-inner
					p.small Vizient Research Institute  •  08 June 2016
					img.avatar-md(src="images/avatars/byron.png", alt="Byron Jobe")
					p
						strong By Tom Robertson
						| Executive Director, Vizient Research Institute