// START CN12 v3
section(class="module module-outer module--has-cols cn12 cn12__v3")
    .container
        h3 Related events
        .row
            .col-xs-12.col-md-12
                .module-inner
                    article(class="event col-lg-9")
                        p.metadata-eyebrow Webinars and education

                        time(class="calendar-date", datetime="2016-09-30")
                            span(class="date") 30
                            span(class="month") Sep
                        
                        .event-description
                            p.metadata-byline 30 September 2016
                            h3
                                a(href="#", title="Opioid Stewardship Expert Panel") Opioid Stewardship Expert Panel - Vizient Opioid Performance Improvement Portfolio Campaign
                                    span.icon.icon-arrow-right-white.ml-10
                        
                            p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
                        
                            a(href="#", title="View all webinars and education") View all webinars and education
                                span.icon.icon-arrow-right-white.ml-10
// START CN12 v3                    