// START: CN11 v11
section(class="module module-bleed module-stretch cn11 cn11__v11 bg-turquoise-dark hgt-tiny banner")
	.container
		.row
			.col-xs-12.col-sm-8.col-md-12
				.arrow.arrow-turquoise-dark
				.module-inner
					h1 Performance Improvement Networks