// START CN12 v1
section(class="module module-outer cn12 cn12__v1")
    .container
        h3 Related events
        .row.row-eq-height-lg
            .col-xs-12.col-sm-6.col-md-8.eq-height
                .module-inner
                    article(class="event")
                        p.metadata-eyebrow Next Event
                        
                        p.metadata-byline 28-30 September 2016 • Dallas TX
                        
                        .event-description
                            h3 2016 Vizient Clinical Connections Summit
                            
                            p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
                            
                            a(href="#", title="View all events") View all events
                                span.icon.icon-arrow-right-white.ml-10
                
            .col-xs-12.col-sm-6.col-md-4.eq-height
                .module-inner
                    p.metadata-eyebrow Webinars and education

                    ul(class="list-events has-calendar-dates")
                        li
                            time(class="calendar-date", datetime="2016-09-30")
                                span(class="date") 30
                                span(class="month") Sep

                            a(href="#" title="Supply Chain Education Series") Supply Chain Education Series - Part 3: Thinking Outside the Emergency Box
                              span.icon.icon-arrow-right-white.ml-10
                        

                        li
                            time(class="calendar-date", datetime="2016-09-30")
                                span(class="date") 30
                                span(class="month") Sep

                            a(href="#", title="Supply Chain Education Series") Supply Chain Education Series - Part 3: Thinking Outside the Emergency Box
                              span.icon.icon-arrow-right-white.ml-10

                    a(href="#") View all webinars and education
                        span.icon.icon-arrow-right-white.ml-10
// START CN12 v1