// START: CN11 v6
section(class="module cn11 cn11__v6")
    .container
        .row
            .col-xs-12
                .arrow.arrow-turquoise-dark
                h1 Performance Improvement Networks
// END: CN11 v6