// START: CN11 v1
section(class="module module-bleed module-stretch cn11 cn11__v1 banner" style="background-image: url('images/cn11_v1.jpg')", alt="Description of image")
	.container
		.row
			.col-xs-12.col-sm-8
				.module-inner
					h2 Connecting you to an even better quality of health care
					p.large-text Brand message that makes explicit who this site is for and it is talking to them — so the dialogue is set up.
// END: CN11 v1