// START: CN11 v2
section(class="module module-bleed module-stretch cn11 cn11__v2 bg-turquoise-dark hgt-medium banner")
    .container
        .row.row-eq-height-sm
            .col-xs-12.col-sm-4.col-sm-push-8.eq-height
                .module-inner
                    .bg-image(style="background-image: url('images/icons/icon-networks.png')", alt="Description of image")

            .col-xs-12.col-sm-8.col-sm-pull-4.eq-height
                .arrow.arrow-turquoise-dark
                .module-inner
                    h1 Our networks
                    p.large-text Trusted leaders focused on connecting cost with quality, where efficiency and empathy come together.