// START: CN11 v9
section(class="module module-bleed module-stretch cn11 cn11__v9 bg-turquoise-dark banner")
	.container
		.row
			.col-xs-12.col-sm-8.col-md-9.col-lg-6
				.arrow.arrow-turquoise-dark
				.module-inner
					h3 Fundamental Accreditation Review Series, Information Management Record of Care (Practice and Documentation)