section(class="module js-content-loader", id="content-region-1", data-show-items="4")
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
						
				.col-sm-4.eq-height
					.module-inner
						p
							span.extraLightNumbers 47%
						p.italic In 2014, Vizient SupplyNetworks™ delivered 47% increase in lorem ipsum.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
						
				.col-sm-4.eq-height
					.module-inner
						p
							span.extraLightNumbers 47%
						p.italic In 2014, Vizient SupplyNetworks™ delivered 47% increase in lorem ipsum.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]

	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
						
				.col-sm-4.eq-height
					.module-inner
						p
							span.extraLightNumbers 47%
						p.italic In 2014, Vizient SupplyNetworks™ delivered 47% increase in lorem ipsum.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
						
				.col-sm-4.eq-height
					.module-inner
						p
							span.extraLightNumbers 47%
						p.italic In 2014, Vizient SupplyNetworks™ delivered 47% increase in lorem ipsum.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]
	
	section(class="module module-border cn14 cn14__v1")
		.container 
			.row.row-eq-height-sm
				.col-sm-8.eq-height
					.module-inner
						p.metadata-eyebrow Case study
						h3.e28
							a(href="#") Building connections to achieve $5 million savings goal
								span.icon.icon-arrow-right.ml-10
						p.post__content Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacinia eu. Donec vulputate quis erat tristique finibus. Nam sodales ex nisl, ut iaculis risus lacini.
			.row.bottom-dot-border
				.col-xs-12
					.module-inner.bottom-row
						a(href="#", class="downloadlinkText") Download PDF (1.4MB) #[i.icon.icon-download.icon-small]

section(class="module")
	.container
		.row
			.col-xs-12
				.module-inner
					a.btn(href="#content-region-1", class="js-content-loader-trigger") Load more
