// START cn17 v2
section(class="module module-bleed cn17 cn17__v2")
	.container
		.row.row-eq-height-md
			.col-xs-12.col-md-6.eq-height.bg-purple
				.module-inner
					p.metadata-eyebrow Featured supply chain solution

					h3
						a(href="#", title="") Savings Actualizer
							span.icon.icon-arrow-right-white.ml-10

					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. 

					.bg-image(style="background-image: url('images/patterns/bg-patterns-vertical-green.png')", alt="Description of image")
			
			.col-xs-12.col-md-6.eq-height
				.module-inner
					article

						h3 Supply Chain
												
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus nibh est, at accumsan mauris luctus non. Donec lectus ligula, iaculis in erat sit amet, ultricies semper elit. Nulla quis pellentesque neque. Donec vulputate quis erat tristique finibus. 
						
						p.metadata-eyebrow Popular solutions

						ul(class="list-unstyled")
							li
								a(href="#", title="") Clinical Cost Management
									span.icon.icon-arrow-right.ml-10
							li
								a(href="#", title="") Managing Cost & Utlization
									span.icon.icon-arrow-right.ml-10
							li
								a(href="#", title="") Speed and price analytics
									span.icon.icon-arrow-right.ml-10
							li
								a(href="#", title="") Supply Chain Optimization
									span.icon.icon-arrow-right.ml-10
							li
								a(href="#", title="") Speed and price analytics
									span.icon.icon-arrow-right.ml-10
							li
								a(href="#", title="") Supplier Diversity
									span.icon.icon-arrow-right.ml-10
							li
								a(href="#", title="", class="bold") View all supply chain solutions
									span.icon.icon-arrow-right.ml-10

				.arrow.arrow-left.arrow-small-up.arrow-white
					
// END cn17 v4