// START: CN11 v9
section(class="module module-bleed module-stretch cn11 cn11__v9 bg-turquoise-dark banner")
	.container
		.row
			.col-xs-12.col-sm-8.col-md-9.col-lg-6
				.module-inner
					h3 A Growing Focus on Aggregation as a Path to Lowering the Total Cost of Care
					time(class="date", datetime="2016-09-20") 09/20/16
				.arrow.arrow-down.arrow-turquoise-dark