// START CN22 v2
section(class="module module-bleed cn22 cn22__v2 ")
	.container
		.row.row-eq-height-sm
			.col-xs-12.col-sm-6.eq-height.left-col.bg-turquoise-dark
				.module-inner
					p.metadata-eyebrow Our purpose

					h4.mb-15 To ensure our members deliver exceptional, cost-effective patient care

					p.metadata-eyebrow Our mission

					h4.mb-15 Connect members with solutions and expertise that accelerate performance

					p.metadata-eyebrow Our strategic ambition

					h4.mb-15 Become an indispensable partner for our members, a leader in innovation, and to accelerate growth
				
				.arrow.arrow-right.arrow-turquoise-dark

			.col-xs-12.col-sm-6.eq-height.text-center.right-col.hidden-xs.bg-yellow
				.module-inner.clearfix
					img(src="images/icons/svg/circular-maze.svg")
				

// END CN22 v2