// START CN20 v1 
section(class="module cn20 cn20__v1 bg-mist-lightest")
	.container
		.row
			.col-xs-12.pb-0
				.module-inner.pb-0.pt-0
					p.metadata-byline Our expertise

					h3 We believe in these four pillars of success

		.row.row-eq-height-sm
			.col-xs-12.col-sm-6.eq-height.pb-0
				.module-inner.pb-0.pt-0            
					article
						img(class="icon-section", src="../images/icons/icon-eye.png", alt="Description of image").mb-15
						.article-content
							h3 
								a(href="#", title="") Growth and strategy
									span.icon.icon-arrow-right.ml-10
							p Our analytics and consulting services — paired with insights from the Vizient Research Institute — help members stay competitive, adapt to the changing health care environment and achieve their goals.
					
			.col-xs-12.col-sm-6.eq-height.pb-0
				.module-inner.pb-0.pt-0  
					article
						img(class="icon-section", src="../images/icons/icon-arrows.png", alt="Description of image").mb-15
						.article-content
							h3 
								a(href="#", title="") Supply services & cost improvement
									span.icon.icon-arrow-right.ml-10
							p We accelerate members' supply chain and operational performance through the scale of our purchasing power and our ability to reduce unnecessary variation, improve supply and resource utilization and streamline processes.

		.row.row-eq-height-sm.pb-0
			.col-xs-12.col-sm-6.eq-height
				.module-inner.pb-0.pt-0            
					article
						img(class="icon-section", src="../images/icons/icon-medical-cross.png", alt="Description of image").mb-15
						.article-content
							h3 
								a(href="#", title="") Optimize operations and quality of care
									span.icon.icon-arrow-right.ml-10
							p We work with members to develop clinical solutions that drive the highest quality care, delivered more effectively than ever before. Etiam dictum nisl magna, quis ultricies tellus sodales sed. Sed vulputate eget quam vel fringilla.
					
			.col-xs-12.col-sm-6.eq-height.pb-0
				.module-inner.pb-0.pt-0   
					article
						img(class="icon-section", src="../images/icons/icon-network.png", alt="Description of image").mb-15
						.article-content
							h3 
								a(href="#", title="") Effective physician alignment
									span.icon.icon-arrow-right.ml-10
							p As health care organizations' needs grow more complex and diverse, we are committed to expanding the ways in which members learn, improve and build together.
// END CN20 v1 