// START CN28 v1 
section(class="module module-outer module-gutter-md cn28 cn28__v1")
	.container
		h3 Supplier benefits
		.row.row-eq-height-md
			.col-xs-12.col-md-4.eq-height
					h1.numbers 1
						span.icon.icon-dot
					.inner-content
						h4 Increased efficiency
						p In today’s health care environment, the rules are shifting and resources are limited. Health care organizations require a strategic, executable roadmap to meet performance, financial and quality objectives to make sure care is truly patient centered. Lorem ipsum dolor et ami consectetur adipiscing. Lorem ipsum dolor et ami consectetur adipiscing.

			.col-xs-12.col-md-4.eq-height
					h1.numbers 2
						span.icon.icon-dot
					.inner-content
						h4 Increased visibility
						p As health care shifts from fee-for-service to the fee-for-value model, hospitals must optimize their operations to more closely align costs with clinical outcomes. We offer expert advice and proven solutions, all designed to help members improve clinical quality, operational performance and financial results.
			.col-xs-12.col-md-4.eq-height
					h1.numbers 3
						span.icon.icon-dot.m
					.inner-content
						h4 Increased credibility
						p The health care industry is going though rapid and fundamental change. SG2 is a consulting arm that helps our clients navigate and anticipate major shifts in care delivery, innovation and public policy. They enable senior leaders strive to achieve sustainable growth and maintain market relevance with new strategies to drive clinically appropriate, profitable growth
		.row
			.col-xs-12.center-block.mt-30
					a.btn.alt(href="#") View all benefits

// START CN07 v1 