// START CN27 v1
section(class="module cn27 cn27__v2 bg-mist-lightest")
	.container
		.module-inner
			.row.row-eq-height-sm
				.col-xs-12.col-sm-6.eq-height.col-sm-push-6
					img(src="../images/cn09.jpg", alt="")
				.col-xs-12.col-sm-6.eq-height.col-sm-pull-6.text-block
					.date-time-duration
						.row
							.col-xs-12.col-sm-1
								p.e18 Date:
							.col-xs-12.col-sm-11.dtd
								p.e18-light Tuesday, December 13, 2016
						.row
							.col-xs-12.col-sm-1
								p.e18 Time:
							.col-xs-12.col-sm-11.dtd
								p.e18-light 11am - 12:30 pm (Central) 
									span.text-medium 
										a(href="#") Add to calendar
										
						.row
							.col-xs-12.col-sm-1
								p.e18 Duration:
							.col-xs-12.col-sm-11.dtd
								p.e18-light 1.5 hour
						.row
							.col-xs-12.col-sm-1
								p.e18 Topic:
							.col-xs-12.col-sm-11.dtd
								p.e18-light Information Management/Record of Care (Practice and Documentation)
					p The Fundamental Accreditation Review Series consists of regulatory and accreditation topics focused on the CMS Conditions of Participation for Hospitals and accreditation functions.
					p Participants will receive a comprehensive overview of the fundamentals including the intent and expectations for compliance.
					.row.button-block
						.col-xs-12.col-md-5
							a.btn.alt(href="#") Register for this event
						.col-xs-12.col-md-6
							a.btn(href="#") Login to access full calendar

					

// END CN27 v1