// START CN29 v1 
section(class="module cn29 cn29__v1")
	.container
		.row.row-eq-height-sm
			.col-xs-12.col-sm-6.eq-height.pb-0
				.module-inner.pb-0.pt-0            
					article
						img(class="icon-section", src="../images/icons/symbols/learn_purple.png", alt="Description of image").mb-15
						.article-content
							h4 
								a(href="#", title="") Learn together
									span.icon.icon-arrow-right.ml-10
							p Our learn networks enable you collaborate with trusted colleagues. You can build relationships and learn from peers and experts regionally or nationally through role-based networks ranging from executive network boards for CEOs to peer-to-peer networks. You can drive knowledge sharing around common challenges through topic-specific networks, such as improving patient experience or solving population health.
					
			.col-xs-12.col-sm-6.eq-height.pb-0
				.module-inner.pb-0.pt-0  
					article
						img(class="icon-section", src="../images/icons/symbols/growthandstrategy_purple.png", alt="Description of image").mb-15
						.article-content
							h4 
								a(href="#", title="") Improve together
									span.icon.icon-arrow-right.ml-10
							p Our improve networks connect you with other members, analytics and advisory services to solve a specific, common challenge over a defined time. These networks drive outcomes-oriented collaboration to fuel performance improvement and quality results based on best practices.

		.row.row-eq-height-sm.pb-0
			.col-xs-12.col-sm-6.eq-height
				.module-inner.pb-0.pt-0            
					article
						img(class="icon-section", src="../images/icons/symbols/build_purple.png", alt="Description of image").mb-15
						.article-content
							h4 
								a(href="#", title="") Build together
									span.icon.icon-arrow-right.ml-10
							p WOur build networks enable members to drive value together through shared ownership models that move health care forward. Together, you can learn and apply proven methods to form, manage and sustain supply networks to maximize benefits and avoid common pitfalls.
					
			.col-xs-12.col-sm-6.eq-height.pb-0
				.module-inner.pb-0.pt-0   
					article
						img(class="icon-section", src="../images/icons/symbols/ournetwork_purple.png", alt="Description of image").mb-15
						.article-content
							h4 
								a(href="#", title="") Academic medical center network
									span.icon.icon-arrow-right.ml-10
							p As pressure grows to manage costs, quality, and health care reform , physician alignment strategies are more important than ever. Our physician alignment solutions improve physician engagement strategies, so you can deliver a higher total value of care.
// END CN29 v1 