// START CN22 v1
section(class="module cn26 cn26__v1")
    .container
        .row
            .col-xs-12
                .module-inner
                    h3 Our leadership
                    p Through their deep expertise and commitment to care, Vizient’s leaders are driving change in health care services.
                    .chiefleaders.clearfix
                        h5 Our chief leaders
                        ul.list-unstyled.biographies.dotted-border-top
                            li.col-xs-12.col-sm-4.col-md-3.eq-height
                                img(src="images/avatars/Nonomaque.png")
                                a(href="#", title="s", class="avatar_name") Curt Nonomaque
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation President and CEO
                            li.col-xs-12.col-sm-4.col-md-3.eq-height
                                img(src="images/avatars/rand.png")
                                a(href="#", title="s", class="avatar_name") Rand Ballard
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation Chief Customer Officer
                            li.col-xs-12.col-sm-4.col-md-3.eq-height
                                img(src="images/avatars/david.png")
                                a(href="#", title="s", class="avatar_name") David Berry
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation Chief Legal Officer
                            li.col-xs-12.col-sm-4.col-md-3.eq-height
                                img(src="images/avatars/jody.png")
                                a(href="#", title="s", class="avatar_name") Jody Hatcher
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation President, Sourcing and Collaboration Services
                            li.col-xs-12.col-sm-4.col-md-3.eq-height
                                img(src="images/avatars/byron.png")
                                a(href="#", title="s", class="avatar_name") Byron Jobe
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation President, Chief Administrative and Financial Officer
                            li.col-xs-12.col-sm-4.col-md-3.eq-height.clearfix
                                img(src="images/avatars/colleen.png")
                                a(href="#", title="s", class="avatar_name") Colleen Risk
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation Chief People Officer
                            li.col-xs-12.col-sm-4.col-md-3.eq-height.clearfix
                                img(src="images/avatars/bharat.png")
                                a(href="#", title="s", class="avatar_name") Bharat Sundaram
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation President, Analytics and Advisory Services
                            li.col-xs-12.col-sm-4.col-md-3.eq-height.clearfix
                                img(src="images/avatars/irene.png")
                                a(href="#", title="s", class="avatar_name") Irene Thompson
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation Executive Advisor to the CEO and Vice Chair, AMC Networks Board of Managers

                    .vice_leaders.clearfix
                        h5 Our vice leaders
                        ul.list-unstyled.biographies.dotted-border-top
                            li.col-xs-12.col-sm-4.col-md-3.eq-height
                                img(src="images/avatars/pete.png")
                                a(href="#", title="s", class="avatar_name") Pete Allen
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation Executive Vice President, Sourcing Operations
                            li.col-xs-12.col-sm-4.col-md-3.eq-height
                                img(src="images/avatars/barbara.png")
                                a(href="#", title="s", class="avatar_name") Barbara A. Anason
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation Senior Vice President, Academic Medical Center Networks and Strategy
                            li.col-xs-12.col-sm-4.col-md-3.eq-height
                                img(src="images/avatars/scott.png")
                                a(href="#", title="s", class="avatar_name") Scott Downing
                                span.icon.icon-arrow-right.ml-10
                                p.avatar_designation Executive Vice President, Collaboration and Performance Improvement Networks


                    
// END CN22 v1