// START CN21 v02
section(class="module cn21 cn21__v2 bg-mist")
	.container
		.row
			.arrow
				include ../../images/icons/svg/arrow-curved-default.svg
			.col-xs-11.col-md-8.ptb-0
				.module-inner
					h3 Story title goes here
					p At Vizient, we strive to help members solve the challenges we know affect the quality of clinical care and operational efficiency, making sure it is never compromised. Our consulting arm provides members with valuable data and insights and advisory services that are unmatched in the industry.
					p
						a(href="#").btn-block.mt-30
							span.text-medium.font-small  Link goes here
								span.icon.icon-arrow-right.ml-10
									include ../../images/icons/svg/icon-arrow-default.svg