// START CN22 v3
section(class="module module-bleed cn22 cn22__v3")
	.container
		.row.row-eq-height-md
			.col-md-6.col-md-push-6.eq-height.right-col
				// INLINE STYLE FOR CMS
				.bg-image(style="background-image: url('images/cn05-v5.jpg')", alt="Description of image")
				
			.col-md-6.col-md-pull-6.eq-height.left-col.bg-turquoise-dark
				.module-inner
					p.metadata-eyebrow Our purpose

					h4.mb-15 To ensure our members deliver exceptional, cost-effective patient care

					p.metadata-eyebrow Our mission

					h4.mb-15 Connect members with solutions and expertise that accelerate performance

					p.metadata-eyebrow Our strategic ambition

					h4.mb-15 Become an indispensable partner for our members, a leader in innovation, and to accelerate growth

				.arrow.arrow-right.arrow-small-up.arrow-turquoise-dark
// END CN22 v2