// START CN21 v01
section(class="module cn21 cn21__v1 bg-mist")
	.container
		.row
			.col-xs-11.col-md-8.ptb-0
				.module-inner
					h3 Story title goes here
					p At Vizient, we strive to help members solve the challenges we know affect the quality of clinical care and operational efficiency, making sure it is never compromised. Our consulting arm provides members with valuable data and insights and advisory services that are unmatched in the industry.
			.arrow.arrow-down-center.arrow-mist