// START CN22 v1
section(class="module module-bleed cn22 cn22__v1 bg-turquoise-dark")
    .container
        .row.row-eq-height-sm
            .col-xs-12.col-sm-8.eq-height
                .module-inner
                    p.metadata-eyebrow Our purpose

                    h4.mb-15 To ensure our members deliver exceptional, cost-effective patient care

                    p.metadata-eyebrow Our mission

                    h4.mb-15 Connect members with solutions and expertise that accelerate performance
                    
                    p.metadata-eyebrow Our strategic ambition

                    h4.mb-15 Become an indispensable partner for our members, a leader in innovation, and to accelerate growth
// END CN22 v1