// START: IN03 v1
section(class="module-outer module-border in01 in01__v1")
	.container
		.row.row-eq-height-md.dot-border.ptb-10
			.col-xs-12.col-sm-8.col-md-offset-1.eq-height.left-col
				.module-inner
					p.e20 Connect with Vizient to help you solve healthcare's biggest challenges
			.col-sm-3.eq-height.right-col
				.module-inner
					a(href="#", title="Connect with us").btn Connect with us
// END: IN01 v1