// START: IN05 v1
// IN05 v1: 1 block - Grey dashed border
section(class="module module-outer module-gutter-sm in05 in05__v1 bg-mist-lightest")
	.container
		p.metadata-eyebrow Explore solutions by role
		h3 Find the solutions you need for your role
		.row.row-eq-height-sm
			.col-xs-12.col-sm-6.bg-white
				.module-inner.dash-border
					h5
						a(href="#", class="module-link-arrow" title="") Nurse
							span.icon.icon-arrow-right.ml-10
					p Our aim is to accelerate innovation in the areas that matter most to our members. 
			.col-xs-12.col-sm-6.bg-white
				.module-inner.dash-border
					h5
						a(href="#", class="module-link-arrow" title="") Supply chain leader
							span.icon.icon-arrow-right.ml-10
					p Our aim is to accelerate innovation in the areas that matter most to our members.
		.row.row-eq-height-sm
			.col-xs-12.col-sm-6.bg-white
				.module-inner.dash-border
					h5
						a(href="#", class="module-link-arrow" title="") Nurse
							span.icon.icon-arrow-right.ml-10
					p Our aim is to accelerate innovation in the areas that matter most to our members. 
			.col-xs-12.col-sm-6.bg-white
				.module-inner.dash-border
					h5
						a(href="#", class="module-link-arrow" title="") Supply chain leader
							span.icon.icon-arrow-right.ml-10
					p Our aim is to accelerate innovation in the areas that matter most to our members. 
// END: CN03 v4