// START: IN02 v1
section(class="module in02 in02__v1")
    .container
        .row.clearfix
            .col-xs-12
                h3 Choose a challenge that best represents you:
            .col-xs-12.choose-challange
                ul.list-unstyled
                    li
                        a(href="#result1" class="")
                            span.icon.icon-oval-large.icon-people Measure physicians' total financial performance
                            span.triangle.hidden-xs

                    li
                        a(href="#result2" class="")
                            span.icon.icon-oval-large.icon-chart Align and engage physicians in developing 
                            span.triangle.hidden-xs
                    li
                        a(href="#result3" class="")
                            span.icon.icon-oval-large.icon-manage Understand and manage clinical outcomes, utilization
                            span.triangle.hidden-xs

// END: IN02 v1