// START: IN02 v1
section(class="module module-outer in02 in02__v1")
    .container
        .row.clearfix
            .col-xs-12
                h3 Choose a challenge that best represents you:
            .col-xs-12.choose-challange
                ul.list-unstyled
                    li
                        a(href="#tabpanel-1" class="", aria-controls="tabpanel-1", role="tab", data-toggle="tab")
                            span.icon
                                img(src="images/icons/icon-people.png")
                            span Measure physicians' total financial performance
                        .arrow.arrow-down-center

                    li
                        a(href="#tabpanel-2" class="", aria-controls="tabpanel-2", role="tab", data-toggle="tab")
                            span.icon
                                img(src="images/icons/icon-chart.png")
                            span Align and engage physicians in developing clinical indicators
                        .arrow.arrow-down-center
                    li
                        a(href="#tabpanel-2" class="", aria-controls="tabpanel-2", role="tab", data-toggle="tab")
                            span.icon
                                img(src="images/icons/icon-manage.png")
                            span Understand and manage clinical outcomes, utilization and supply costs
                        .arrow.arrow-down-center

// END: IN02 v1