// START: IN03 v1: 1 block - 2 different columns - 
section(class="module-outer module-border in01 in01__v1")
	.container
		h3 IN01 v1 
		.row.dot-border.row-eq-height-sm.ptb-10
			.col-xs-12.col-sm-8.col-md-offset-1.pt-10
				p Connect with Vizient to help you solve healthcare's biggest challenges
			.col-sm-3
				a(href="#").btn Connect with us
// END: IN01 v1