// START: IN03 v1
section(class="module in01 in01__v2")
	.container
		.row.two-dot-border.row-eq-height-sm
				.col-xs-12.col-sm-6.left-col.eq-height
					p.e20 Can’t find an event you’re looking for?
					a(href="#", title="Connect with us").btn Connect with us
				.col-xs-12.col-sm-6.right-col.eq-height
					p.e20 Already a Vizient member?
					a(href="#", title="Connect with us").btn Access full calendar
// END: IN01 v1