// START: IN03 v1
section(class="module in01 in03__v1")
    .container
        .row.clearfix
            .col-xs-12
                ul.list-unstyled.share-icons
                    li.share-icons__icon
                        a(href="#" class="")
                            span.icon.icon-share-email.icon-circle
                    li.share-icons__icon
                        a(href="#")
                            span.icon.icon-share-download.icon-circle
                    li.share-icons__icon
                        a(href="#")
                            span.icon.icon-share-print.icon-circle
                    li.share-icons__icon
                        a(href="#")
                            span.icon.icon-share-rss-feed.icon-circle
                    li.share-icons__icon
                        a(href="#")
                            span.icon.icon-share-icon.icon-oval Share

// END: IN03 v1