// START: IN02 v1
section(class="module in02 in02__v1")
    .container
        .row.clearfix
            .col-xs-12
                h3 Choose a challenge that best represents you:
            .col-xs-12.choose-challange
                ul.list-unstyled
                    li
                        a(href="#result1" class="")
                            span.icon.icon-oval-large.icon-people Measure physicians' total financial performance
                            span.triangle.hidden-xs

                    li
                        a(href="#result2" class="")
                            span.icon.icon-oval-large.icon-chart Align and engage physicians in developing 
                            span.triangle.hidden-xs
                    li
                        a(href="#result3" class="")
                            span.icon.icon-oval-large.icon-manage Understand and manage clinical outcomes, utilization
                            span.triangle.hidden-xs


        .row.result-row#result1.dotted-border-top
                .col-xs-12
                    h3
                        a(href="#", class="module-link-arrow") Spend and price analytics 1
                            span.icon.icon-arrow-right.ml-10
                    // MAX CHARS 400
                    p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
                .col-xs-12
                    h3
                        a(href="#", class="module-link-arrow") Managing cost utilization 
                            span.icon.icon-arrow-right.ml-10
                    // MAX CHARS 400
                    p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.

        .row.result-row#result2.dotted-border-top
            .col-xs-12
                h3
                    a(href="#", class="module-link-arrow") Spend and price analytics 2
                        span.icon.icon-arrow-right.ml-10
                // MAX CHARS 400
                p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
            .col-xs-12
                h3
                    a(href="#", class="module-link-arrow") Managing cost utilization
                        span.icon.icon-arrow-right.ml-10
                // MAX CHARS 400
                p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.

        .row.result-row#result3.dotted-border-top
            .col-xs-12
                h3
                    a(href="#", class="module-link-arrow") Spend and price analytics 3
                        span.icon.icon-arrow-right.ml-10
                // MAX CHARS 400
                p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.
            .col-xs-12
                h3
                    a(href="#", class="module-link-arrow") Managing cost utilization
                        span.icon.icon-arrow-right.ml-10
                // MAX CHARS 400
                p Health care costs continue to rise. One step you can take to lower health care costs is to manage your clinical expenses using our analytics and expert consultants.

// END: IN03 v1