// START: IN03 v1
section(class="module in04 in04__v1")
    .container
        .row
            .col-xs-12.col-md-7
                #accordion.panel-group
                  .panel
                    .panel-heading
                      p.panel-title
                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseOne') Hollister Stoma Care Ostomy & Collection
                          i.indicator.glyphicon.glyphicon-chevron-down.pull-right
                    #collapseOne.panel-collapse.collapse
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .panel
                    .panel-heading
                      p.panel-title
                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo') Kimberly-Clark Infant Diapers
                          i.indicator.glyphicon.glyphicon-chevron-down.pull-right
                    #collapseTwo.panel-collapse.collapse
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .panel
                    .panel-heading
                      p.panel-title
                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseThree') Mead Johnson Infant Formula
                          i.indicator.glyphicon.glyphicon-chevron-down.pull-right
                    #collapseThree.panel-collapse.collapse
                      .panel-body
                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  .panel
                    .panel-heading
                      p.panel-title
                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapseFour') Open accordion example
                          i.indicator.glyphicon.glyphicon-chevron-up.pull-right
                    #collapseFour.panel-collapse.collapse.in
                      .panel-body Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sodales libero a tellus molestie, andit justo volutpat. Vivamus egestas lacus eget ornare dignissim. Praesent accumsan justo ultricies ligula pulvinar, nec tristique leo maximus. Duis ornare, arcu ac condimentum scelerisque, massa nulla feugiat tellus, non suscipit eros nisl a arcu. 
