// START: NV09 v1
form(class="module nv09 bg-turquoise-darkest")
	.container
		.row
			.col-xs-12
				.search-control.js-search-control
					label(class="sr-only", for="in-page-search") Search in page
					input(class="js-search-input", id="in-page-search", type="search", placeholder="Search")
					span(class="icon icon-close-slate js-clear-text hide")
						span(class="sr-only") Clear text
					button(class="btn btn-small", type="submit")
						i(class="icon icon-search-white")
						span(class="hidden-xs") Search