// START: NV08 v2
div(class="module nv08")
	.module-inner
		p.metadata-eyebrow Articles by this author
		ul.row.list-unstyled
			li
				a(href="#", title="Another relevant title of content goes here")
					.e20 Savings strategies across the continium of health care
				.metadata-byline 07 July 2016
			li
				a(href="#", title="Another relevant title of content goes here")
					.e20 Savings strategies across the continium of health care
				.metadata-byline 07 July 2016