// START: NV08 v1
div(class="module nv08 nv08__v1")
	.module-inner
		p.metadata-eyebrow Related insights from the blog
		ul.row.list-unstyled.news-items
			li.col-xs-12.col-sm-6.col-md-12
				img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
				span.metadata-byline By Joan Moss
				a(href="#", title="Another relevant title of content goes here")
					.e20 Another relevant title of content goes here
				.metadata-byline 7 July 2016
			li.col-xs-12.col-sm-6.col-md-12.pull-right
				img.avatar-sm(src="images/avatars/byron.png", alt="Byron Jobe")
				span.metadata-byline By Joan Moss
				a(href="#", title="Another relevant title of content goes here")
					.e20 Another relevant title of content goes here
				.metadata-byline 7 July 2016