// START NV06 v1
section(class="module nv06 nv06__v1")
	.container
		.row
			.col-xs-12.col-sm-8.bottom-dot-border
					.col-xs-11.col-sm-8
						.search-results
							span.number-results.bold 538 
							span.results-text results were found for 
							span.search-word.bold ‘supp’ 
					.col-xs-8.col-sm-4.sort-section
						.sort-by
							span.e16.sortBy Sort by: 
							a(href="#")
								span.e16.active.rel Relevence  | 
							a(href="#")
								span.e16.date Date
			.col-xs-0.col-sm-4
// END CN22 v1