// START NV06 v1
section(class="module nv06 nv06__v2")
	.container
		.row
			.col-xs-12.col-sm-8.bottom-dot-border
					.col-xs-11.col-sm-8
						.search-results 
							span.results-text All case studies 
					.col-xs-8.col-sm-4.sort-section
						.sort-by
							span.e16.sortBy Sort by: 
							a(href="#")
								span.e16.active.rel Relevence |
							a(href="#") 
								span.e16.date Date
			.col-xs-0.col-sm-4
// END CN22 v1