// Start Leadership grid
section(class="module", id="our-leadership")
    .container.module__content
        h2(class="module__title") Our leadership
        .row
            .col-sm-8
                p Through their deep expertise, experience and commitment to care, Vizient’s executives are leading change across the health care ecosystem. Meet the leaders empowering our members.
        .row
            .col-md-12
                // Start bio grid module
                ul.bio-grid.equal-heights-mbls
                    each item, index in leadershipBios
                        // Start bio grid component
                        li.bio-grid__grid-item
                            img(class="bio-avatar avatar avatar--large", src="#{item.bioAvatarURL}")
                            .bio-body.equal-height-item
                                h4(class="bio-name") #{item.bioName}
                                h5(class="bio-title") #{item.bioTitle}
                            a(class="btn btn-default", href="leader-bio-page.html") Read biography
                        // End bio grid component
                // End bio grid module
// End Leadership grid