mixin eventCalendarDate(day, month, title)
    // Start Event calendar date
    .clearfix.mbb-30
        .post__calendar-date.pull-left
            div(class="text-medium font-larger mb-5") #{day}
            div(class="text-light") #{month}
        div(class="text-medium font-large ml-80 lh-one-four") #{title}
    // End Event calendar date