/// Colours helpers ///

// Create colour helpers using the colour map

@each $colour, $value in $colourMap {

    // Background colours

    .bg-#{$colour} {
        background-color: $value;

        &.module > .container {
			background-color: $value;        	
        }
		
		// Automatic content colors

        @if 	$colour == green 
        	or 	$colour == yellow 
        	or 	$colour == mist-light 
        	or 	$colour == mist-lightest 
        	or 	$colour == sunglow {
			
			* {
				color: $grey-dark;
			}

			a:link {
				color: $grey-dark;
			}

			.metadata-eyebrow {
				color: $slate-light;
			}

	    } @else {
			
			* {
				color: $white;


			}

			a:link {
				color: $white;
			}
	    }
    }

    // Font colours - use to override where automatic settings are undesirable

    .#{$colour} {
        color: $value !important;
    }
}