/// Colours helpers ///

// Create colour helpers using the colour map

@each $colour, $value in $colourMap {

    // Background colours

    .bg-#{$colour} {
        background-color: $value;
		
		// ??? No idea why this is here but scared to remove it :)
        &.module > .container {
			background-color: $value;        	
        }
		
		// Automatic content colors

        @if 	$colour == green 
        	or 	$colour == yellow
        	or 	$colour == mist 
        	or 	$colour == mist-light 
        	or 	$colour == mist-lightest 
        	or 	$colour == sunglow {
			
			* {
				color: $grey-dark;
			}

			a:link {
				color: $grey-dark;
			}
			
			// This may be too global
			.metadata-eyebrow {
				color: $slate-light;
			}

	    } @else {
			
			* {
				color: $white;
			}

			a:link {
				color: $white;
			}
	    }
    }

    // Font colours - use to override where automatic settings are undesirable
    // but try to avoid and list in comment here where its been used so we can try
    // and minimise usage later.

    .#{$colour} {
        color: $value !important;
    }
}