/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
	// margin-left: 0;
	// margin-right: 0;
	
	@media (min-width: $screen-sm) {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
}
