/*
 * Row with equal height columns
 * --------------------------------------------------
 */

.row-eq-height-xs {
	// margin-left: 0;
	// margin-right: 0;
	
	@media (min-width: $screen-xs) {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
}

.row-eq-height-sm {
	// margin-left: 0;
	// margin-right: 0;
	
	@media (min-width: $screen-sm) {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
}

.row-eq-height-md {
	// margin-left: 0;
	// margin-right: 0;
	
	@media (min-width: $screen-md) {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
}

.row-eq-height-lg {
	// margin-left: 0;
	// margin-right: 0;
	
	@media (min-width: $screen-lg) {
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -ms-flexbox;
	  display:         flex;
	}
}

// ie9 no flexbox 
.no-flexbox section {
	[class*="row-eq"] {
		box-sizing: border-box;
		display: table;
		table-layout: fixed;
		width: 100%; 

		[class*="col-"] {
			display: table-cell;
			flex: 1;
			flex-direction: column;
			position: relative;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}
}