/*
 * Row with equal height columns
 * --------------------------------------------------
 */
@each $size, $value in $screen-sizes {
	.row-eq-height-#{$size} {
		@media (min-width: $value) {
		  display: flex;

		  .eq-height {
		  	position: relative;

		  	.bg-image {
				  bottom: 0;
				  left: 0;
				  position: absolute;
				  right: 0;
				  top: 0;
		  	}
		  }
		}
	}
}

.row-eq-height-md {
	[class*="col-"]:last-child {
		flex-grow: 2;
	}
}

// ie9 no flexbox 
.no-flexbox section {
	[class*="row-eq"] {
		box-sizing: border-box;
		display: table;
		table-layout: fixed;
		width: 100%;  

		[class*="col-"] {
			display: table-cell;
			flex: 1;
			flex-direction: column;
			position: relative; 
		}

		// quick fix to compensate for gutter widths not working due to bootstrap overrides

		.col-md-4, .col-sm-4 {
			width: 32%;
		}

		.col-md-6, .col-sm-6 {
			width: 49%;
		}
	}
}