/// Fonts ///

.font-base {
    font-size: $font-size-base;
}

.font-small {
    font-size: $font-size-small;
}

.font-smaller {
    font-size: $font-size-smaller;
}

.font-large {
    font-size: $font-size-large;
}

.font-larger {
    font-size: $font-size-larger;
}