extends layouts/_default

block breadcrumbs
    .content-divider.content-divider--thick-brand
    +breadcrumbs(breadcrumbs.contactus)
block content
    main(class="body-content")
        section(class="module module--outer-bg")
            .container.module__content.bg-white
                h2(class="module__title") Careers at Vizient
                .row
                    .col-xs-12.col-sm-8
                        p Working at Vizient means making a difference in today’s dynamic world of health care every day. Our family of 1,800 employees work at our headquarters in Irving, Texas, at one of 11 regional offices, or onsite at one of our member facilities across the nation.
                        p Our national strength and local presence gives us a deeper understanding of our members and customers, so we can tailor innovative approaches and solution sets to best meet their needs.
                        p We work with hospital executives, physicians, nurses, materials managers, pharmacists and others to identify improvement opportunities and put in place solutions that make a difference for patients and their families.
                        p As the nation’s largest member-owned health care services company, Vizient attracts professionals from diverse backgrounds and disciplines. Our employees apply their expertise in a variety of disciplines to deliver innovative solutions tailored to the needs of our members:

                        .well.bg-linen
                            .well__body
                                h4 Vizient disciplines:
                                .row

                                    .col-xs-12.col-sm-6
                                        ul
                                            li Supply chain sales and service
                                            li Business intelligence and analysis
                                            li Performance improvement strategies and project management
                                            li Clinical strategy and physician engagement
                                            li Network facilitation
                                            li Business development

                                    .col-xs-12.col-sm-6
                                        ul
                                            li Portfolio management
                                            li Information technology
                                            li Marketing and communications
                                            li Accounting and finance
                                            li Human resources
                                            li Legal and government affairs


                        p Our values are a set of beliefs and behaviors that are both fundamental and strategic in order to drive performance in our organization. More than words, the values are core principles we use to attract, retain and reward our people. They guide our daily interactions and serve as a guidepost for the future.
                        p Permission to play values constitutes our fundamental character: respect, integrity, service and judgment.
                        p Our overall approach to business is guided by our commitment to three core values, which serve as our company’s fingerprint, distinguishing Vizient in the minds of members, employees and suppliers:

                        ul
                            li #[strong Collaborative:] work together to succeed at everything we do
                            li #[strong Adaptive:] anticipate and embrace change
                            li #[strong Resourceful:] rapidly apply new ideas to achieve results

                        p We have identified aspirational values – behaviors we want to adopt more fully across our team. Joining the Vizient family comes with comprehensive benefits to meet your needs.
                        p We invite you to join the Vizient team.




                    .col-xs-12.col-sm-4
                        .feature-box
                            .feature-box__content
                                h3.brand.mb-110 Join the Vizient team

                                .btn.btn-primary Search openings
                            img(src="images/pill.png", class="feature-box__pill")
