extends layouts/_default

block content
    .module.section-border
        .container
            .row
                .col-sm-12
                    h1 H1 heading text example
                    h2 H2 heading text example
                    h3 H3 heading text example
                    h4 H4 heading text example
                    h5 H5 heading text example
                    h6 H6 heading text example
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    p It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    .module
        .container
            .row
                .col-sm-6
                    p.mt-25
                        a.btn.btn-primary(href='') .btn-primary
                    p
                        a.btn.btn-default(href='') .btn-default
                    p
                        button.btn.btn-primary.btn-large .btn-primary.btn-large
                    p
                        button.btn.btn-default.btn-block.btn-large .btn-default.btn-block.btn-large
                .col-sm-6
                    ul.left-border.mt-25
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero
                        li
                            a(href='') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero
                    ol
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero
                        li
                            a(href='') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero
                        li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras molestie libero vel libero