extends layouts/_default

block content
    +hero(heros.whatWeDo)
    +sectionNav(sectionNavs.whatWeDo)
    include modules/_our-leadership
    include modules/_brief-history
    include modules/_brighter-future