extends layouts/_default

block breadcrumbs
    .content-divider.content-divider--thick-brand

block content
    main(class="body-content")
        section(class="module module--outer-bg")
            .container.module__content.bg-white
                .row
                    //- Start left content block
                    .col-sm-8
                        h2(class="module__title") Privacy Policy and Legal Notice
                        .post-entries
                            p
                                strong Overview
                            p This website is owned by Vizient™, Inc. (hereinafter referred to as "Site", "Website", “Us”, “Our”, and "We"). This portion of the Vizient Website is designed to give visitors (hereinafter referred to as "You" and "Your") a basic understanding of how the Website operates, what the privacy policies are, and what Your obligations as a visitor are. We are very sensitive to privacy issues. Vizient has created this Privacy Policy to demonstrate Our firm commitment to the individual's right to privacy. This Privacy Policy is designed to tell You about Our practices regarding collection, use and disclosure of information that You may provide via this Site. Please be sure to read this entire Privacy Policy before using or submitting information to this Site. Vizient's Website is a corporate background, health information and professional development resource. It includes news, information, and access to health care related software tools (hereinafter collectively referred to as "Services"). This Site is intended for use by residents of the United States.
                            p 
                                | These documents are intended for the sole use of Vizient (f/k/a VHA, UHC and/or Novation) members and program participants. The contents of these documents are protected by copyright law; no part of them may be disclosed, transmitted, disseminated, published, posted, modified, uploaded, circulated, sold, redistributed, copied, or reproduced by any means or by or to anyone without prior written permission from Vizient. Contact 
                                a(href="mailto:ebrewer@vha.com") ebrewer@vha.com 
                                to request permission for reuse. 
                            p These documents contain confidential/proprietary information and are provided "as is." Vizient makes no warranty, express or implied, of the validity of the information or its appropriateness for use in any manner, including but not limited to the implied warranties of merchantability, fitness for a particular purpose, or noninfringement. In making use of these documents or relying on their accuracy, the user assumes the entire risk. Vizient does not warrant or make any representations concerning the use of these documents or the accuracy, completeness, reliability or usefulness of any information in them. The information herein should not be considered a substitute for the user's independent professional judgment or expert advice from a competent professional.
                            p This Site makes use of licensed stock photography that is intended for illustrative purposes only. The professional services depicted are not necessarily services provided by Us. The information contained in this Website, and in material referenced by this Site, is intended for informational and educational purposes only, and does not constitute legal, financial, accounting, medical or other professional advice.
                            
                            p
                                strong Commitment to Privacy Protection

                            p Vizient is committed to providing You with quality health care and professional development information. We are also firmly committed to respecting the privacy of Your general and personally identifiable information. Vizient will not share or sell any personally identifiable information We gather to any company, organization or person outside of Vizient. Any general personal information You voluntarily provide when using the Site, such as Your name, address, e-mail address as part of the registration process, or credit card information for on-line shopping, will only be used to provide You with information that you specifically request from Vizient, and for Our internal confidential analysis of aggregate user data, such as computing the total number and regional locations of users. As a member-owned organization, We reserve the right to provide Your health care organization information regarding Your usage on the Site. We and the third parties participating in the Site will not use Your general or personally identifiable information without Your prior consent. We will ensure our Website has adequate security procedures are in place to protect any information collected from misuse. You can review and correct Your general personal and personally identifiable information at any time; either directly through use of data input screens, or indirectly by submitting a request to the Vizient Webmaster as described in the last section below, "Questions or Comments." The key exceptions to these privacy protection practices are that information You may provide in live online discussions in chat rooms, or information You may post on bulletin boards, cannot be protected. You should think carefully before disclosing any general personal information or personally identifiable information when using them. 
                            p When We want to make significant changes to our Privacy Policy that would affect Our use of general or personally identifiable information We collect, We will give notice to You and all users by posting the changes to the Website. We will not make use of information We previously gathered from You prior to a significant change in this Privacy Policy without first obtaining Your consent for any new uses. We may also make non-significant changes to this Privacy Policy that will not affect Our use of Your personally identifiable information. We will post all changes on the Site. You should periodically check this Privacy Policy for updates.

                            p
                                strong Cookies

                            p This Site serves "cookies" to help You navigate about the Site and to track the traffic to Our Site. You have the option to refuse the cookies but may experience some service interruptions as a result; for example, online communities will not operate properly. The Website automatically places a text file called a "cookie" in the browser files of Your computer. Cookies represent bits of information that a Website may transfer to a visitor's hard disk for the purpose of record keeping. Cookies help Us evaluate Your use of Our Website, such as the kinds of information You want to see and the kinds You most likely never will want to read. Cookie technology may also enable Websites such as Ours to ask for Your registration and preferences only once. During subsequent visits, You will not necessarily be required to sign in again. Cookies let Us avoid showing You the same advertising messages repeatedly and do not contain or retain personal information. However, they do let us relate Your use of the Site to information that You have specifically and knowingly provided to Vizient.

                            p
                                strong Your Consent

                            p By using this Site, You agree to the terms of this Privacy Policy. Whenever You submit information via this Site, You consent to the collection, use and disclosure of that information in accordance with this Privacy Policy. This Privacy Policy only applies to the information obtained through this Site. Information provided to Vizient by other means shall be governed by a separate agreement between You and Vizient.

                            p
                                strong Visitor Rules

                            p As a visitor to the Website, You are our guest. Vizient and its third party content contributors grant You a limited license to view the contents of the Website, and to use and copy contents solely for Your personal benefit. Vizient reserves the right to make changes to Website policies, the Website content and all other aspects of the operation of the Site at any time without notice to You. We will post any changes to the Site from time to time, and therefore You should periodically review the then-current versions of this Overview and any other Website policies to make sure You are up to date. We reserve the right to deny access to You at any time if you engage in prohibited activity, such as posting copyright-protected content without approval from the author, unauthorized copying or use of information or functionality on the Website, attempting to obtain unauthorized access to restricted areas of the Website, using slanderous, profane or inappropriate language in communications involving or in the Website, or infecting the Website with computer viruses or other destructive functionality. Any content found to be in violation of these rules will be removed.

                            p
                                strong About Children

                            p This Site is not intended for children under the age of 13. We will not knowingly collect personally identifiable information via this Site from visitors in this age group. We encourage parents to talk to their children about their use of the Internet and the information they disclose to Websites. If a child has provided Us with personally identifiable information, the parent or guardian of that child may contact Us using the information below.

                            p
                                strong Guidelines for Linking 

                            p If you wish to link to Vizient's Website, you must request permission to do so in writing, either by contacting us by e-mail at 
                                a(href="mailto:webpub@vha.com") webpub@vha.com 
                                | or by U.S. mail at Vizient, Inc., 290 E. John Carpenter Freeway, Irving, Texas 75062, listing the URL of Your site. Anyone linking to Vizient's Website must comply with these guidelines for linking to Vizient's Website and all applicable laws. A site that links to Vizient's Website: 

                            ul
                                li may link to, but not replicate, Vizient content
                                li should not create a browser, border or frame environment around Vizient content 
                                li should not imply that Vizient is endorsing it or its products 
                                li should not misrepresent its relationship with Vizient 
                                li should not present false information about Vizient products or services 
                                li should not use the Vizient logo without written permission from Vizient 
                                li should not contain content that could be construed as distasteful, offensive or controversial 
                                li should contain only content that is appropriate for all age groups 

                            p
                                strong Use of Content

                            p All content on the Site (including, without limitation, text, design, graphics, logos, icons, images, audio clips, downloads, interfaces, code and software, as well as the selection and arrangement thereof), is the exclusive property of and owned by Vizient, its licensors or its content providers and is protected by copyright, trademark and other applicable laws. You may access, copy, download and print the content contained on the Site for your personal and non-commercial use, provided You do not modify or delete any copyright, trademark or other proprietary notice that appears on the material You access, copy, download or print. Any other use of content on the Site, including but not limited to the modification, distribution, transmission, performance, broadcast, publication, uploading, licensing, reverse engineering, transfer or sale of, or the creation of derivative works from, any material, information, software, products or services obtained from the Site, or use of the Site for purposes competitive to Vizient, is expressly prohibited. You agree to abide by all additional restrictions displayed on the Site as it may be updated from time to time. Vizient reserves the right to prohibit any person from using the Site for any reason whatsoever.  Vizient, or its licensors or content providers, retain full and complete title to the content provided on the Site, including all associated intellectual property rights, and provide this content to You under a limited license that is revocable at any time in Vizient’s sole discretion. Vizient neither warrants nor represents that Your use of content on this Site will not infringe rights of third parties not affiliated with Vizient.
                            p You may not use contact information provided on the Site for unauthorized purposes, including marketing. You may not use any hardware or software intended to damage or interfere with the proper working of the site or to surreptitiously intercept any system, data or personal information from the Site. You agree not to interrupt or attempt to interrupt the operation of the Site in any way. Vizient reserves the right, in its sole discretion, to limit or terminate Your access to or use of the site at any time without notice. Termination of your access or use will not waive or affect any other right or relief to which Vizient may be entitled at law or in equity.
                            p The Site and its content will be transmitted over a medium that may be beyond the control and jurisdiction of Vizient. Accordingly, Vizient assumes no liability for or relating to the delay, failure, interruption, or corruption of any information transmitted in connection with Your use of the Site. 

                            p
                                strong Member Contributed Content
                            
                            p Within the member-only area of vizientinc.com are many documents and discussions contributed by individuals within Our member organizations. This content is for information sharing purposes only and should not be construed as clinically proven, endorsed, or recommended by Vizient or contributors. 
                            p Posting of copyrighted materials, in whole or in part, is EXPRESSLY PROHIBITED without the prior written permission of the copyright holder, and may subject the user and their employer to legal liability for copyright infringement, and their access to this site being denied. Users may post hypertext links to, or URLs for, copyrighted materials already on the Internet unless prohibited by the copyright holder or applicable law. Users may also refer to copyrighted materials by title and/or author or publisher, but may not actually post the materials without prior written permission of the copyright holder. Site visitors agree to not disclose information in this Site to any third party, other than Vizient, Inc., its regional offices, subsidiaries and health care members. Site visitors agree to not submit information to this Site that is covered by the Health insurance Portability and Accountability Act of 1996 as amended (“HIPAA”), such as patient identifiable information (“Protected Health Information”). 
                            p THE INFORMATION ON THIS SITE IS COMPILED FROM VARIOUS THIRD PARTIES AND IS PROVIDED AS IS, AND ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED WITHOUT VERIFICATION, ARE HEREBY DISCLAIMED, INCLUDING, BUT NOT LIMITED TO, THE WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. YOU ARE SOLELY RESPONSIBLE FOR ANY ACTION YOU TAKE BASED ON INFORMATION YOU OBTAIN FROM THE WEBSITE. The appearance of any information or materials on this Site does not constitute an endorsement or recommendation by Vizient or its affiliates or subsidiaries. Under no circumstances shall Vizient, its subsidiaries or affiliates, or any copyright holder, be liable for any actual, incidental, special, punitive, or consequential damages arising from or related to this Site or the information or materials contained on the Site. This Site contains copyrighted materials and proprietary materials owned by either Vizient or third parties who have given their permission to post their materials to this Site. These materials are protected by the United States copyright laws and international treaty provisions, and may be downloaded and/or printed for personal use only. Any posting of information, or any other use of information or materials on this Site, including, but not limited to, reproducing, copying, transmitting, or distributing, in whole or in part, is EXPRESSLY PROHIBITED without the prior written consent of the copyright holder. Information, comments, discussions, and materials on this Site may be discoverable in response to a valid request by a court of competent jurisdiction or governmental agency.

                            p
                                strong Information Voluntarily Provided by Users

                            p You can visit much of the Website without telling Us who You are or providing Us with other personally identifiable information. Some areas of this Site may ask You to submit personally identifiable information in order for You to benefit from the specified features (such as newsletter subscriptions, tips/pointers, order processing or resume submission) or to participate in a particular activity (such as sweepstakes or other promotions).You will be informed what information is required and what information is optional. You may always choose not to provide the required information, but then You may not be able to participate in the particular activity that requires the information.

                            p 
                                strong Non-personal Information Collection.
                            
                            p "Non-personal information" means information that does not permit Us to specifically identify You by Your full name or similar unique identifying information such as a Social Security number, member identification number, address or telephone number. In accessing this site, certain non-personal information can be passively collected using various technologies, such as cookies, Internet tags or Web beacons, and navigational data collection (log files, server logs, clickstream). Your Internet browser automatically transmits to this Site some of this anonymous information, such as the URL of the Website You just came from and the Internet Protocol (IP) address and the browser version Your computer is currently using. This Site may also collect non-personal information from Your computer through cookies and Internet tags or Web beacons. With respect to collecting Web traffic information, We may use third parties to collect such data on Our behalf. To disable or limit the use of cookies, please refer to the options provided by Your Internet browser. If you do so, however, some pages or features (such as customized products/services or user preferences) on this Website may not work properly.
                            p Because non-personal information does not identify who You are, We do not limit the ways We may use or share non-personal information. For example, We may use and combine such non-personal information to provide better service to Site visitors, customize the Site based on your preferences, compile and analyze statistics and trends, and otherwise administer and improve the Site. We may also share non-personal information with Our parent entities, affiliates, employees and agents, other businesses and the government. Such information is not combined with personally identifiable information collected elsewhere on the Site unless you have consented.

                            p
                                strong Links to Third Party Websites

                            p The Site may provide links to third-party websites or resources. Vizient makes no representations whatsoever about any other website which You may access through the Site. Because Vizient has no control over such websites and resources, You acknowledge and agree that Vizient is not responsible for the availability of such external sites or resources and is not responsible or liable for any content, advertising, products, services or other materials on or available from such sites or resources. It is up to You to take precautions to ensure that whatever You select for Your use is free of such items as viruses, worms, trojan horses and other items of a destructive nature. References on this Site to any names, marks, products or services of any third parties or hypertext links to third party sites or information are provided solely as a convenience to You, and do not constitute or imply an endorsement, sponsorship or recommendation of, or affiliation with the third party or its products and services. Vizient makes no representation or warranty as to any third party content, products or services, and You agree that Vizient shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with Your use of or reliance on any such third-party content, products or services available on or through any such website or resource.

                            p
                                strong Use and Disclosure of Personal Information

                            p If You provide personally identifiable information to this Site, We may combine such information with other personal information unless we specify otherwise at the point of collection. We may disclose personally identifiable information You provide via this Site to other affiliates and parent entities that agree to treat it in accordance with this Privacy Policy and use it for the same purposes. We also may disclose personally identifiable information You provide via this Site to third parties but only:
                            p (i) to contractors we use to support our business (such as fulfillment services, technical support and financial institutions), in which case We will require such third parties to agree to treat it in accordance with this Privacy Policy and use it for the same purposes;
                            p (ii) in connection with the sale, assignment or other transfer of the business of this Site to which the information relates, in which case we will require any such buyer to agree to treat it in accordance with this Privacy Policy and use it for the same purposes; or
                            p (iii) to respond to law enforcement requests or where required by applicable laws, court orders or government regulations.

                            p
                                strong Links and Endorsements

                            p We may provide links to other websites for your convenience and information. The Vizient Website from time to time includes electronic links over the Internet to various websites run by third parties, such as other health information providers. These links are available at Your option for your convenience to allow You to further expand Your corporate health care information. We try to select third party links that are good sources of additional information and are reputable; however Vizient does not endorse them. Please note that Your use of those other websites is at Your own risk. Vizient does not assume any operational or legal responsibility for the content or operation of those sites. Using those sites may involve different risks, responsibilities and expectations for You than when using this Site. Vizient will clearly disclose any third-party support or other sponsorships of items featured on this Website. These sites may have their own privacy statements in place, which we recommend You review if You visit any linked websites. 

                            p
                                strong Advertising or Sponsor Influence

                            p Advertising and sponsorship on the Site represents a source of revenue to enable Us to continue providing You with one of the most comprehensive, timely, reliable health information and professional development Websites on the Internet. The following advertising and sponsorship principles have been established to allow Vizient to maximize the benefits to Our advertisers and sponsors, without in any way infringing on Our essential editorial control and content integrity, or Your privacy. There will be absolutely no influence of advertising or sponsors on the news, information, and editorial content presented on the Website. There will not be any influence on the order of presentation, search engine priority/rankings, or quotes from qualified experts in various areas.

                            p
                                strong Trademarks
                            p Trademarks, logos and service marks displayed on this site are registered and unregistered trademarks of Vizient, its licensors or content providers, or other third parties. All of these trademarks, logos and service marks are the property of their respective owners. Nothing on this site shall be construed as granting, by implication, estoppel, or otherwise, any license or right to use any trademark, logo or service mark displayed on the Site without the owner's prior written permission, except as otherwise described herein. No trademark or service marks of Vizient or any other party may be used as a hyperlink without prior written permission. Vizient reserves all rights not expressly granted in and to the Site and its content.

                            p
                                strong Editorial Comments

                            p Any editorial comments by the management of Vizient will be clearly delineated as such, and thus will be distinguishable from news and general information content. 

                            p
                                strong No Medical Advice or Practice of Medicine
                            p The Site does not provide medical advice. The Vizient Website is not engaged in the practice of medicine. Vizient is not engaged in rendering medical or similar professional services or advice, and the information provided on the Site is not intended to replace medical advice offered by a health care provider. If You desire or need such services or advice, you should promptly consult a physician or professional health care provider. Any information and advice on the Website is given on a generalized, generic basis, and is not specific to any individual patient's condition. Online health information content cannot replace a health professional-patient relationship, and anyone with health care problems should always consult with a professional for diagnosis and treatment of their specific health problems. You and any other affected people should not disregard any advice or treatment from those professionals based on Your interpretation of what You may read on this Website. 

                            p
                                strong Exclusion of Warranty
                            p We work diligently to produce and maintain the Website, and to ensure that it includes high quality information for You. However, please note that because Our Website and Services are provided free of charge to You, We do not offer any warranties regarding the Site or Services. THE SERVICES ARE PROVIDED "AS-IS" WITHOUT WARRANTIES OF ANY KIND, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, ACCURACY, COMPLETENESS, TIMELINESS, OR UNINTERRUPTED SERVICE. 
                            p While Vizient uses reasonable efforts to include accurate and up-to-date information in the Site, Vizient makes no warranties or representations as to its accuracy. Vizient assumes no liability or responsibility for any errors or omissions in the content of the Site. VIZIENT DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE AVAILABILITY, USE, TIMELINESS, SECURITY, VALIDITY, ACCURACY, OR RELIABILITY OF, OR THE RESULTS OF THE USE OF, OR OTHERWISE RESPECTING, THE SITE OR ANY OTHER WEBSITES OR RESOURCES LINKED TO OR FROM THE SITE. ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SITE IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL, OR USE OF THE SITE. THE CONTENT OF THE SITE IS PROVIDED “AS IS” AND ON AN “AS AVAILABLE” BASIS, WITHOUT WARRANTIES OF ANY KIND EITHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT POSSIBLE PURSUANT TO APPLICABLE LAW, VIZIENT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT OR OTHER VIOLATION OF RIGHTS. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSIONS OR LIMITATIONS, SO THE ABOVE LIMITATIONS MAY NOT APPLY. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM VIZIENT BEFORE OR AFTER THE EFFECTIVE DATE SHALL BE DEEMED TO ALTER THIS DISCLAIMER OF WARRANTY, OR TO CREATE ANY WARRANTY.

                            p 
                                strong Limitation of Liability

                            p You understand that because the Website and Services are available free of charge to You, We will not be liable to You for any damages you may incur resulting from Your use of the Website or any other websites whose links are on the Site. Your use of the Website and Services and third party websites is solely at Your own risk. 
                            p Your use of and browsing in the Site are at Your  own risk. TO THE FULLEST EXTENT POSSIBLE PURSUANT TO APPLICABLE LAW, VIZIENT WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING OUT OF OR RELATING TO THE USE OR THE INABILITY TO USE THE SITE, ITS CONTENT OR LINKS, INCLUDING BUT NOT LIMITED TO DAMAGES CAUSED BY OR RELATED TO ERRORS, OMISSIONS, INTERRUPTIONS, DEFECTS, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, LINE FAILURE, AND ALL OTHER INDIRECT, SPECIAL, INCIDENTAL, EXEMPLARY OR CONSEQUENTIAL DAMAGES EVEN IF VIZIENT HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. NOTWITHSTANDING THE FOREGOING, VIZIENT’S TOTAL LIABILITY TO YOU FOR ALL LOSSES, DAMAGES, AND CAUSES OF ACTION, INCLUDING BUT NOT LIMITED TO THOSE BASED ON CONTRACT, TORT OR OTHERWISE, ARISING OUT OF YOUR USE OF THE SITE, ITS CONTENT OR LINKS, SHALL NOT EXCEED ONE THOUSAND U.S. DOLLARS. YOUR REMEDIES UNDER THESE TERMS ARE EXCLUSIVE AND ARE LIMITED TO THOSE EXPRESSLY PROVIDED HEREIN.

                            p
                                strong Ownership
                            
                            p Headquartered in Irving, Texas, Vizient has locations in Chicago and other cities across the United States – including 11 regional offices. Effective April 1, 2015, VHA, the national health care network of not-for-profit hospitals, and UHC, the alliance of the nation’s leading academic medical centers, combined to form the largest member-owned health care company in the country. Vizient also includes Novation, the health care services company. 
                            p Vizient is dedicated to leading health care innovation, creating knowledge and fostering collaboration to help Our members thrive. Together as one organization, We serve more than 5,200 health system members and affiliates as well as 118,000 non-acute health care customers. Members range from independent, community-based health care organizations to large, integrated systems and academic medical centers. Combined purchasing volume is more than $50 billion annually. 

                            p
                                strong Security
                            p We maintain administrative, technical and physical safeguards to protect against unauthorized access, disclosure, alteration or destruction of the personal information You provide on this Website. You should keep in mind that no Internet transmission is ever completely secure or error-free. In particular, email sent to or from this Site may not be secure.
                            p Member or Supplier Legal Notices to Vizient
                            p In the event that a Vizient Member or Supplier is required to provide Vizient with legal notice or any other formal notice, the Vizient Member or Supplier—in addition to any other written requirement—should provide Vizient written notice, Attn: Legal to  290 E. John Carpenter Freeway, Irving, Texas 75062. 

                            p
                                strong Questions or Comments

                            p We are committed to continuously improving the quality of the Website. If You send us an e-mail message, We will respond to your message via e-mail. We do not use the information We collect for solicitation purposes. The information We collect from this Site (such as Your Internet Service Provider, Your e-mail address, and any other personal information You give Us) is not sold or in any way voluntarily disclosed to third parties, unless disclosure is required by law. We collect and keep this information only for the purposes of tracking and improving products and services.
                            p If you have any questions or comments regarding this agreement or the Vizient Website in general, please contact our Webmaster by e-mailing Us at 
                                a(href="mailto:webpub@vha.com") webpub@vha.com 
                                |or by writing Us at one of Our locations: 
                            p 
                                strong Corporate office
                                |: 290 E. John Carpenter Freeway, Irving, Texas 75062
                            p 
                                strong Illinois office
                                |: 155 N. Wacker Drive, Chicago, IL 60606
                            p You can also visit our 
                                a(href="contact-us.html") Contact Us 
                                |page.

                            p
                                strong Changes to This Privacy Policy and Legal Notice

                            p If this Privacy Policy changes, the revised policy will be posted on this Site. Please check back periodically, and especially before You provide any personally identifiable information. This Privacy Policy was last updated on November 13, 2015.
                            p Last Updated: November 13, 2015
                            p © 2015 Vizient. All rights reserved. 









 







 









