extends layouts/_default

block breadcrumbs    
    .content-divider.content-divider--thick-brand

block content
    main(class="body-content")
        section(class="module module--outer-bg")
            .container.module__content.bg-white
                .row
                    //- Start left content block
                    .col-sm-8
                        h2(class="module__title") Sitemap
                        p
                            strong Not designed yet 
                        p By alphabetical order
                        ul
                            li
                                a(href="become-a-member.html") Become a member
                            li
                                a(href="become-a-supplier.html") Become a supplier
                            li
                                a(href="bid-calendar.html") Bid calendar
                            li
                                a(href="blog.html") Blog
                            li
                                a(href="careers.html") Careers
                            li
                                a(href="contact-us.html") Contact us
                            li
                                a(href="content-page-no-image.html") Content page no image template
                            li
                                a(href="content-page-right-image.html") Content page right image template
                            li
                                a(href="events-calendar.html") Events Calendar
                            li
                                a(href="existing-members.html") Existing members
                            li
                                a(href="expertise.html") Expertise
                            li
                                a(href="guides.html") Guides
                            li
                                a(href="index.html") Index
                            li
                                a(href="leader-bio-page.html") Leader bio page
                            li
                                a(href="modules.html") Modules
                            li
                                a(href="news-and-events.html") New and events
                            li
                                a(href="our-networks.html") Our networks
                            li
                                a(href="privacy.html") Privacy
                            li
                                a(href="sitemap.html") Sitemap
                            li
                                a(href="terms-of-use.html") Terms of use
                            li
                                a(href="transition-notify.html") Transition notify
                            li
                                a(href="what-we-do.html") What we do
                            li
                                a(href="whats-changed-for-you.html") What's changed for you
            