.cn01 { 
	background-color: $white;

	[class*="col-"] {
		margin: 0 !important;
		padding:0 !important;
	}
	.rectangle {
		p{
		  	color:$purple-dark;
		  	font-size: $font-size-small;
		  	letter-spacing: 3px;
	 	}
  	}

	.img {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		@media (max-width: $screen-sm-min) {
			height: 275px !important;
		}
	}
}


.cn01__v1 [class*="col-"] * {
    color: $white;
}

.cn01__v1 {
	.bg-image {
		background-size: cover;
		width: 100%;
		min-height: 275px;
		height: 100%;
	}

	img {
		width: 100%;
	}

	[class*="col-"] {
		&:nth-child(1) {
			padding: 0;
		}
		&:nth-child(2) {
			background-color: $turquoise-dark;
			color: $white;
			
		 
		}
	}


}

.cn01__v2 [class*="col-"] * {
    color: $white;
}

.cn01__v2 {

	
	.bg-image {
		background-size: cover;
		width: 100%;
		min-height: 275px;
		height: 100%;
	}


	img {
		width: 100%;
	}

	[class*="col-"] {
		margin: 0 !important;
		&:nth-child(1) {
			background-color: $turquoise-dark;
		}
		&:nth-child(2) {
			padding: 0;
		}
	}
} 

.cn01__v3 [class*="col-"] * {
    color: $white;
}

.cn01__v3 {

	.pull-quote {
		font-size: $font-size-larger;
		font-family: $soleto-italic;
		// font-weight: $headings-font-weight;
		color: $black;
		span.icon-pull-quote{
			width: 20px;
		    content: " ";
		    background-image: url(/images/icons/svg/icon-pull-quote.svg);
		    position: absolute;
		    left: 13px;
		    top: 54px;
		    height: 9px
		}
		&::before{
		    width: 20px;
		    content: " ";
		    background-image: url(/images/icons/svg/icon-pull-quote.svg);
		    position: absolute;
		    left: 13px;
		    top: 54px;
		    height: 9px
		}
		&::after{
		    width: 20px;
		    content: " ";
		    background-image: url(/images/icons/svg/icon-pull-quote.svg);
		    position: relative;
		    left: 13px;
		    top: 54px;
		    height: 9px
		}
	}


	.author-block{
		float: right;
		position:relative;
		.author-desc{
			text-align: right;
			float: left;
			margin-right: 20px;
			span{
				display: block;
				color: $black;
			}
		}
		.avatar{
			float: left;
		}
	}
	

	[class*="col-"] {
		margin: 0 !important;
		&:nth-child(1) {
			background-color: $turquoise-dark;
		}
		&:nth-child(2) {
			background-color: $yellow;
			// padding: 0;
		}
	}

} 
.cn01__v4 [class*="col-"] * {
    color: $white;
}
.cn01__v4 {

	[class*="col-"] {
		margin: 0 !important;
		padding: 0!important;
		&:nth-child(1) {
			background-color: $turquoise-dark;
		}
		&:nth-child(2) {			
			background-color: $turquoise-dark;
		}
	}
} 

.cn03__v3,
.cn03__v4,
.cn03__v5 {
	[class*="col-"] {
		background-color: $white;
		padding: 0 !important;
	}
}

.cn03__v4 {
	[class*="col-"] {
		padding: 0 !important;
	}
}

.cn03__v6 {
	img {
		height: 275px !important;
	}
}

// v6
.module.cn03__v1 + .module.cn03__v5 {
	padding-top: 0;
	margin-top: -20px;
	position: relative;
}