.cn03 { 
	background-color: $mist-lightest;

	.dot-border {
		&:before,
		&:after {
			border: 3px solid $mist-lightest;
		}
	}


	.img {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		@media (max-width: $screen-sm-min) {
			height: 275px !important;
		}
	}

	ul {
		margin-top: 20px;
		padding-left: 20px;
		list-style-type: none;
		 
		li {
			font-family: $soleto-bold;
			position: relative;
			line-height: 1.25;

			&:before {
				content: ' ';
				display: block;
				position: absolute;
				top: 7px;
				left: -18px;
				width: 5px;
				height: 5px;
				border-radius: 1px;
				background-color: $purple;
			}
		}
	}
}


.cn03__v1 { 
	[class*="col-"] { 
		&:nth-child(1) {
			background-color: $white;
		}
		&:nth-child(2) {
			background-color: $mist;
			
		 
		}
	}

	[class*="col-"] {
		margin: 0 !important;
	}
}
.cn03__v2 {

	
	.bg-image {
		background-size: cover;
		width: 100%;
		min-height: 275px;
		height: 100%;
	}

	img {
		width: 100%;
	}

	[class*="col-"] {
		margin: 0 !important;
		&:nth-child(1) {
			background-color: $white;
			// height: auto;
			// overflow: inherit;
			// @media only screen and (min-width: $screen-sm) {
			// 	height: 272px;
			// 	overflow: hidden;
			// }

		}
		&:nth-child(2) {
			padding: 0;
		}
	}
} 

.cn03__v3 {
	[class*="col-"] {
		margin: 0 !important;
		padding: 0 !important;
	}
}

.cn03__v3,
.cn03__v4,
.cn03__v5 {
	[class*="col-"] {
		background-color: $white;
		padding: 0 !important;
	}
}

.cn03__v4 {
	[class*="col-"] {
		padding: 0 !important;
	}
}

.cn03__v6 {
	img {
		height: 275px !important;
	}
}

.cn03__v7 {
	[class*="col-"] {
		@media (min-width: $screen-sm) {
			margin-top: 4px !important;
			margin-bottom: 4px !important;
		}
	}

	.row-cta {
		background-color: #fff;
		margin-top: 20px;

        @media (min-width: $screen-sm) {
            margin-top: 40px;
        }
	}
}

// v6
.module.cn03__v1 + .module.cn03__v5 {
	padding-top: 0;
	margin-top: -20px;
	position: relative;
}