.cn05 {
	background-color: $mist-lightest;
}

.cn05__v1 {
	[class*="col-"] {

		* {
			color: $white;
		}

		&:nth-child(1) {
			background-color: $purple;
			border-top: 8px solid $purple-dark;
		}

		&:nth-child(2) {
			background-color: $turquoise-dark;
			border-top: 8px solid $teal;
		}

		&:nth-child(3) {
			background-color: $teal;
			border-top: 8px solid $turquoise-dark;
		}
	}
}
