// CN06

.cn06 {
	.left-col {
		background-color: $mist-lightest;
	}
	.right-col {
		background-color: $mist-light;
	}
}

.cn06__v1 {
	@include gradient($mist-lightest, $mist-light, 50%);
	.right-col .module-inner {
		@media (min-width: $screen-md) {
			padding-left: 16%; 
		}

		ul {
			margin-bottom: 0;
			@media (min-width: $screen-md) {
				margin-bottom: 20px;
			}	
		}

	}

}


.cn06__v2 {
	@include gradient($mist-lightest, $mist-light, 50%);
}

.cn06__v3 {
	@include gradient($mist-lightest, $mist-light, 50%);
}

.cn06__v4 {
	@include gradient($mist-lightest, $mist-light, 50%);

	.right-col .module-inner {
		width: auto;
		margin-left: inherit; 
		@media (min-width: $screen-sm) {
			width: 460px;
		}
		@media (min-width: $screen-md) {
			margin-left: 105px;
			width: auto;
		}
		
		.metadata-eyebrow {
			border-bottom: 1px dashed $grey;
		}

		ul {
			
			li { 
				a {
					@include font-size(18px);
				}
				.icon {
					float: right;
					position: relative;
					top: 5px;
				}
			}
		}
	}
}

.cn06__v5 {
  @include gradient($mist-lightest, $mist-light, 50%);
  
  [class*="col-"] {
    &:nth-child(1) {
      padding: 0 !important;
    }
  }

  .bg-image {
    background-size: cover;
    width: 100%;
    min-height: 275px;
    height: 100%;
  }
}

.row-cta {
	[class*="col-"] {
		background: transparent;
	}
}

.cn06__v6 {
    a {
        color: $grey-dark;
    }

    .icon {
        float: right;
    }

    [class*="col-"] {
        &:last-child {
            .metadata-eyebrow {
                border-bottom: 1px dotted $slate-light;
                margin-bottom: 20px;
                padding-bottom: 15px;
            }
            li {
                @include font-size(18px);

                &:last-child {
                    @include font-size(14px);
                    border-top: 1px dotted $slate-light;
                    margin-top: 20px;
                    padding-top: 15px;
                }
            }
        }
    }

}