// CN06

.cn06 {
	.left-col {
		background-color: $mist-lightest;
	}
	.right-col {
		background-color: $mist-light;
	}
}

.cn06__v1 {
	@include gradient($mist-lightest, $mist-light, 75%);
	ul {
		width: 75%; 
	}
}


.cn06__v2 {
	@include gradient($mist-lightest, $mist-light, 50%);
}