.cn01 { 
	[class*="col-"] {
		margin: 0 !important;
		padding:0 !important;
	}
	.module-inner p:first-child{
		@media (max-width: $screen-sm-max) {
			margin-top: 25px;
		}
		
	}
	.icon-arrow-right-white{
		@media (max-width: $screen-sm-max) {
		  		margin-right: 20px !important;
		 }
		
	}
	.rectangle {
		p{
		  	color:$purple-dark;
		  	font-size: $font-size-small;
		  	letter-spacing: 3px;
		  	@media (max-width: $screen-sm-max) {
		  		@include font-size(12px);
		  	}
	 	}
  	}
  	.module-link{
  		font-size: $font-size-small;
  	}


	.img {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		@media (max-width: $screen-sm-min) {
			height: 275px !important;
		}
	}
}

.cn01__v1 {
	img {
		width: 100%;
	}

	[class*="col-"] {
		&:nth-child(1) {
			padding: 0;
		}
	}
}

.cn01__v2 [class*="col-"] * {
    color: $white;
}

.cn01__v2 {
	.bg-image {
		background-position:center center;
	}
	img {
		width: 100%;
	}

	[class*="col-"] {
		margin: 0 !important;

		&:nth-child(2) {
			padding: 0;
		}
	}
} 

.cn01__v3 {
	.pull-quote__text-turquoise{
		font-family: $soleto-italic;
	}

	[class*="col-"] {
		margin: 0 !important;
	}
}

.cn01__v4 {
	[class*="col-"] {
		margin: 0 !important;
		padding: 0!important;
	}
}

.cn01__v5 {
	[class*="col-"] {
		margin: 0 !important;
		padding: 0!important;
	}

	p.figure{
		margin-top: 75px;

		@media (max-width: $screen-sm-min) {
			margin-top: 0px !important;
		}
	}
}

