// CN06

.cn06 {
	.left-col {
		background-color: $mist-lightest;
	}
	.right-col {
		background-color: $mist-light;
	}
}

.cn06__v1 {
	@include gradient($mist-lightest, $mist-light, 50%);
	.right-col .module-inner {
		@media (min-width: $screen-md) {
			padding-left: 16%; 
		}

		ul {
			margin-bottom: 0;
			@media (min-width: $screen-md) {
				margin-bottom: 20px;
			}	
		}

	}

}


.cn06__v2 {
	@include gradient($mist-lightest, $mist-light, 50%);
}

.cn06__v3 {
	@include gradient($mist-lightest, $mist-light, 50%);
}

.cn06__v4 {
	@include gradient($mist-lightest, $mist-light, 50%);

	.right-col .module-inner {
		width: auto;
		margin-left: inherit; 
		@media (min-width: $screen-sm) {
			width: 460px;
		}
		@media (min-width: $screen-md) {
			margin-left: 105px;
			width: auto;
		}
		
		.metadata-eyebrow {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px dashed $grey;
		}

		ul {
			
			li { 
				a {
					@include font-size(18px);
					
				}
				.icon {
					float: right;
					position: relative;
					top: 5px;
				}
			}
		}
	}
	

}

.row-cta {
	[class*="col-"] {
		background: transparent;
	}
}