.cn02 {
	.metadata-eyebrow {
		color: $slate-light;
		margin-bottom: 15px;
	}
	
	h2 {
		margin-bottom: 20px;
	}
	
	.description {
		margin-bottom: 30px;
	}

  	.module-link {
  		font-size: $font-size-small;
  		color: $grey-dark;
  		font-weight: bold;
  	}
	
	.bg-image {
		background-size: cover;
		width: 100%;
		min-height: 275px;
		height: 100%;
	}
}

.cn02__v1 {
	// Needs checking and globalising
	.arrow-curved-white {
		left: -17px;
		z-index: 9999;
		transform: rotate(270deg);
		
		@media (max-width: $screen-md)  {
			top:-1px;
			left: 25px;
			z-index: 9999;
			transform: rotate(0deg);
		}
	}
}

.cn02__v2 {
	[class*="col-"] {
		&:nth-child(1) {
			padding: 0 !important;
		}
	}

	// Needs checking and globalising
	.arrow-curved-white{
		left: -17px;
		z-index: 9999;
		transform: rotate(270deg);
		
		@media (max-width: $screen-md)  {
			top:257px;
			left: 25px;
			z-index: 9999;
			transform: rotate(180deg);
		}
	}
}

.cn02__v3 {
	[class*="col-"] {
		&:nth-child(2) {
			padding: 0 !important;
		}
	}
	
	// Needs checking and globalising
  	.arrow-curved-white{
		left: 602px;
		z-index: 9999;
		transform: rotate(90deg);
		@media (max-width: $screen-md)  {
			top:-2px;
			left: 25px;
			z-index: 9999;
			transform: rotate(0deg);
		}
	}
}

.cn02__v4 {
	.metadata-eyebrow {
		margin-bottom: 15px;
	}
	
	.icon-arrow-right-darkgrey {
		background-position: 0px 1px;
	}
}

