
.cn11 {
    // Columns

    .module {
        z-index: 1;
    }
    
    [class*="col-"]:last-child .module-inner {
        position: static;

        @media (max-width: $screen-sm - 1) {
            padding: 20px 0;
        }

        *:last-child {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }


    // Content Elements

    h1 {
        font-family: $soleto-thin;
        @include font-size(36px);
        line-height: 1.2;

        @media (min-width: $screen-sm) {
            @include font-size(48px);
        }

        @media (min-width: $screen-md) {
            @include font-size(72px);
            line-height: 1.1;
        }
    }

    h2 {
        font-family: $soleto-thin;
        @include font-size(28px);
        line-height: 1.3;

        @media (min-width: $screen-md) {
            @include font-size(48px);
            line-height: 1.2;
        }
    }

    h3 {
        font-family: $soleto-thin;
        @include font-size(24px);

        @media (min-width: $screen-md) {
            @include font-size(36px);
        }
    }

    h4 {
        font-family: $soleto-thin;
        @include font-size(22px);
        line-height: 1.3;

        @media (min-width: $screen-md) {
            @include font-size(28px);
        }
    }

    h5 {
        font-family: $soleto-thin;
    }

    &.banner-with-image {
        @media (max-width: $screen-sm - 1) {
            [class*="col-"]:first-child .module-inner {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        [class*="col-"]:last-child {

            position: relative;

            .module-inner {
                padding: 0;

                @media (min-width: $screen-sm) {
                    bottom: 0;
                    padding: 40px;
                    position: absolute;
                }
            }
        }


    	// Content Elements

        .module-inner .bg-image {
            height: 100px;

            @media (min-width: $screen-sm) {
                height: 160px;
            }


            @media (min-width: $screen-md) {
                height: 240px;
            }
        }

        .bg-image {
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: contain;
            height: 140px;

            @media (min-width: $screen-sm) {
                height: 240px;
            }

            @media (min-width: $screen-md) {
                height: 320px;
            }
        }

        &.cn11__v3 .bg-image {
            @media (min-width: $screen-sm) {
                background-position: left center;
                background-size: cover;
                height: 350px;
            }

            @media (min-width: $screen-md) {
                height: 430px;
            }

            @media (min-width: $screen-lg) {
                height: 320px;
            }
        }
    }


    // Descender arrow

    .arrow {
        background-position: top center;
        background-size: 100%;
        bottom: -20px;
        height: 22px;
        left: 20px;
        position: absolute;
        width: 50px;
        z-index: 1;
    }

    .link-back {
        @include font-size(14px);
        padding-left: 20px;
        position: relative;

        @media (min-width: $screen-sm) {
            font-size: inherit;
        }

        span {
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &.icon-arrow-left-darkgrey {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
    
    // Variants
    &.cn11__v1 {
        &.banner {
            background-color: $grey-alt;
            background-position: right 20% top 0;
            background-repeat: no-repeat;
            height: 469px;

            @media (min-width: $screen-sm) {
                background-position: right 33%  top 0;
            }

            @media (min-width: $screen-lg) {
                background-position: right 0;
            }

            &:after {
                @include gradient-vertical(transparent, rgba(#fff, .8), 35%, 70%);
                bottom: 0;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;

                @media (min-width: $screen-sm) {
                    @include gradient-directional(rgba(#fff, .7), transparent, 72deg);
                }
            }

            .container:first-child {
                background-color: transparent;
                display: table;
                height: 100%;
                position: relative;
                z-index: 1;

                .row {
                    display: table-cell;
                    padding: 30px 24px;
                    vertical-align: bottom;

                    @media (min-width: $screen-sm) {
                        padding: 0 0 0 40px;
                        vertical-align: middle;
                    }

                    @media (min-width: $screen-md) {
                        padding-left: 40px;
                    }

                    @media (min-width: $screen-lg) {
                        padding-left: percentage(1 / $grid-columns);
                    }
                }
            }

            p {
                margin: 0 0 24px;
            }
        }

        [class*="col-"]:last-child .module-inner {
            position: static;
        }

        &.module.module-bleed .container [class*="col-"] {
            margin: 0;
            padding: 0;
        }

        .module-inner {
            padding: 24px;

            @media (min-width: $screen-sm) {
                padding: 20px;
            }

            @media (min-width: $screen-md) {
                padding: 30px;
            }

            @media (min-width: $screen-lg) {
                padding: 40px;
            }
        }

        h1 {
            @include font-size(72px);
            font-family: $soleto-thin;

            sup, sub {
                font-size: $font-size-larger;
                top: -1.5em;
            }

            sub {
                left: 5px;
                top: 0;
            }
        }

        p {
            margin: 0 0 44px 0;

            @media (min-width: $screen-lg) {
                margin: 0 18% 0 0;
            }
        }

        a.btn-circle-arrow {
            background: url(../images/icons/svg/icon-arrow-right-white.svg) center no-repeat;
            border: 2px solid #fff;
            border-radius: 100%;
            bottom: 20px;
            height: 44px;
            position: absolute;
            right: 24px;
            width: 44px;

            @media (min-width: $screen-sm) {
                right: 30px;
            }

            @media (min-width: $screen-lg) {
                bottom: 30px;
                right: 44px;
            }
        }
    }

    &.cn11__v8 {
        &.module {
            z-index: 2;
        }

        [class*="col-"]:last-child .module-inner {
            overflow: hidden;
            padding-bottom: 10px;
            padding-top: 10px;


            @media (min-width: $screen-sm) {
                padding-bottom: 20px;
                padding-top: 30px;
            }
        }

        img {
            float: left;
        }

        @media (max-width: $screen-sm) {
            p {
                @include font-size(14px);
            }
        }

        strong {
            display: block;
            font-family: $soleto-regular;
            font-weight: normal;

            @media (min-width: $screen-sm) {
                padding-top: 8px;
            }
        }
    }
}
