// CN20

.cn14 {
	&.cn14__v1 {
		[class*="col-"] {
			margin: 0 !important;
			padding:0 !important;
		}
		.metadata-eyebrow{
			padding-bottom: 0px!important;
		}
		.downloadlinkText{
			// margin-bottom:40px;
		}
		.e28{
			margin-bottom: 20px!important;
		}
		p.post__content{
			@media only screen and (min-width: $screen-sm) {
				width:80%!important;
				padding-bottom:0px!important;
				margin-bottom: 0px!important;
			}

		}
		.bottom-row{
			padding-top: 0px!important;
		}

		[class*="col-"] {
			&:nth-child(2) {
				p{
					width:90%!important;
				}
			}
		}
	}
	&.cn14__v2 {
		.module-inner{
			padding-top:10px!important;
			padding-bottom:0px!important;
		}
		.calendar-date{
			width: 44px;
			height: 44px;
			background-color: $orange-dark;
			float: left;
			span{
			color: $white!important;
			}
		}
		p.metadata-eyebrow{
			@media only screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
					position: absolute!important;
				    left: 0px!important;
				    top: -25px!important;
			}
			margin-bottom: 15px!important;
			padding-bottom:0px!important;
		}
		p.metadata-byline{
			margin-bottom: 10px!important;
		}
		p.e20{
			color: $orange;
		}
		.event-description {
			margin-left: 66px;
			// position: absolute;
			// top:0px;
			// margin-bottom: 30px!important;
		}
		.event {
			margin-top: 0;


		}
	}

	&.cn14__v5 {
		@media (max-width: $screen-sm - 1) {
			&.module {
				[class*="col-"] {
					margin-top: 0;
					padding-top: 0;
				}

				.bottom-dot-border {
					margin-bottom: 20px;
				}

				.module-inner {
					padding: 0;
				}
			}
		}

		h6 {
			font-family: $soleto-regular;
		}

		.avatar {
			height: auto;
			max-width: 186px;
			padding-top: 20px;
			width: 100%;

			@media (min-width: $screen-sm) {
				padding-top: 25px;
			}

			@media (min-width: $screen-md) {
				padding-top: 40px;
			}
		}

		.author {
			font-family: $soleto-regular;
			@include font-size(14px);

			strong {
				display: block;
				font-family: $soleto-medium;
				font-weight: normal;
			}
		}

		ul.tags {
			list-style: none;
			margin: 0;
			padding: 0;

			li {
				display: inline-block;
				font-family: $soleto-regular;
				@include font-size(14px);
				margin: 0;

				a {
					color: $orange-dark;
					@include font-size(12px);
				}
			}
		}

		a.btn {
			@media (min-width: $screen-sm) {
				margin: 10px 0;
			}
		}
	}
}