
.cn11 {
    
    // Heights
    @media (min-width: $screen-sm) {
        &.hgt-tiny {
            [class*="col-"],
            .bg-image {
                min-height: 150px;
            }
        }

        &.hgt-small {
            [class*="col-"],
            .bg-image {
                min-height: 200px;
            }
        }

        &.hgt-medium {
            [class*="col-"],
            .bg-image {
                min-height: 250px;
            }
        }

        &.hgt-big {
            [class*="col-"],
            .bg-image {
                min-height: 300px;
            }
        }
    }

    // Columns
    
    [class*="col-"] {

        // Right
        &:first-child {
            .module-inner {
                padding: 0;
                //height: 100%;

                @media (min-width: $screen-sm) {
                    padding: 40px;
                }
            }
        }
        
        // Left
        &:last-child {
            position: relative;

            .module-inner {
                padding: 0;

                @media (min-width: $screen-sm) {
                    bottom: 0;
                    padding: 40px;
                    position: absolute;
                }
            }
        }
    }

    // These rules should be moved globally and be dfor color choice settings
    // made by CMS choice of bg color
    
    &.bg-purple,
    &.bg-turquoise-dark {
        h1, p, a {
            color: $white;
        }
    }

    // Content Elements

    h1 {
        margin-bottom: 15px;

        &.heading-large {
            @include font-size(36px);

            @media (min-width: $screen-sm) {
                @include font-size(48px);
            }
            @media (min-width: $screen-md) {
                @include font-size(64px);
            }
        }
    }

    p {
        @include font-size(22px);
    }

    .bg-image {
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;

        @media (min-width: $screen-sm) {
            background-size: contain;
            height: 100%;
            width: 100%;
        }
    }

    // Descender arrow

    .arrow {
        background-position: top center;
        background-size: 100%;
        bottom: -20px;
        height: 22px;
        left: 20px;
        position: absolute;
        width: 50px;
        z-index: 1;
    }
    
    // Variants

    &.cn11__v3,
    &.cn11__v4 {
        .bg-image {
            background-position: bottom 30px left 150px;
            background-size: 100%;

            @media (min-width: $screen-sm) {
                background-position: center left;
                background-size: cover;
            }
        }
    }

    &.cn11__v6 {
        .link-back {
            display: inline-block;
            margin-bottom: 15px;
        }
    }
}
