.cn22 {
	
	
	&.cn22__v1 {
		
		h4, p {
			color: $white;
		}
		h4{
			margin-bottom: 40px;
		}
		p{
			margin-bottom: 15px;
		}

	}
	&.cn22__v2 {
		.left-col {
			background-color: $turquoise-dark;
		}
		.right-col {
			background-color: $Sunglow;
		}
		.bg-sunglow{
			background-color: $Sunglow
		}

		@include gradient($turquoise-dark, $Sunglow, 50%);
		h4, p {
			color: $white;
		}
		h4{
			margin-bottom: 40px;
		}
		p{
			margin-bottom: 15px;
		}  
		.arrow-turquoise-dark{
			left: -17px;
			z-index: 9999;
			transform: rotate(270deg);
	} 

		[class*="col-"] {

			
			&:first-child {
				padding:40px 73px 40px 45px!important;

				@media (min-width: $screen-sm) {
					@include gradient($turquoise-dark, $turquoise-dark, 100%);
				}

				@media (min-width: $screen-lg) {
					p {
						max-width: 75%;
					}
				}
			}

			img {
				display: inline-block;
				width: 80%!important;
				vertical-align: middle;
				@media (min-width: $screen-sm) {
					margin-top: 40px!important;
					width: 60%
				}
				@media (min-width: $screen-md) {
					margin-top: 40px!important;
					width: 40%
				}
				@media (min-width: $screen-lg) {
					margin-top: 60px!important;
					width: 55%!important;
				}
			}
		}
	}
	&.cn22__v3 {
		@include gradient($turquoise-dark, $white, 50%);
		 h4, p {
			color: $white;
		}
		.bg-image {
			background-size: cover;
			width: 100%;
			min-height: 275px;
			height: 100%;
		}
		.left-col {
			background-color: $turquoise-dark;
		}
		.right-col {
			padding:0px !important;
		}
		.arrow-turquoise-dark{
		left: -17px;
		z-index: 9999;
		transform: rotate(270deg);
		@media (max-width: $screen-md)  {
			top:257px;
			left: 25px;
			z-index: 9999;
			transform: rotate(180deg);
		}

	}

	}

}