.cn22 {
	h4{
		margin-bottom: 40px!important;
	}
	p{
		margin-bottom: 15px;
		padding-bottom:0px!important;
	}

	&.cn22__v2 {
		.arrow-turquoise-dark{
			left: -17px;
			transform: rotate(270deg);
		} 

		[class*="col-"] {
			&:first-child {
				@media (min-width: $screen-lg) {
					p {
						max-width: 75%;
					}
				}
			}

			img {
				display: inline-block;
				width: 80%!important;
				vertical-align: middle;
				@media (min-width: $screen-sm) {
					margin-top: 40px!important;
					width: 60%
				}
				@media (min-width: $screen-md) {
					margin-top: 40px!important;
					width: 40%
				}
				@media (min-width: $screen-lg) {
					margin-top: 60px!important;
					width: 55%!important;
				}
			}
		}
	}
	&.cn22__v3 {
		.bg-image {
			background-size: cover;
			width: 100%;
			min-height: 275px;
			height: 100%;
		}
		.right-col {
			padding:0px !important;
		}
		.arrow-turquoise-dark{
			left: -17px;
			transform: rotate(270deg);
			@media (max-width: $screen-md)  {
				top:257px;
				left: 25px;
				transform: rotate(180deg);
			}
		}
	}
}