// CON02

.con02_contact_info {
	
	[class*="col-"] {
		&:first-child {
			padding-top: 30px !important;
		}
	}

	article {
		margin-top: 20px;

		@media (min-width: $screen-sm) {
			margin-top: 30px;
			position: relative;
		}
	}
	
	.icon-section {
		margin-bottom: 10px;
		@media (min-width: $screen-sm) {
			left: 0;
			position: absolute;
			top: 0;
		}
	}

	.article-content {
		@media (min-width: $screen-sm) {
			margin-left: 65px;
		}
		
		.tel {
			@extend .bold;
			@include font-size(24px);
			color: $grey-dark;
		}

		.email {
			@extend .bold;
		}
	}
}