.in01 {

	@media only screen and (max-width: $screen-sm-max) {
		.btn {
			width: 100%;
		}
		p{
			line-height: 28px;
		}
	}


}
.in01__v1 {
	

  	.module-inner {
		padding: 10px;
		padding-top: 0;
		
		@media only screen and (min-width: $screen-sm) {
			padding: 20px;

		}
	}

	.left-col {
		p {
	  		color: $orange;
	  		font-family: $soleto-medium;
	  		line-height: 26px;
	  		margin-top: 10px;
	  	}

	}

  	.right-col {
  		text-align: center;

  		.btn {
  			width: 100%;
  			@media only screen and (min-width: $screen-sm) {
  				width: auto;
  			}
  			
  		}
  	}
}