.in01 {
	@media only screen and (max-width: $screen-sm-max) {
		.btn {
			width: 100%;
		}
		p{
			line-height: 28px;
		}
	}
}
.in01__v1 {
	p{
  		color: $orange;
  		font-family: $soleto-medium;
  		line-height: 26px;

  	}
}