.in01 {

	@media only screen and (max-width: $screen-sm-max) {
		
		p{
			line-height: 28px;
		}
	}
	[class*="col-"] {
			margin: 0 !important;
			padding:0 !important;
		}


}
.in01__v1 {
	
	padding-top: 20px;
	@media only screen and (min-width: $screen-sm) {
		padding-top: 40px;
	}

  	.module-inner {
		padding: 10px;
		padding-top: 0;		
		@media only screen and (min-width: $screen-sm) {
			padding: 20px;
		}
	}

	.dot-border{
		width: 100%;
	}
	.left-col {
		p {
	  		color: $orange;
	  		font-family: $soleto-medium;
	  		line-height: 26px;
	  		margin-top: 10px;
	  	}

	}

  	.right-col {
  		text-align: center;

  		
  	}
}
.in01__v2 {
	p{
		color: $orange;
		@media only screen and (max-width: $screen-sm) {
			@include font-size(18px);
		}
	}
	
	
	.two-dot-border{
	    border: 4px solid #ffc02e;
	    border-radius: 2px;
	    height: 100%;
	    padding : 30px;
	}
	.left-col{
		p{
			padding-right:30px!important;
		}
		@media only screen and (max-width: $screen-md) {
			padding-bottom:40px!important;

		}
		
	}
}