// NV09

.nv09 {
	&.module {
		z-index: 1;
		
		[class*="col-"] {
			margin-top: 0;
		}
	}
	
	.search-control {
		@include clearfix;
		align-items: center;
		background-color: $white;
		border-radius: 32px;
		display: flex;
		padding: 4px;
	}

	input[type='search'] {
		border: none;
		border-radius: 32px;
		color: $grey-dark;
		flex: 1;
		padding: 3px 12px;
		
		// Need an alternative style adding so a consistent
		// accessible focus effect cross browser.
		&:focus {
			outline: 0;
		}
	}

	.icon-close-slate {
		cursor: pointer;
		margin-right: 12px;
	}

	.btn-small {
		padding: 6px 0;
		width: 39px;
		
		// Need an alternative style adding so a consistent
		// accessible focus effect cross browser.
		&:focus {
			outline: 0;
		}

		@media (min-width: $screen-sm) {
			padding: 6px 12px;
			width: auto;

			i {
				margin-right: 6px;
			}
		}
	}
}