// Body Content (class added to the <main> element)

.row {
	margin-left: -8px;
	margin-right: -8px;
}

.body-content {
	position: relative;

	// @media (max-width: 1074px) {
	// 	padding-top: 60px;
	// }
}