// Dashboard

.dashboard {
	.body-content {
		background: $grey;
		padding-bottom: 0;
		
		@media only screen and (min-width: $screen-lg) {
			&:before {
				content: none;
			}

			.dashboard-side-nav {
				display:table-cell;
				float: none;
				vertical-align: top;
			}
		}

		.dashboard-content {
			background: $mist-light;
			
			@media only screen and (min-width: $screen-lg) {
				display:table-cell;
				float: none;
			}
		}

		> .row {
			> [class*="col-"] {
				&:first-child {
					background: $white;
				}
				&:last-child {
					max-width: 1200px;
				}
			}
		}
	}

	@media only screen and (min-width: $screen-md) {
		#main-footer {
			margin-top: 0;
		}
	}
}