// Dashboard

.dashboard {
	.body-content {
		background: $grey;

		.dashboard-side-nav {
			border-right: 1px solid $grey;
		}

		.dashboard-content {
			background: $mist-light;
		}

		> .row {
			> [class*="col-"] {
				&:first-child {
					background: $white;
				}
				&:last-child {
					max-width: 1200px;
				}
			}
		}
	}

	@media only screen and (min-width: $screen-md) {
		#main-footer {
			margin-top: 0;
		}
	}
}