// Curved Arrows
// Used on:
// [X] - CN02 v1 v2 v3 								(outside element...moved inside now)
// [X] - CN03 v6 v7 (check others in Zeplin though)	(inside element)
// [X] - CN06 v1									(inside element - example used on 'contact-us.jade')
// [X] - CN11 v2 v3 v4 v5 v6 v7 v9 v10 v11			(inside element - down arrows)
// [X] - CN17 v1 v2 v4								(inside element)
// [X] - CN21 v1 v2									(inside element - down arrows)
// [X] - CN22 v2 v3									(outside element)
//
// TODO:
// [X] - Remove component selectors to make this available to all components.
// [X] - Check all page templates arrows to ensure no inline HTML ones out of date.
// [X] - Check we have SVG and PNG for all of the arrows
// [X] - Check all responsive breakpoints against Zeplin designs
// [X] - Check IE9 and PNG fallback working
// [X] - Before commiting list adjusted JADE templates for codedrop.

.arrow {
	background-repeat: no-repeat;
	background-size: 100%;
	height: 22px;
	position: absolute;
	width: 50px;
	z-index: 1;

	@media (min-width: $screen-md) {
		height: 32px;
		width: 75px;
	}
	
	// Points Down
	// Positioned on bottom left of row at all breakpoints.
	
	&.arrow-down { 
		bottom: -20px;
		left: 20px;

		@media (min-width: $screen-md) {
			bottom: -29px;
		}
	}
	
	// Points down.
	// Positioned on bottom left of row until small breakpoint, then centered on bottom of row.

	&.arrow-down-center {
		bottom: -20px;
		left: 20px;

		@media (min-width: $screen-sm) {
			bottom: -29px;
			left: 50%;
			transform: (translateX(-50%));
		}
	}

	// Points left
	// Positioned on center right of parent block at medium up, otherwise on bottom left
	// pointing down.

	&.arrow-left {
		bottom: -20px;
		left: 20px;
		
		@media (min-width: $screen-md) {
			bottom: 47%;
			left: -50px;
			right: auto;
			transform: rotate(90deg); 
		}
	}

	// Points right
	// Positioned on center left of parent block, otherwise on bottom left
	// pointing down.

	&.arrow-right {
		bottom: -20px;
		left: 20px;

		@media (min-width: $screen-md) {
			bottom: 47%;
			left: auto;
			right: -50px;
			transform: rotate(270deg); 
		}
	}
	
	// Add to arrows that need to point upwards in single column layouts
	// The default is downwards so this overrides that. Usually added to .arrow-left
	// and .arrow-right

	&.arrow-small-up {
		@media (max-width: $screen-sm) {
			bottom: auto;
			top: -20px;
			transform: rotate(180deg); 
		}
	}
}

// Arrows graphics
// Check these don't override background size

.arrow-mist {
	background-image: url(../images/icons/svg/arrow-curved.png);
    background-image: url(../images/icons/svg/arrow-curved.svg), linear-gradient(transparent, transparent);
}

.arrow-curved-white {
	background-image: url(../images/icons/svg/arrow-curved-white.png);
    background-image: url(../images/icons/svg/arrow-curved-white.svg), linear-gradient(transparent, transparent);
}

.arrow-mist-light {
	background-image: url(../images/icons/svg/arrow-curved-mist-light.png);
    background-image: url(../images/icons/svg/arrow-curved-mist-light.svg), linear-gradient(transparent, transparent);
}

.arrow-mist-lightest {
	background-image: url(../images/icons/svg/arrow-curved-mist-lightest.png);
    background-image: url(../images/icons/svg/arrow-curved-mist-lightest.svg), linear-gradient(transparent, transparent);
}

.arrow-peach-light {
	background-image: url(../images/icons/svg/arrow-curved-peach-light.png);
    background-image: url(../images/icons/svg/arrow-curved-peach-light.svg), linear-gradient(transparent, transparent);
}

.arrow-purple {
    background-image: url(../images/icons/arrow-curved-purple.png);
    background-image: url(../images/icons/svg/arrow-curved-purple.svg), linear-gradient(transparent, transparent);
}

.arrow-yellow {
    background-image: url(../images/icons/arrow-curved-yellow.png);
    background-image: url(../images/icons/svg/arrow-curved-yellow.svg), linear-gradient(transparent, transparent);
}

.arrow-turquoise-dark {
    background-image: url(../images/icons/arrow-curved-turquoise-dark.png);
    background-image: url(../images/icons/svg/arrow-curved-turquoise-dark.svg), linear-gradient(transparent, transparent);
}

.arrow-turquoise-darkest {
    background-image: url(../images/icons/arrow-curved-turquoise-darkest.png);
    background-image: url(../images/icons/svg/arrow-curved-turquoise-darkest.svg), linear-gradient(transparent, transparent);
}

.arrow-white {
    background-image: url(../images/icons/arrow-curved-white.png);
    background-image: url(../images/icons/svg/arrow-curved-white.svg), linear-gradient(transparent, transparent);
}

.arrow-green {
    background-image: url(../images/icons/arrow-curved-green.png);
    background-image: url(../images/icons/svg/arrow-curved-green.svg), linear-gradient(transparent, transparent);
}

.arrow-slate {
    background-image: url(../images/icons/arrow-curved-slate.png);
    background-image: url(../images/icons/svg/arrow-curved-slate.svg), linear-gradient(transparent, transparent);
}
