.arrow-right {
  transform: rotate(0deg);   
  position: absolute;
  top: -46px;
  left: -25px; 

  @media only screen and (min-width: $screen-sm) {
    position: absolute;
    top: 40%;
    top: calc(100% / 2 - 33px);
    left: -88px;
    transform: rotate(270deg);
  }
}

.arrow-left {
  display: none;
  left: -42px;
  position: absolute;
  top: 50%;
  transform: rotate(90deg) translateY(-50%);

  @media only screen and (min-width: $screen-sm) {
    display: block;
  }
}


.arrow-down {
	 
	transform: rotate(180deg);	 
	position: absolute;
	top: -46px;
	left: 0px; 

}

 