// Avatars


.avatar-sm {
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.avatar-md {
    height: 60px; 
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.avatar-lg {
    height: 180px; 
}