// Avatars


.avatar-sm {
	height: 30px;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

.avatar-md {
    height: 60px; 
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.avatar-lg {
    height: 180px; 
}

.author-block{
	float: right;
	.author-desc{
		text-align: right;
		float: left;
		margin-right: 20px;
		span{
			display: block;
			color: $black;
		}
	}
	.avatar{
		float: left;
	}
}