// Button Lists - multiple buttons side by side

.button-list {
    width: 100%;
    display: block;

    @media (min-width: $screen-md-min) {
        display: inline-block;
        width: initial;
    }

    button, .btn {
        margin: 0 10px 20px 0;
        @media (min-width: $screen-sm-min) {
            margin: 0 45px 10px 0;
            display: inline-block;
            width: initial;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}