.figure { 
	font-family: $soleto-light;
	line-height: 1.13em;
	letter-spacing: -0.6px;
	@include font-size(36px);
	
	@media only screen and (min-width: $screen-sm) {
		@include font-size(48px);
	} 
	
	@media only screen and (min-width: $screen-lg) {
		@include font-size(72px);
	} 
}
.rectangle {
  width: 185px;
  height: 44px;
  background-color: #ffbf2d;
  float: right;
  padding:10px;
  margin: 0px!important;
}

.rectangle-3 {
    width: 80px;
    height: 79px;
    opacity: 0.8;
    background-color: #ff4e00;
    position: absolute;
    right: 0;
    bottom: 0;
}

.oval {
	background: none, url(../images/icons/svg/icon-circle-chain.svg);
	display: block;
	width: 24px;
	height: 24px;
	float: left;
	margin-right : 10px;
}