.figure {
	@include font-size(72px);
	font-family: $soleto-light;
	line-height: 1.13em;
	letter-spacing: -0.6px;

	sup {
		@include font-size(24px);
		
		@media only screen and (min-width: $screen-sm) {
			top: -35px;
		}
	}

	sub {
		@include font-size(24px);
		bottom: 2px;
	}

	@media only screen and (max-width: $screen-xs-max) {
		@include font-size(36px);
	}
}
