// Pagination

.pagination {
	@include clearfix;
	padding: 20px 0;

	li {
		display: block;
		float: right;
		margin-bottom: 0;
		padding: 0 20px;
		width: 50%;

		&:first-child {
			border-right: 2px solid $orange;
			float: left;
			text-align: right;
		}
		
		a {
			@extend .bold;
		}
	}
}