/// Spacings ///

$paddings: (0, 5, 10, 15, 20, 25, 30, 40, 50, 55, 60, 75, 90, 95, 100, 110);

$margins: (5, 10, 15, 20, 25, 30, 40, 50, 55, 60, 75, 80, 90, 95, 100, 110);

$min-heights: (5, 10, 15, 20, 25, 30, 40, 50, 55, 60, 75, 80, 90, 95, 100, 110, 130, 150);