extends layouts/_default

block content
	main(class="body-content showSubNav")
		include modules/_cn11__v8
		include modules/_cn09__v1_blogarticle
		include modules/_cn05__v2
		include modules/_in01__v1
