extends layouts/_default

// Product Detail page
block content
	main(class="body-content")
		include modules/_cn11__v9
		include modules/_cn06__v6
		include modules/_cn10__v1
		include modules/_cn09__v1
		include modules/_cn03__v5
		include modules/_cn01__v5
		include modules/_in01__v1