extends layouts/_default

// Product Detail page
block content
	main(class="body-content")
		include modules/_cn11__v9
		include modules/_cn06__v6
		include modules/_cn10__v1
		section(class="module cn09 cn09__v1")
			.container
				.row
					.col-xs-12.col-md-4.col-md-push-8.col-lg-3.col-lg-push-9
						include modules/_nv05__v1
					.col-xs-12.col-md-8.col-md-pull-4.col-lg-9.col-lg-pull-3
						include modules/_cn14__v1
		include modules/_cn03__v5
		include modules/_cn01__v5
		include modules/_in01__v1