extends layouts/_default

block content
	main(class="body-content") 
		// Standard Module Dev Notes
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN02 v1
		include modules/_cn02__v1
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN02 v2 
		include modules/_cn02__v2
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN02 v3
		include modules/_cn02__v3
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN02 v4 
		include modules/_cn02__v4
				