extends layouts/_default

block content
	main(class="body-content")

		// 1 block - Yellow solid border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg")
			.container
				h3 MODULE CN03
				h3 1 block - Yellow solid border - Grey background
				.row
					.col-xs-12
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 1 block - Yellow solid border - White background
		section(class="module cn03 cn03_v1")
			.container
				h3 MODULE CN03
				h3 1 block - Yellow solid border - White background
				.row
					.col-xs-12
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 1 block - Grey dashed border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg")
			.container
				h3 MODULE CN03
				h3 1 block - Grey dashed border - Grey background
				.row
					.col-xs-12
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 1 block - Grey dashed border - White background
		section(class="module cn03 cn03_v1")
			.container
				h3 MODULE CN03
				h3 1 block - Grey dashed border - White background
				.row
					.col-xs-12
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.






		// 2 blocks - Yellow solid border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg")
			.container
				h3 MODULE CN03
				h3 2 blocks - Yellow solid border - Grey background
				.row
					.col-sm-6.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-6.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 2 blocks - Yellow solid border - White background
		section(class="module cn03 cn03_v1")
			.container
				h3 MODULE CN03
				h3 2 blocks - Yellow solid border - White background
				.row
					.col-sm-6.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-6.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 2 blocks - Grey dashed border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg")
			.container
				h3 MODULE CN03
				h3 2 blocks - Grey dashed border - Grey background
				.row
					.col-sm-6.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-6.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 2 blocks - Grey dashed border - White background
		section(class="module cn03 cn03_v1")
			.container
				h3 MODULE CN03
				h3 2 blocks - Grey dashed border - White background
				.row
					.col-sm-6.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-6.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.






		// 3 blocks - Yellow solid border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg")
			.container
				h3 MODULE CN03
				h3 3 blocks - Yellow solid border - Grey background
				.row
					.col-md-4.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-md-4.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-md-4.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 3 blocks - Yellow solid border - White background
		section(class="module cn03 cn03_v1")
			.container
				h3 MODULE CN03
				h3 3 blocks - Yellow solid border - White background
				.row
					.col-md-4.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-md-4.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-md-4.eq-height-max
						.border
							.content
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 3 blocks - Grey dashed border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg")
			.container
				h3 MODULE CN03
				h3 3 blocks - Grey dashed border - Grey background
				.row
					.col-md-4.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-md-4.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-md-4.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

		// 3 blocks - Grey dashed border - White background
		section(class="module cn03 cn03_v1")
			.container
				h3 MODULE CN03
				h3 3 blocks - Grey dashed border - White background
				.row
					.col-md-4.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-md-4.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-md-4.eq-height-max
						.content
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.






		// 1 block - 2 equal columns - With image - Yellow solid border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg module--has-cols")
			.container
				h3 MODULE CN03
				h3 1 block - 2 equal columns - With image - Yellow solid border - Grey background
				.border
					.content.clearfix
						.col-sm-6.eq-height-max
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.col-sm-6.eq-height-max.img(style="background-image:url('/images/cn03.png');")

		// 1 block - 2 equal columns - With image - Yellow solid border - White background
		section(class="module cn03 cn03_v1 module--has-cols")
			.container
				h3 MODULE CN03
				h3 1 block - 2 equal columns - With image - Yellow solid border - White background
				.border
					.content.clearfix
						.col-sm-6.eq-height-max
							.inner-content
								p.metadata-byline Program
								h3
									a Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.col-sm-6.eq-height-max.img(style="background-image:url('/images/cn03.png');")

		// 1 block - 2 equal columns - With image - Grey dashed border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg module--has-cols")
			.container
				h3 MODULE CN03
				h3 1 block - 2 equal columns - With image - Grey dashed border - Grey background
				.content.clearfix
					.col-sm-6.eq-height-max
						.inner-content
							p.metadata-byline Program
							h3
								a Impact standardization
									i.icon.icon-arrow-right.ml-10
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-6.eq-height-max.img(style="background-image:url('/images/cn03.png');")

		// 1 block - 2 equal columns - With image - Grey dashed border - White background
		section(class="module cn03 cn03_v1 module--has-cols")
			.container
				h3 MODULE CN03
				h3 1 block - 2 equal columns - With image - Grey dashed border - White background
				.content.clearfix
					.col-sm-6.eq-height-max
						.inner-content
							p.metadata-byline Program
							h3
								a Impact standardization
									i.icon.icon-arrow-right.ml-10
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-6.eq-height-max.img(style="background-image:url('/images/cn03.png');")






		// 1 block - 2 different columns - With text on grey background - Yellow solid border - Grey background
		section(class="module cn03 cn03_v1 module--outer-bg module--has-cols")
			.container
				h3 MODULE CN03
				h3 1 block - 2 different columns - With text on grey background - Yellow solid border - Grey background
				.border
					.content.clearfix
						.eq-heights
							.col-sm-8.eq-height-max
								.inner-content
									p.metadata-byline Program
									h3
										a Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							.col-sm-4.arrow.eq-height-max
								.inner-content
									p.figure
										sup $
										span 200
										sub bn
									p In 2014, Vizient SupplyNetworks™ delivered a combined savings of more than $267 million on $7 billion in network contract spending.


