extends layouts/_default

block content
	main(class="body-content") 
		// Standard Module Dev Notes
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN03 
		// End Dev Notes
		// START: CN03 v1: 1 block - 2 different columns - Arrow box - Yellow solid border
		section(class="module module-outer module--has-cols cn03 cn03__v1")
			.container
				h3 CN03 v1: 1 block - 2 different columns - Arrow box - Yellow solid border
				p WIP
				.row.row-eq-height
					.dot-border
						.content.clearfix
							.col-sm-8 
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p
										a(href="#") View all of our networks
											i.icon.icon-arrow-right.ml-10
							.col-sm-4.arrow
								.module-inner
									p.figure
										sup $
										span 200
										sub bn
									p In 2014, Vizient SupplyNetworks™ delivered a combined savings of more than $267 million on $7 billion in network contract spending.
		// START: CN03 v2
		// CN03 v2: 1 block - 2 equal columns - With image - Yellow solid border
		section(class="module module-outer module--has-cols cn03 cn03__v2")
			.container.tablet-portrait-stack-image
				h3 CN03 v2: 1 block - 2 equal columns - With image - Yellow solid border
				p WIP
				.row
					.dot-border
						.content.clearfix
							.col-sm-6.eq-height-max
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p
										a(href="#") View all of our networks
											i.icon.icon-arrow-right.ml-10
							.col-sm-6
								img(style="background-image:url('/images/cn03.png');")
		// START: CN03 v3a
		// CN03 v3a: 1 block - Yellow solid border
		section(class="module module-outer cn03 cn03__v3")
			.container
				h3 CN03 v3a: 1 block - Yellow solid border
				.row
					.col-xs-12
						.dot-border
							.content
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		// START: CN03 v3b
		// CN03 v3b: 1 block - Grey dashed border
		section(class="module module-outer cn03 cn03__v3")
			.container
				h3 CN03 v3b: 1 block - Grey dashed border
				.row
					.col-xs-12
						.content
							.module-inner
								p.metadata-byline Program
								h3
									a(href="#") Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		// START: CN03 v4a
		// CN03 v4a: 2 blocks - Yellow solid border
		section(class="module module-outer module-gutter cn03 cn03__v4")
			.container
				h3 CN03 v4a: 2 blocks - Yellow solid border
				.row.row-eq-height
					.col-sm-6
						.dot-border
							.content
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-6
						.dot-border
							.content
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		// START: CN03 v4b
		// CN03 v4b: 2 blocks - Grey dashed border
		section(class="module module-outer module-gutter cn03 cn03__v4")
			.container
				h3 CN03 v4b: 2 blocks - Grey dashed border
				.row.row-eq-height
					.col-sm-6
						.content
							.module-inner
								p.metadata-byline Program
								h3
									a(href="#") Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-6
						.content
							.module-inner
								p.metadata-byline Program
								h3
									a(href="#") Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		// START: CN03 v5a
		// CN03 v5a: 3 blocks - Yellow solid border
		section(class="module module-outer module-gutter cn03 cn03__v5")
			.container
				h3 CN03 v5a: 3 blocks - Yellow solid border
				.row
					.col-sm-4
						.dot-border
							.content
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-4
						.dot-border
							.content
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-4
						.dot-border
							.content
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		// START: CN03 v5b
		// CN03 v5b: 3 blocks - Grey dashed border
		section(class="module module-outer module-gutter cn03 cn03__v5")
			.container
				h3 CN03 v5b: 3 blocks - Grey dashed border
				.row
					.col-sm-4
						.content
							.module-inner
								p.metadata-byline Product
								h3
									a(href="#") PriceLYNX™
										i.icon.icon-arrow-right.ml-10
								p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
					.col-sm-4
						.content
							.module-inner
								p.metadata-byline Program
								h3
									a(href="#") Impact standardization
										i.icon.icon-arrow-right.ml-10
								p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
					.col-sm-4
						.content
							.module-inner
								p.metadata-byline Program
								h3
									a(href="#") Impact standardization
										i.icon.icon-arrow-right.ml-10
								p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
								p A short benefit statement that uses customer facing terminology that makes sense to non-members, that encourages to explore further.
		// START: CN03 v6
		// CN03 v6 row1: 1 block - 2 equal columns - With image - Yellow solid border
		// CN03 v6 row2: 3 blocks - Grey dashed border
		section(class="module module-outer module-gutter cn03 module--has-cols cn03__v6")
			.container.tablet-portrait-stack-image
				h3 CN03 v6 row1: 1 block - 2 equal columns - With image - Yellow solid border
				h3 CN03 v6 row2: 3 blocks - Grey dashed border
				p WIP
				.row 
					.dot-border
						.content.clearfix
							.col-sm-6
								.module-inner
									p.metadata-byline Program
									h3
										a(href="#") Impact standardization
											i.icon.icon-arrow-right.ml-10
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.  
							.col-sm-6.eq-height-max.img(style="background-image:url('/images/cn03.png');")
			.container.tablet-portrait-stack
				.row.row-eq-height
					.col-sm-4
						.content
							.module-inner
								p.metadata-byline Program
								h3
									a(href="#") Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
					.col-sm-4
						.content
							.module-inner
								p.metadata-byline Program
								h3
									a(href="#") Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.col-sm-4
						.content
							.module-inner
								p.metadata-byline Program
								h3
									a(href="#") Impact standardization
										i.icon.icon-arrow-right.ml-10
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 