extends layouts/_default

block content
	main(class="body-content")
		// Start Content section - 1 block
		section(class="module cn03 cn03_v1 module--outer-bg module-blocks-1")
			.container
				h3 MODULE CN03 - One block - Grey background
				.border
					.content
						.row
							.col-xs-12
								p.metadata-byline Program
								h3.orange Impact standardization
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.




		// Start Content section - 1 block
		section(class="module cn03 cn03_v1 module-blocks-1")
			.container
				h3 MODULE CN03 - One block - White background
				.border
					.content
						.row
							.col-xs-12
								p.metadata-byline Program
								h3.orange Impact standardization
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.




		// Start Content section - 2 blocks
		section(class="module cn03 cn03_v2 module--outer-bg module--border module-blocks-2")
			.container
				h3 Related products
				.content
					.row 
						.col-xs-12
							p MODULE CN03
					.row
						.col-xs-12.col-md-8
							h3 Automation that improves value analysis results
							p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
						.col-xs-12.col-md-4.pattern
							ul
								li Bullet point of what this solution does
								li Another bullet point of what this solution does
								li Another key advantage of this solution to get you to click
