extends layouts/_default

block content
	main(class="body-content") 
		// Standard Module Dev Notes
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN03 
		// End Dev Notes
		include modules/_cn03__v1
		include modules/_cn03__v2
		include modules/_cn03__v3
		include modules/_cn03__v3b
		include modules/_cn03__v4
		include modules/_cn03__v4b
		include modules/_cn03__v5
		include modules/_cn03__v5b
		include modules/_cn03__v6