extends layouts/_default

block content
	main(class="body-content")
		.container
			h1 MODULE CN05
		// V1
		section(class="module module-outer module-gutter cn05 cn05__v1")
			.container
				h3 Related events
				.row
					.col-sm-4
						.content.inner-pad.eq-height-max
							p.metadata-eyebrow Newsletter
							p.metadata-byline Issue 1 • February 2016
							p.e28
								a(href="#") Clinical &amp; performance improvement
									i.icon.icon-arrow-right.ml-10
							p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
					.col-sm-4
						.content.inner-pad.eq-height-max
							p.metadata-eyebrow Newsletter
							p.metadata-byline Issue 1 • February 2016
							p.e28
								a(href="#") Clinical &amp; performance improvement
									i.icon.icon-arrow-right.ml-10
							p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
							p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
					.col-sm-4
						.content.inner-pad.eq-height-max
							p.metadata-eyebrow Newsletter
							p.metadata-byline Issue 1 • February 2016
							p.e28
								a(href="#") Clinical &amp; performance improvement
									i.icon.icon-arrow-right.ml-10
							p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
