extends layouts/_default

block content
	main(class="body-content")
		.container
			h3 MODULE CN05
		//- START: cn05 v1
		include modules/_cn05__v1
		include modules/_cn05__v2
		include modules/_cn05__v3
		include modules/_cn05__v4
		include modules/_cn05__v5
		