extends layouts/_default

block content
	main(class="body-content")
		.container
			h3 MODULE cn05 v1
		include modules/_cn05__v1
		.container
			h3 MODULE cn05 v2
		include modules/_cn05__v2
		.container
			h3 MODULE cn05 v3
		include modules/_cn05__v3
		.container
			h3 MODULE cn05 v4
		include modules/_cn05__v4
		.container
			h3 MODULE cn05 v5
		include modules/_cn05__v5
		