extends layouts/_default

block content
    main(class="body-content")
        // Start Content section - 2 column
        section(class="module module--outer-bg")
            .module__content
                .container
                    .row 
                        .col-xs-12
                            p MODULE CN06
                    .row
                        .col-xs-12.col-md-8
                            h3 Automation that improves value analysis results
                            p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
                        .col-xs-12.col-md-4.pattern
                            ul
                                li Bullet point of what this solution does
                                li Another bullet point of what this solution does
                                li Another key advantage of this solution to get you to click