extends layouts/_default

block content
    main(class="body-content")
        .container
            h3 CN06 v1
        include modules/_cn06__v1
        .container
            h3 CN06 v2
        include modules/_cn06__v2
        section(class="module")
        .container
            h3 CN06 v3
        include modules/_cn06__v3  
        .container
            h3 CN06 v4
        include modules/_cn06__v4     