extends layouts/_default

block content
    main(class="body-content")
        // Standard Module Dev Notes
        section(class="module")
            .container
                .row
                    .col-xs-12
                        h3 CN06
                        include components/_devnotes
        // End Dev Notes
        // START: CN06 v1
        section(class="module module-bleed cn06 cn06__v1")
            .container
                .row.eq-heights
                    .col-sm-12.col-md-8.left-col
                        .module-inner
                            h3 Title - cn06 v1
                            p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
                            p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages.
                    .col-sm-12.col-md-4.right-col
                        .module-inner
                            h5 Short list of benefits
                            ul.bold.bullets
                                li Bullet point of what this solution does
                                li Another bullet point of what this solution does
                                li Another key advantage of this solution to get you to click 
        br
        br
        // START: CN06 v2
        section(class="module module-bleed cn06 cn06__v2")
            .container
                .row.eq-heights
                    .col-sm-12.col-md-6.left-col
                        .module-inner
                            h3 Title - cn06 v2
                            p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
                    .col-sm-12.col-md-6.right-col
                        .module-inner
                            // Note: This element will be rebuilt. Temporary Code.
                            ul.chart-indent.list-unstyled
                                li
                                    .chart-medium
                                        .data-value 82 <span class="percent">%</span> 
                                    .chart-caption 
                                        .data-copy Bullet point of what this solution does 
                                li
                                    .chart-medium
                                        .data-value 82 <span class="percent">%</span> 
                                    .chart-caption 
                                        .data-copy Bullet point of what this solution does
        br
        br
        // START: CN06 v3
        section(class="module module-bleed cn06 cn06__v3")
            .container
                .row.eq-heights
                    .col-sm-12.col-md-6.left-col
                        .module-inner
                            h3 Title - cn06 v3
                            p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement. 
                    .col-sm-12.col-md-6.right-col
                        .module-inner
                            // Note: This element will be rebuilt. Temporary Code.
                            ul.list-unstyled
                                li
                                    .chart-large
                                        .data-value 82 <span class="percent">%</span> 
                                    .chart-caption 
                                        .data-copy Bullet point of what this solution does 