extends layouts/_default

block content
    main(class="body-content")
        section(class="module")
            .container
                .row
                    .col-xs-12
                        h3 CN06  
        include modules/_cn06__v1
        br
        br
        include modules/_cn06__v2
        br
        br
        include modules/_cn06__v3  
        br
        br
        include modules/_cn06__v4     