extends layouts/_default

block content
  main(class="body-content") 
    .container
      h3 MODULE CN08 v1
    include modules/_cn08__v1
    .container
      h3 MODULE CN08 v2
    include modules/_cn08__v2
    .container
      h3 MODULE CN08 v3
    include modules/_cn08__v3