extends layouts/_default

block content
	main(class="body-content")
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN12 v1
		include modules/_cn12__v1
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN12 v2
		include modules/_cn12__v2
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN12 v3
		include modules/_cn12__v3
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 CN12 v4
		include modules/_cn12__v4