extends layouts/_default

block content
  main(class="body-content")
    .container
      h3 MODULE CN17 v1 
    include modules/_cn17__v1
    .container
      h3 MODULE CN17 v2 
    include modules/_cn17__v2
    .container
      h3 MODULE CN17 v3 
    include modules/_cn17__v3
    .container
      h3 MODULE CN17 v4 
    include modules/_cn17__v4