extends layouts/_default

block content 
	main(class="body-content")
		section(class="module", id="v1")
			.container
				.row
					.col-xs-12
						h3 CN21 v1
		include modules/_cn21__v1
		section(class="module", id="v2")
			.container
				.row
					.col-xs-12
						h3 CN21 v2
		include modules/_cn21__v2
		section(class="module", id="v2")
			.container
				.row
					.col-xs-12
						h3 CN21 v2 purple
		include modules/_cn21__v2_purple