extends layouts/_default

block content
	main(class="body-content")
		// START: CN11 v11
		section(class="module module-bleed module-stretch cn11 cn11__v10 bg-turquoise-dark banner")
			.container
				.row
					.col-xs-12.col-sm-10.col-md-9.col-lg-7
						.module-inner
							h1 Contact Us

						.arrow.arrow-down.arrow-turquoise-dark

		// START CN08 v3 
		section(class="module module-bleed con01_grid con02_contact_info")
			.container.no-border-top
				.row.row-eq-height-sm
					.col-xs-12.col-sm-6.eq-height
						.module-inner
							p.metadata-eyebrow Contact Vizient Support Centre

							article
								img(src="images/icons/icon-phone.png", alt="Description of image", class="icon-section mb15")
								.article-content
									h5 By telephone
									a(href="tel:8008425146", title="", class="tel") (800) 842-5146

							article
								img(src="images/icons/icon-email.png", alt="Description of image", class="icon-section mb15")
								.article-content
									h5 Email us at
									a(href="mailto:vizientsupport@vizientinc.com", title="", class="email") vizientsupport@vizientinc.com

					.col-xs-12.col-sm-6.col-lg-4.eq-height
						.module-inner
							p.metadata-eyebrow MedAssets Customer Support Center
							
							article
								img(src="images/icons/icon-phone.png", alt="Description of image", class="icon-section mb15")
								.article-content
									h5 By telephone
									p Spend and clinical Resource Management Application Support
									a(href="tel:8008425146", title="", class="tel") (800) 842-5146

							article
								img(src="images/icons/icon-email.png", alt="Description of image", class="icon-section mb15")
								.article-content
									h5 Email us at
									a(href="mailto:helpdesk@medassets.com", title="", class="email") helpdesk@medassets.com

				.row.row-eq-height-sm
					.col-xs-12.col-sm-6.eq-height.no-border-bottom
						.module-inner
							h4 Connect with us

							form(action="", method="")
								.form-group
									label(for="contact-form-name", class="grey-dark") Name
										span(class="required") *
									input(id="contact-form-name", class="form-control", type="text", placeholder="Name", required)
								.form-group
									label(for="contact-form-title", class="grey-dark") Title
										span(class="required") *
									input(id="contact-form-title", class="form-control", type="text", placeholder="Title", required)
								.form-group
									label(for="contact-form-organisation-name", class="grey-dark") Organisation
										span(class="required") *
									input(id="contact-form-organisation-name", class="form-control", type="text", placeholder="Organisation name", required)
								.form-group
									label(for="contact-form-phone", class="grey-dark") Phone
										span(class="required") *
									input(id="contact-form-phone", class="form-control", type="tel", placeholder="Phone number", required)
								.form-group
									label(for="contact-form-email", class="grey-dark") Email
										span(class="required") *
									input(id="contact-form-email", class="form-control", type="email", placeholder="Email address", required)
								.form-group
									label(for="contact-form-topic", class="grey-dark") Topic
										span(class="required") *
									input(id="contact-form-topic", class="form-control", type="text", placeholder="Topic", required)
								.form-group
									label(for="contact-form-topic", class="grey-dark") Message
										span(class="required") *
									textarea(class="form-control", rows="16", placeholder="Message here")
								button(class="btn", type="submit") Submit

					.col-xs-12.col-sm-6.col-lg-4.eq-height.no-border-bottom
						.module-inner
							h4 Corporate headquarters

							figure(class="mb-20")
								img(src="images/contact-map-1.png")
								figcaption(class="bg-mist-lightest p-20")
									dl
										dt Address
										dd(class="mb-20")
											| 290 E. John Carpenter Freeway<br>
											| Irving, TX 75062

										dt Office
										dd(class="mb-20")
											a(href="tel:+19728300000", title="", class="tel grey-dark") (972) 830-0000

										dt Mailing Address
										dd
											| P.O. Box 140909<br>
											| Irving, TX 75014-0909

							h4 Illinois office

							figure
								img(src="images/contact-map-1.png")
								figcaption(class="bg-mist-lightest p-20")
									dl
										dt Address
										dd(class="mb-20")
											| 155 North Wacker Drive<br>
											| Chicago, IL 60606

										dt Office
										dd 
											a(href="tel:+13127754100", title="", class="tel grey-dark") (312) 775-4100

		section(class="module module-bleed cn06 cn06__v1")
			.container
				.row.row-eq-height-md
					.col-sm-12.col-md-6.eq-height.left-col.bg-mist-lightest
						.module-inner
							h4 Report non-compliance
							p To report non-compliance with the law and Vizient's corporate policies, contact Vizient's Compliance Officer. For anonymous reporting, call our compliance line at (800) 750-4972
							p For general and human resource-related questions, contact (972) 830-0000
					.col-sm-12.col-md-6.eq-height.col.right-col.bg-mist-light
						.module-inner
							h4 For our affiliated companies, please refer to these contact numbers:
							ul.list-unstyled.list-contacts
								li.align-edge
									span.company Apexus:
									a(href="tel:+18883402787", title="", class="tel bold") (888) 340-2787
								li.align-edge
									span.company aptitude:
									a(href="tel:+18668428811", title="", class="tel bold") (866) 842-8811
								li.align-edge 
									span.company Provista:
									a(href="tel:+18885384662", title="", class="tel bold") (888) 538-4662

							a(href="#", title="", class="orange bold") Questions about connecting with the Media team? 

		section(class="module module-bleed cn06 cn06__v1")
			.container
				.row.row-eq-height-md
					.col-xs-12.col-md-6.eq-height.left-col.bg-purple
						.module-inner
							h3 Media enquiries

							p Vizient serves thousands of health care organizations across the nation with a broad portfolio of solutions, and a robust network of health care experts driving innovation in our industry. Visit our newsroom to stay connected with Vizient through media coverage of our company and key industry topics.
							
							a(href="#", title="", class="bold") vizientsupport@vizientinc.com
								span.icon.icon-arrow-right-white.ml-10

							br
							br

							p Please send all media and events questions to our public relations team:

							ul.list-unstyled.list-contacts
								li.align-edge 
									span.name Angie Boliver 
									a(href="tel:+19728307961", title="", class="tel bold") (972) 830-7961 
								li.align-edge 
									span.name Donna Ledbetter
									a(href="tel:+19728306321", title="", class="tel bold") (972) 830-6321

						.arrow.arrow-right.arrow-purple

					.col-xs-12.col-md-6.eq-height.col.right-col.bg-mist-lightest
						.module-inner
							article
								h3.mb-30 Media kit downloads

								ul.list-unstyled.list-contacts
									li
										a(href="#", title="", class="orange bold") FAQs
											span.icon.icon-download.ml-10.pull-right
									li
										a(href="#", title="", class="orange bold") Logos
											span.icon.icon-download.ml-10.pull-right
									li
										a(href="#", title="", class="orange bold", rel="external") Visit Newsroom
											span.icon.icon-new-window.ml-10.pull-right

		include modules/_in01__v1
