extends layouts/_dashboard

block content
	main(class="body-content")
		.row.row-eq-height-md
			.col-xs-12.col-md-3.col-lg-2.plr-0.eq-height.dashboard-side-nav
				include layouts/_dashboard-menu
				
			.col-xs-12.col-md-9.col-lg-10.plr-0.eq-height.dashboard-content
				// START: CN11 v2
				section(class="module module-bleed cn11 cn11__v2 bg-purple hgt-medium")
					.container
						.row.row-eq-height-sm
							.col-xs-12.col-sm-8.eq-height
								.arrow.arrow-purple
								.module-inner
									h2 My Tools
									p.large-text Interested reading about UHC’s full array of programs, products and services?
							.col-xs-12.col-sm-4.eq-height
								.module-inner
									h6 Contact us
									ul.list-unstyled
										li
											a(href="#") View A-Z Solutions
												span.icon.icon-arrow-right.ml-10

										li
											a(href="#") View the Report and Submission Schedule
												span.icon.icon-arrow-right.ml-10

				section(class="module db02-tabs bg-white")
					.container
						.row
							.col-xs-12
								ul(class="nav nav-tabs", role="tablist")
									li(role="presentation", class="tab active")
										a(href="#tabpanel-1", aria-controls="tabpanel-1", role="tab", data-toggle="tab")
											b My Tools 
											span.counter (5)
											span.description Tools you have access to

									li(role="presentation", class="tab")
										a(href="#tabpanel-2", aria-controls="tabpanel-2", role="tab", data-toggle="tab")
											b My Organisations 
											span.counter (3)
											span.description Organisations you have access to

									li(role="presentation", class="tab")
										a(href="#tabpanel-3", aria-controls="tabpanel-3", role="tab", data-toggle="tab")
											b Recommended Tools
											span.description Organisations you have access to
						
						div(class="tab-content")
							div(id="tabpanel-1", class="tab-pane fade in active")
								
								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") 1 Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open
							
							div(id="tabpanel-2", class="tab-pane fade")
								
								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") 2 Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

							div(id="tabpanel-3", class="tab-pane fvhacvvhaade")
								
								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") 3 Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open

								article.row
									.col-xs-12.col-md-8
										p.metadata-eyebrow Quality and Performance
										h3
											a(href="#") Clinical Database Resource Manager (CDB/RM)
										p DCH Health System, facing the potential for significant revenue reductions, set a highly ambitious savings goal of $5 million per year. Working with Vizient data and consultants, the DCH team not only surpassed the goal by nearly $1 million, they also built new relationships with both suppliers and physicians that will provide ongoing opportunities for savings.
									
									.col-xs-12.col-md-4
										a(href="#", class="btn") Open
