extends layouts/_dashboard

block content
	main(class="body-content")
		.row
			.col-xs-12.col-md-3.col-lg-2.plr-0.dashboard-side-nav
				include layouts/_dashboard-menu
				
			.col-xs-12.col-md-9.col-lg-10.plr-0.dashboard-content
				// START: CN11 v2
				section(class="module module-bleed cn11 cn11__v2 bg-purple hgt-medium")
					.container
						.row.row-eq-height-sm
							.col-xs-12.col-sm-8.eq-height
								.arrow.arrow-purple
								.module-inner
									h2 Chief Human Resources Officers Network
									p.large-text The Chief Human Resources Offcers Network provides a platform for academic medical centers senior executives to network, share ideas and access valuable UCH resources.
							
							.col-xs-12.col-sm-4.eq-height
								.module-inner
									p.metadata-eyebrow Contact us
									ul.list-unstyled
										li
											b(class="bold") Angie Stefaniou
											br
											a(href="#") angie.stefaniou@vizientinc.com

										li
											b(class="bold") Adam Zuckermann
											br
											a(href="#") adam.zuckermann@vizientinc.com
				
				// START: CN09 v1
				section(class="module cn09 cn09__v1 bg-white")
						.row.row-eq-height-md
							.col-xs-12.col-md-8.eq-height
								.module-inner
									h3 Our Mission
									
									ul
										li Provide a forum for the most senior human resources executives within the UCH membership for candid and constructive discussions

										li Further the exchange of information. best practices and research on human resources issues

										li Providing leadership by evaluating, recommending and implementing human resources solutions to health care and related business challenges

										li Support the mission of UCH and its members to advance knowledge, foster collaboration and help members compete in their respective health care markets.
									
									hr

									h4 Our leadership and steering committee
									
									p Our current leadership includes:<br> <b class="bold">Chair:</b> Maria Curran, VCU Medical Center
									
									ul
										li Maria Curran

										li Alisa Ford

										li Laurie Gunn

										li Sue Kopfle

										li Cheryl Locke

										li Kathleen McComber 

										li Dawn Murphy 

										li David Odato 

										li Mary Ellen Schopp 

										li Pat Wren

									hr

									h4 Completed initiatives

									a(href="#", class="orange") 2012 UHC HRO Council Human Resources Structure Survey ›

							.col-xs-12.col-md-4.left-solid-border.eq-height
								
								div(class="bg-mist-lightest")
									.module-inner
										p.metadata-eyebrow.bottom-dot-border Disclaimer

										p We have recently migrated all network content onto our new digital platforms. Whilst we have brought most of our recent content, some older content is not available. Please contact us if you have any specific requests for access to content that is not here.

								div(class="bg-orange-dark")
									.module-inner
										div(class="event")
											p.metadata-eyebrow Get involved
											
											p.metadata-byline 28-30 September 2016 • Dallas TX
					
											.event-description
												h4 Human Resources and AMC CHRO Joint Network Meeting 
												
												p 
													<time datetime="2016-09-27" class="bold">Sept 27, 2016:</time> Reception &amp; Dinner
													br
													<time datetime="2016-09-28" class="bold">Sept 28, 2016:</time> Meeting

												p Held in conjuction with the 2016 Vizient Clinical Connections Summit.
												
												a(href="#", class="btn", title="View all events") Register for this event
									
								div
									.module-inner
										p.metadata-eyebrow.bottom-dot-border Quick links

										ul(class="list-unstyled")
											li
												a(href="#", title="") Drug shortage mitigation
													span.icon.icon-arrow-right.ml-10
											li
												a(href="#", title="") Accrediation
													span.icon.icon-arrow-right.ml-10
											li
												a(href="#", title="") Care team optimization
													span.icon.icon-arrow-right.ml-10
											li
												a(href="#", title="") Clinical cost management
													span.icon.icon-arrow-right.ml-10
											li
												a(href="#", title="") Improving patient experience
													span.icon.icon-arrow-right.ml-10

				// START CN12 v1 Dashboard Version
				section(class="module module-bleed cn12 cn12__v1")
					.container.mb-20
						.row.row-eq-height-lg.bg-orange-dark
							.col-xs-12.col-sm-6.col-md-8.eq-height
								.module-inner
									article(class="event")
										p.metadata-eyebrow Next Event
										
										p.metadata-byline 28-30 September 2016 • Dallas TX
				
										.event-description
											h3 2016 Vizient Clinical Connections Summit
											
											p Lorem ipsum dolor et ami Proin sit amet massa purus. Aliquam venenatis enim eu nunc facilisis convallis. Sed quis urna sit amet nulla tristique euismod. Sed placerat augue magna, et euismod mi volutpat non. Sed quis urna sit amet nulla tristique euismod
											
											a(href="#", class="btn", title="View all events") Register for this event
								
							.col-xs-12.col-sm-6.col-md-4.eq-height
								.module-inner
									p.metadata-eyebrow Webinars and education

									ul(class="list-events has-calendar-dates")
										li
											time(class="calendar-date", datetime="2016-09-30")
												span(class="date") 30
												span(class="month") Sep

											a(href="#" title="Supply Chain Education Series") 
												span.metadata-byline 30 September 2016
												<br>
												| Supply Chain Education Series - Part 3: Thinking Outside the Emergency Box
												span.icon.icon-arrow-right-white.ml-10
										

										li
											time(class="calendar-date", datetime="2016-09-30")
												span(class="date") 30
												span(class="month") Sep

											a(href="#", title="Supply Chain Education Series") 
												span.metadata-byline 30 September 2016
												<br>
												| Supply Chain Education Series - Part 3: Thinking Outside the Emergency Box
												span.icon.icon-arrow-right-white.ml-10

									a(href="#") View all webinars and education
										span.icon.icon-arrow-right-white.ml-10

				// START: DB01
				section(class="module module-gutter-sm db01-listings")
					.container.mb-20
						.row.row-eq-height-sm
							section.col-xs-12.col-sm-6.eq-height
								header
									h2 Recommended A

									p Tools you have currently access to:

								ul.list-unstyled
									li
										a(href="#", title="") Clinical Database Resource Manager (CDB/RM)
									li
										a(href="#", title="") Clinical Database Resource Manager (CDB/RM)
									li
										a(href="#", title="") Clinical Database Resource Manager (CDB/RM)


							section.col-xs-12.col-sm-6.eq-height
								header
									h2 Recommended A

									p Listservers you have currently access to:

								ul.list-unstyled.border-purple
									li
										a(href="#", title="") Clinical Database Resource Manager (CDB/RM)

									li
										a(href="#", title="") Clinical Database Resource Manager (CDB/RM)

									li
										a(href="#", title="") Clinical Database Resource Manager (CDB/RM)
