extends layouts/_default

// Product Detail page
block content
	main(class="body-content")
		include modules/_cn11__v9
<<<<<<< HEAD
		include modules/_cn27__v1
		include modules/_cn14__v2
=======
		include modules/_cn27__v2
		include modules/_cn14__v2
		include modules/_in01__v2
>>>>>>> dev-km
