extends layouts/_default

block content
	main(class="body-content")
		// Standard Module Dev Notes
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 IN01
						include components/_devnotes
		// End dev notes
		h3 IN01 v1
		// START: IN01 v1
		section(class="module module-lead in01 in01__v1")
			.container
				.dot-border.dot-border-grey
					.content.clearfix
						.col-xs-12.col-sm-8.eq-height-max
							.inner-pad
								p.e20.orange Connect with Vizient to help you solve healthcare's biggest challenges
						.col-xs-12.col-sm-4.eq-height-max
							.inner-pad
								p
									a(href="#").btn See our story
						