extends layouts/_default

block content
	main(class="body-content")
		// Standard Module Dev Notes
		section(class="module")
			.container
				.row
					.col-xs-12
						h3 IN01
						include components/_devnotes
		// End dev notes
		h3 IN01 v1
		include modules/_in01__v1