extends layouts/_default

block content
	main(class="body-content") 
		.container
			h3 IN02
		include modules/_in02__v1
		section(class="module")
			.container
				.row.tab-content
					div(id="tabpanel-1", class="tab-pane fade")
						include modules/_cn08__v3
					div(id="tabpanel-2", class="tab-pane fade")
						include modules/_cn08__v3
					div(id="tabpanel-3", class="tab-pane fade")
						include modules/_cn08__v3