extends layouts/_default

block hero
    // +hero(heros.home)

block content
    main(class="body-content")
        // HEADINGS / FONT TYPES
        section(class="module")
            .container
                .row
                    .col-sm-12
                        h3 Gen 3 code drop
                .row
                    .col-sm-12.col-md-8.pt-0.pb-0
                        h4 Components
                    .col-sm-12.col-md-4.pt-0.pb-0
                        h4 Pages                
                .row
                    .col-sm-12.col-md-4.pt-0.pb-0 
                        ul
                            li 
                                a(href="header-logged-in.html") Navigation Logged in state
                            li 
                                a(href="cn01.html") Component cn01
                            li 
                                a(href="cn02.html") Component cn02
                            li 
                                a(href="cn03.html") Component cn03
                            li 
                                a(href="cn05.html") Component cn05
                            li 
                                a(href="cn06.html") Component cn06
                            li 
                                a(href="cn07.html") Component cn07
                            li 
                                a(href="cn08.html") Component cn08
                            li 
                                a(href="cn09.html") Component cn09
                            li 
                                a(href="cn11.html") Component cn11
                            li 
                                a(href="cn12.html") Component cn12
                    .col-sm-12.col-md-4.pt-0.pb-0
                        ul
                            li 
                                a(href="cn17.html") Component cn17
                            li 
                                a(href="cn18.html") Component cn18
                            li 
                                a(href="cn19.html") Component cn19
                            li 
                                a(href="cn20.html") Component cn20
                            li 
                                a(href="in01.html") Component in01
                            li 
                                a(href="in03.html") Component in03
                            li 
                                a(href="in05.html") Component in05
                    .col-sm-12.col-md-4.pt-0.pb-0 
                        ul
                            li 
                                a(href="product-detail.html") Product Detail
                            li 
                                a(href="solutions-landing.html") Solutions Landing
                            li 
                                a(href="solutions-hub.html") Solutions Hub
                            li 
                                a(href="solutions-detail.html") Solutions Detail
                            li 
                                a(href="network-public__pin.html") Network Content Page (Public): Performance Improvement Networks 
                .row
                    .col-sm-12
                        h4 Development Notes
                        include components/_devnotes