extends layouts/_default

block hero
	// +hero(heros.home)

block content
	main(class="body-content")
		// HEADINGS / FONT TYPES
		section(class="module")
			.container
				.row
					.col-sm-12
						h3 Gen 3 code drop
				.row
					.col-sm-12.col-md-8.pt-0.pb-0
						h4 Components
					.col-sm-12.col-md-4.pt-0.pb-0
						h4 Pages                
				.row
					.col-sm-12.col-md-4.pt-0.pb-0 
						ul
							li 
								a(href="header-logged-in.html") Navigation Logged in state
							li 
								a(href="cn01.html") CN01 - CaseStudy
								
								ul.mt-5.mb-5
									li.mb-5
										a(href="cn01.html#v1") cn01__v1
									li.mb-5
										a(href="cn01.html#v2") cn01__v2
									li.mb-5
										a(href="cn01.html#v3") cn01__v3
									li.mb-5
										a(href="cn01.html#v4") cn01__v4
									li.mb-5
										a(href="cn01.html#v5") cn01__v5

							li 
								a(href="cn02.html", class="bold") CN02 - Promos

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn02.html#v1", class="bold") cn02__v1
									li.mb-5
										a(href="cn02.html#v2", class="bold") cn02__v2
									li.mb-5
										a(href="cn02.html#v3", class="bold") cn02__v3
									li.mb-5
										a(href="cn02.html#v4", class="bold") cn02__v4

							li 
								a(href="cn03.html", class="bold") CN03 - Offerings

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn03.html#v1") cn03__v1
									li.mb-5
										a(href="cn03.html#v2") cn03__v2
									li.mb-5
										a(href="cn03.html#v3") cn03__v3
									li.mb-5
										a(href="cn03.html#v4") cn03__v4
									li.mb-5
										a(href="cn03.html#v5") cn03__v5
									li.mb-5
										a(href="cn03.html#v6", class="bold") cn03__v6
									li.mb-5
										a(href="cn03.html#v7", class="bold") cn03__v7
							li
								a(href="cn04.html", class="bold") CN04 - Video

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn04.html#v1", class="bold") cn04__v1
									li.mb-5
										a(href="cn04.html#v2", class="bold") cn04__v2
									li.mb-5
										a(href="cn04.html#v3", class="bold") cn04__v3

							li 
								a(href="cn05.html", class="bold") CN05 - NewsInsight

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn05.html#v1", class="bold") cn05__v1
									li.mb-5
										a(href="cn05.html#v2", class="bold") cn05__v2
									li.mb-5
										a(href="cn05.html#v3", class="bold") cn05__v3
									li.mb-5
										a(href="cn05.html#v4", class="bold") cn05__v4
									li.mb-5
										a(href="cn05.html#v5", class="bold") cn05__v5

							li 
								a(href="cn06.html") CN06 - PageOverview

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn06.html#v1") cn06__v1
									li.mb-5
										a(href="cn06.html#v2") cn06__v2
									li.mb-5
										a(href="cn06.html#v3") cn06__v3
									li.mb-5
										a(href="cn06.html#v4") cn06__v4
									li.mb-5
										a(href="cn06.html#v5") cn06__v5
									li.mb-5
										a(href="cn06.html#v6") cn06__v6

							li 
								a(href="cn07.html") CN07 - Resources

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn07.html#v1") cn07__v1

							li 
								a(href="cn08.html", class="bold") CN08 - SolutionsOverview

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn08.html#v1", class="bold") cn08__v1
									li.mb-5
										a(href="cn08.html#v2") cn08__v2
									li.mb-5
										a(href="cn08.html#v3", class="bold") cn08__v3
							li 
								a(href="cn09.html") CN09 - DetailedInformation

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn09.html#v1") cn09__v1
							li
								a(href="cn10.html", class="bold") CN10 - Stories

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn10.html#v1", class="bold") cn10__v1
									li.mb-5
										a(href="cn10.html#v2") cn10__v2
							li 
								a(href="cn11.html", class="bold") CN11 - Banners

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn11.html#v1") cn11__v1
									li.mb-5
										a(href="cn11.html#v2", class="bold") cn11__v2
									li.mb-5
										a(href="cn11.html#v2_alternate", class="bold") cn11__v2 alternate
									li.mb-5
										a(href="cn11.html#v2_suppliers", class="bold") cn11__v2 suppliers
									li.mb-5
										a(href="cn11.html#v2_ournetworks", class="bold") cn11__v2 our networks
									li.mb-5
										a(href="cn11.html#v3", class="bold") cn11__v3
									li.mb-5
										a(href="cn11.html#v4", class="bold") cn11__v4
									li.mb-5
										a(href="cn11.html#v4_advisory", class="bold") cn11__v4 advisory
									li.mb-5
										a(href="cn11.html#v5", class="bold") cn11__v5
									li.mb-5
										a(href="cn11.html#v6", class="bold") cn11__v6
									li.mb-5
										a(href="cn11.html#v7", class="bold") cn11__v7
									li.mb-5
										a(href="cn11.html#v7_casestudies", class="bold") cn11__v7 Case studies
									li.mb-5
										a(href="cn11.html#v7_events", class="bold") cn11__v7 Events and webinars
									li.mb-5
										a(href="cn11.html#v7_searchresults", class="bold") cn11__v7 Search results
									li.mb-5
										a(href="cn11.html#v7_vri", class="bold") cn11__v7 Vizient Research Insitute
									li.mb-5
										a(href="cn11.html#v9", class="bold") cn11__v9
									li.mb-5
										a(href="cn11.html#v10", class="bold") cn11__v10
									li.mp-5
										a(href="cn11.html#v10_aboutus", class="bold") cn11__v10 About us
									li.mb-5
										a(href="cn11.html#v11", class="bold") cn11__v11

					.col-sm-12.col-md-4.pt-0.pb-0
						ul
							li 
								a(href="cn12.html") CN12 - EventsWebinars

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn12.html#v1") cn12__v1
									li.mb-5
										a(href="cn12.html#v2") cn12__v2
									li.mb-5
										a(href="cn12.html#v3") cn12__v3
									li.mb-5
										a(href="cn12.html#v4") cn12__v4
							li
								a(href="cn13.html", class="bold") CN13 - MiniBio

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn13.html#v1", class="bold") cn13__v1

							li 
								a(href="cn15.html") CN15 - Timeline

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn15.html#v1") cn15__v1

							li 
								a(href="cn16.html") CN16 - BioImage

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn16.html#v1") cn16__v1
							li 
								a(href="cn17.html", class="bold") CN17 - PromoListing

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn17.html#v1", class="bold") cn17__v1
									li.mb-5
										a(href="cn17.html#v2", class="bold") cn17__v2
									li.mb-5
										a(href="cn17.html#v3") cn17__v3
									li.mb-5
										a(href="cn17.html#v4", class="bold") cn17__v4

							li 
								a(href="cn18.html") CN18 - PrimaryNavInPageBanner

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn18.html#v1") cn18__v1
									li.mb-5
										a(href="cn18.html#v2") cn18__v2

							li 
								a(href="cn19.html") CN19 - AdvisoryOverview

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn19.html#v1", class="bold") cn19__v1
							
							li 
								a(href="cn20.html") CN20 - ClinicalOutcomes

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn20.html#v1") cn20__v1
							
							li 
								a(href="cn21.html", class="bold") CN21 - ContentIntroBlock

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn21.html#v1", class="bold") cn21__v1
									li.mb-5
										a(href="cn21.html#v2", class="bold") cn21__v2

							li 
								a(href="cn22.html", class="bold") CN22 - ShortStatements

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn22.html#v1") cn22__v1
									li.mb-5
										a(href="cn22.html#v2", class="bold") cn22__v2
									li.mb-5
										a(href="cn22.html#v3", class="bold") cn22__v3
							
							li 
								a(href="cn26.html", class="bold") CN26 - Biographies

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn26.html#v1", class="bold") cn26__v1

							li 
								a(href="cn27.html") CN27 - EventWebinarOverview

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn27.html#v1") cn27__v1
									li.mb-5
										a(href="cn27.html#v2") cn27__v2

							li 
								a(href="cn28.html", class="bold") CN28 - SupplierBenefits

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn28.html#v1", class="bold") cn28__v1
							
							li 
								a(href="cn29.html") CN29 - NetworkOverview

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn29.html#v1") cn29__v1

							li 
								a(href="cn30.html", class="bold") CN30 - Quote

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn30.html#v1", class="bold") cn30__v1

							li 
								a(href="cn31.html", class="bold") CN31 - Stat

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn31.html#v1", class="bold") cn31__v1
							
							li 
								a(href="in01.html") IN01 - ConnectCTA

								ul.mt-5.mb-5
									li.mb-5
										a(href="in01.html#v1") in01__v1
									li.mb-5
										a(href="in01.html#v2") in01__v2
							
							li 
								a(href="in02.html", class="bold") IN02 - HideReveal
							
							li 
								a(href="in03.html") IN03 - Share

							li 
								a(href="in04.html") IN04 - Accordion
							
							li 
								a(href="in05.html") IN05 - RoleFilter

							li 
								a(href="nv05.html", class="bold") NV05 - FilterSort_Results

								ul.mt-5.mb-5
									li.mb-5
										a(href="nv05.html#v1", class="bold") nv05__v1
									li.mb-5
										a(href="nv05.html#v2", class="bold") nv05__v2
									li.mb-5
										a(href="nv05.html#v3", class="bold") nv05__v3
							
							li 
								a(href="nv06.html", class="bold") NV06 - Wayfinder

								ul.mt-5.mb-5
									li.mb-5

										a(href="nv06.html#v1") nv06__v1

									li.mb-5
										a(href="nv06.html#v2", class="bold") nv06__v2

							li 
								a(href="nv08.html") NV08 - Links

								ul.mt-5.mb-5
									li.mb-5
										a(href="nv08.html#v1") nv08__v1
									li.mb-5
										a(href="nv08.html#v2") nv08__v2

							li 
								a(href="nv09.html") NV09 - GlobalSearch

								ul.mt-5.mb-5
									li.mb-5
										a(href="nv09.html#v1") nv09__v1
									li.mb-5
										a(href="nv09.html#v2") nv09__v2

					.col-sm-12.col-md-4.pt-0.pb-0
						ul
							li 
								a(href="dashboard-landing.html") Dashboard - Landing
							li 
								a(href="dashboard-my-tools.html") Dashboard - My Tools
							li 
								a(href="dashboard-content.html") Dashboard - Content
							li 
								a(href="product-detail.html", class="bold") Product Detail
							li 
								a(href="solutions-landing.html") Solutions Landing
							li 
								a(href="solutions-hub.html") Solutions Hub
							li 
								a(href="solutions-detail.html") Solutions Detail
							li 
								a(href="solutions-role.html") Solutions by Role
							li 
								a(href="network-public__pin.html") Network Content Page (Public): Performance Improvement Networks 
							li 
								a(href="what-we-do.html") What we do
							li 
								a(href="about-us-landing.html", class="bold") About Us Landing
							li 
								a(href="homepage.html") Homepage
							li 
								a(href="our-leadership.html") Our Leadership
							li 
								a(href="leadership-biography.html") Leadership Biography
							li 
								a(href="consulting.html", class="bold") Consulting
							li 
								a(href="growth-strategy.html") Growth and strategy
							li 
								a(href="case-studies.html", class="bold") Case Study hub
							li 
								a(href="case-study.html", class="bold") Case Study detail
							li 
								a(href="our-networks.html", class="bold") Our Networks
							li 
								a(href="suppliers.html") Suppliers
							li 
								a(href="vizient-research-insitution.html") Vizient Research Insitution
							li 
								a(href="events.html") Events
							li 
								a(href="events-detail.html") Events Detail
							li
								a(href="member-login.html", class="bold") Member Login
							li 
								a(href="news-and-insight.html", class="bold") Newsroom
							li 
								a(href="insights-blog.html", class="bold") Blog
							li 
								a(href="blog-article.html", class="bold") Blog article
							li 
								a(href="contact-us.html", class="bold") Contact us
							li
								a(href="search-results.html", class="bold") Search results


				.row
					.col-sm-12
						h4 Development Notes
						include components/_devnotes
