extends layouts/_default

block hero
    // +hero(heros.home)

block content
    main(class="body-content")
        // HEADINGS / FONT TYPES
        section(class="module")
            .container
                .row
                    .col-sm-12.col-md-6
                        h3 Gen 3 code drop. 
                        //- p Last updated: 16th Sep 2016
                        h3 Modules
                        ul
                            li 
                                a(href="cn01.html") Module cn01
                            li 
                                a(href="cn03.html") Module cn03
                            li 
                                a(href="cn05.html") Module cn05
                            li 
                                a(href="cn06.html") Module cn06
                            li 
                                a(href="cn07.html") Module cn07
                            li 
                                a(href="cn09.html") Module cn09
                            li 
                                a(href="cn11.html") Module cn11
                            li 
                                a(href="cn12.html") Module cn12
                            li 
                                a(href="in01.html") Module in01
                            li 
                                a(href="in03.html") Module in03
                            //- li 
                            //-     a(href="cn12.html") Module cn12
                        h3 Pages
                        ul
                            li 
                                a(href="product-detail.html") Product Detail
                            li 
                                a(href="network-public__pin.html") Network Content Page (Public): Performance Improvement Networks 
                                 
                        h3 Development Notes
                        include components/_devnotes