extends layouts/_default

block hero
	// +hero(heros.home)

block content
	main(class="body-content")
		// HEADINGS / FONT TYPES
		section(class="module")
			.container
				.row
					.col-sm-12
						h3 Gen 3 code drop
				.row
					.col-sm-12.col-md-8.pt-0.pb-0
						h4 Components
					.col-sm-12.col-md-4.pt-0.pb-0
						h4 Pages                
				.row
					.col-sm-12.col-md-4.pt-0.pb-0 
						ul
							li 
								a(href="header-logged-in.html") Navigation Logged in state
							li 
								a(href="cn01.html") Component cn01
								
								ul.mt-5.mb-5
									li.mb-5
										a(href="cn01.html#v1") cn01__v1
									li.mb-5
										a(href="cn01.html#v2") cn01__v2
									li.mb-5
										a(href="cn01.html#v3") cn01__v3
									li.mb-5
										a(href="cn01.html#v4") cn01__v4
									li.mb-5
										a(href="cn01.html#v5") cn01__v5

							li 
								a(href="cn02.html") Component cn02

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn02.html#v1") cn02__v1
									li.mb-5
										a(href="cn02.html#v2") cn02__v2
									li.mb-5
										a(href="cn02.html#v3") cn02__v3
									li.mb-5
										a(href="cn02.html#v4") cn02__v4

							li 
								a(href="cn03.html", class="bold") Component cn03

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn03.html#v1") cn03__v1
									li.mb-5
										a(href="cn03.html#v2") cn03__v2
									li.mb-5
										a(href="cn03.html#v3") cn03__v3
									li.mb-5
										a(href="cn03.html#v4") cn03__v4
									li.mb-5
										a(href="cn03.html#v5") cn03__v5
									li.mb-5
										a(href="cn03.html#v6") cn03__v6
									li.mb-5
										a(href="cn03.html#v7", class="bold") cn03__v7

							li 
								a(href="cn05.html") Component cn05

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn05.html#v1") cn05__v1
									li.mb-5
										a(href="cn05.html#v2") cn05__v2
									li.mb-5
										a(href="cn05.html#v3") cn05__v3
									li.mb-5
										a(href="cn05.html#v4") cn05__v4
									li.mb-5
										a(href="cn05.html#v5") cn05__v5

							li 
								a(href="cn06.html") Component cn06

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn06.html#v1") cn06__v1
									li.mb-5
										a(href="cn06.html#v2") cn06__v2
									li.mb-5
										a(href="cn06.html#v3") cn06__v3
									li.mb-5
										a(href="cn06.html#v4") cn06__v4
									li.mb-5
										a(href="cn06.html#v5") cn06__v5
									li.mb-5
										a(href="cn06.html#v6") cn06__v6

							li 
								a(href="cn07.html") Component cn07

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn07.html#v1") cn07__v1

					.col-sm-12.col-md-4.pt-0.pb-0
						ul
							li 
								a(href="cn08.html") Component cn08

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn08.html#v1") cn08__v1
									li.mb-5
										a(href="cn08.html#v2") cn08__v2
									li.mb-5
										a(href="cn08.html#v3") cn08__v3
							li 
								a(href="cn09.html") Component cn09

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn09.html#v1") cn09__v1
							li
								a(href="cn10.html", class="bold") Component cn10

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn10.html#v1", class="bold") cn10__v1
									li.mb-5
										a(href="cn10.html#v2", class="bold") cn10__v2
							li 
								a(href="cn11.html") Component cn11

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn11.html#v2") cn11__v2
									li.mb-5
										a(href="cn11.html#v2_alternate") cn11__v2 alternate
									li.mb-5
										a(href="cn11.html#v3") cn11__v3
									li.mb-5
										a(href="cn11.html#v4") cn11__v4
									li.mb-5
										a(href="cn11.html#v6") cn11__v6
									li.mb-5
										a(href="cn11.html#v11") cn11__v11

							li 
								a(href="cn12.html", class="bold") Component cn12

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn12.html#v1", class="bold") cn12__v1
									li.mb-5
										a(href="cn12.html#v2", class="bold") cn12__v2
									li.mb-5
										a(href="cn12.html#v3", class="bold") cn12__v3
									li.mb-5
										a(href="cn12.html#v4", class="bold") cn12__v4
							li 
								a(href="cn17.html") Component cn17

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn17.html#v1") cn17__v1
									li.mb-5
										a(href="cn17.html#v2") cn17__v2
									li.mb-5
										a(href="cn17.html#v3") cn17__v3
									li.mb-5
										a(href="cn17.html#v4") cn17__v4

							li 
								a(href="cn18.html") Component cn18

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn18.html#v1") cn18__v1

							li 
								a(href="cn19.html", class="bold") Component cn19

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn19.html#v1", class="bold") cn19__v1
							
							li 
								a(href="cn20.html", class="bold") Component cn20

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn20.html#v1", class="bold") cn20__v1
							
							li 
								a(href="cn21.html", class="bold") Component cn21

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn21.html#v1", class="bold") cn21__v1
									li.mb-5
										a(href="cn21.html#v2", class="bold") cn21__v2

							li 
								a(href="cn22.html", class="bold") Component cn22

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn22.html#v1", class="bold") cn22__v1
									li.mb-5
										a(href="cn22.html#v2", class="bold") cn22__v2
									li.mb-5
										a(href="cn22.html#v3", class="bold") cn22__v3
							li 
								a(href="cn26.html", class="bold") Component cn26

								ul.mt-5.mb-5
									li.mb-5
										a(href="cn26.html#v1", class="bold") cn26__v1
							
							
							li 
								a(href="in01.html") Component in01
							
							li 
								a(href="in02.html", class="bold") Component in02
							
							li 
								a(href="in03.html") Component in03
							
							li 
								a(href="in05.html") Component in05

					.col-sm-12.col-md-4.pt-0.pb-0

						ul
							li 
								a(href="dashboard-landing.html", class="bold") Dashboard - Landing
							li 
								a(href="dashboard-my-tools.html", class="bold") Dashboard - My Tools
							li 
								a(href="dashboard-content.html", class="bold") Dashboard - Content
							li 
								a(href="product-detail.html") Product Detail
							li 
								a(href="solutions-landing.html") Solutions Landing
							li 
								a(href="solutions-hub.html") Solutions Hub
							li 
								a(href="solutions-detail.html") Solutions Detail
							li 
								a(href="solutions-role.html", class="bold") Solutions by Role
							li 
								a(href="network-public__pin.html") Network Content Page (Public): Performance Improvement Networks 
							li 
								a(href="what-we-do.html", class="bold") What we do
				.row
					.col-sm-12
						h4 Development Notes
						include components/_devnotes
