extends layouts/_default

block content
	main(class="body-content showSubNav")
		include modules/_cn11__v7_blog
		include modules/_nv09__v1
		include modules/_nv06__v2_blogposts
		include modules/_cn14__v5
		include modules/_in01__v1