extends layouts/_default

// Our Leadership page
block content
	main(class="body-content")
		include modules/_cn11__v10
		include modules/_cn09__v1_cn16__v1_nv08__v1
		include modules/_in03__v1
		include modules/_in01__v1
		include modules/_cn05__v2
		