extends layouts/_default

// login page V2
block content
	main(class="body-content")
		.row
			.col-xs-12
				section(class="module module-bleed module-stretch cn11 cn11__v7 bg-turquoise-dark banner")
					.container
						.row
							.col-xs-12
								.module-inner
									h1 Existing members
								.arrow.arrow-down.arrow-turquoise-dark

				section(class="module module-bleed cn17 cn17__v3 hg")
					.container
						.row.row-eq-height-md
							.col-xs-12.col-md-6.eq-height
								.module-inner.mt-20
									article.no-border
										.row.row-eq-height-md
											.col-xs-8.eq-height
												h4 VHA & University HealthSystem Consortium are now Vizient
											.col-xs-3.eq-height
												.image-block.ml-30.mb-10
													img(src="../images/logos/uhsc_logo.png", alt="USHC" class="mb-10")
													img(src="../images/logos/vha_logo-small.png", alt="VHA")
										.row
											.col-xs-12
												p.clearfix If you are an existing VHA or University HealthSystem Consortium member, you can access your account on our legacy website by clicking below.
										.row.button-section
											.col-xs-12.col-md-5.mb-20
												a.btn(href="#") Login to your account
											.col-xs-12.col-md-6
												a.btn.alt(href="#") Request a login

							.col-xs-12.col-md-6.eq-height
								.module-inner.mt-20
									article.no-border
										.row.row-eq-height-md
											.col-xs-8.eq-height
												h4 MedAssets is now Vizient
											.col-xs-3.eq-height
												.image-block.ml-30.mb-10
													img(src="../images/logos/medassets_logo.png", alt="medassets_logo")
										.row
											.col-xs-12
												p If you are an existing VHA or University HealthSystem Consortium member, you can access your account on our legacy website by clicking below.
										.row.button-section
											.col-xs-12.col-md-5.mb-20
												a.btn(href="#") Login to your account
											.col-xs-12.col-md-6
												a.btn.alt(href="#") Request a login

				section(class="module cn10 cn10__v1 bg-mist-lightest")
					.container
						.row
							.col-xs-11.col-md-8.ptb-0
								.module-inner
									h3 What's changed for you?
									p As a valued member, know that the content and services you previously had access to will continue to be available. You can still use your previous login information to access your membership page at VHA, University HealthSystem Consortium, Novation and MedAssets. Our team is here to connect you with the knowledge, solutions and expertise you experienced from our legacy brands.
									p Your existing membership is active and ready to use as normal. If you are a supplier, you can use the same login to connect to your dashboard.
				section(class="module-outer module-border in01 in01__v1")
					.container
						.row.row-eq-height-md.dot-border.ptb-10
							.col-xs-12.col-sm-8.col-md-offset-1.eq-height.left-col
								.module-inner
									p.e20 Connect with Vizient to help you solve healthcare’s biggest challenges
							.col-sm-3.eq-height.right-col
								.module-inner
									a(href="#", title="Connect with us").btn Connect with us
				
