extends layouts/_default

// Network Content Page (Public): Performance Improvement Networks
block content
    main(class="body-content")
        include modules/_cn11__v6
        include modules/_cn06__v1
        include modules/_cn09__v1
        include modules/_cn05__v3
        include modules/_in03__v1
        include modules/_in01__v1