extends layouts/_default

block content
	main(class="body-content")

		// START: CN11 v11
		section(class="module module-bleed module-stretch cn11 cn11__v11 bg-turquoise-dark banner")
			.container
				.row
					.col-xs-12.col-sm-10.col-md-9.col-lg-7
						.module-inner
							h2 Member newsletters
		
		section(class="module module-bleed bg-turquoise-darkest cn12 cn12__newsletter")
			.container
				.row.row-eq-height-lg
					.col-xs-12.col-md-8.eq-height
						.module-inner
							article(class="newsletter")
								img(class="newsletter-image mb-20", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")
								
								.newsletter-description
									p.metadata-eyebrow Supply Chain Management
									p.metadata-byline Issue 3 • September 2016
									
									h4
										a(href="#") A Growing Focus on Aggregation as a Path to Lowering the Total Cost of Care
											span.icon.icon-arrow-right-white.ml-10
								
									p Phasellus ut tincidunt nunc. Vivamus euismod pulvinar libero varius convallis. Suspendisse dignissim porta erat, eu accumsan ligula. Nulla sed arcu vel dolor elementum bibendum. Proin sit amet hendrerit libero. Duis sed convallis est. Donec eu interdum mauris. Nullam cursus id lorem a hendrerit. Curabitur ornare, arcu sed varius molestie.

					.col-xs-12.col-md-4.eq-height
						.module-inner
							ul.list-unstyled.list-newsletters
								li
									p.metadata-eyebrow Clinical and Performance Improvement
									p.metadata-byline Issue 3 • September 2016

									a(hef="#") It's Time for Efficient Construction Project
										span.icon.icon-arrow-right-white.ml-10

								li
									p.metadata-eyebrow Research and Insights
									p.metadata-byline Issue 3 • September 2016

									a(hef="#") It's Time for Efficient Construction Project
										span.icon.icon-arrow-right-white.ml-10
							
								li
									p.metadata-eyebrow Education
									p.metadata-byline Issue 3 • September 2016

									a(hef="#") It's Time for Efficient Construction Project
										span.icon.icon-arrow-right-white.ml-10
		
		section(class="module in04 in04__v1")
			.container
				.row
					.col-xs-12
						#accordion.panel-group
							.panel
								.panel-heading
									p.panel-title
										a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse-1') Supply Chain Management news
											i.indicator.glyphicon.glyphicon-chevron-down.pull-right
									
								#collapse-1.panel-collapse.collapse
									.panel-body
										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...
										
										a(href="#", class="btn mb-20") Load more

							.panel
								.panel-heading
									p.panel-title
										a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse-2', data-aria-expanded="true") Clinical and Performance Improvement news
											i.indicator.glyphicon.glyphicon-chevron-up.pull-right
									
								#collapse-2.panel-collapse.collapse.in
									.panel-body
										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...
										
										a(href="#", class="btn mb-20") Load more

							.panel
								.panel-heading
									p.panel-title
										a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse-3') Research and Insights News
											i.indicator.glyphicon.glyphicon-chevron-down.pull-right
									
								#collapse-3.panel-collapse.collapse
									.panel-body
										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...
										
										a(href="#", class="btn mb-20") Load more

							.panel
								.panel-heading
									p.panel-title
										a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse-4') Education News
											i.indicator.glyphicon.glyphicon-chevron-down.pull-right
									
								#collapse-4.panel-collapse.collapse
									.panel-body
										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...

										.row
											.col-xs-12.col-md-2
												img(class="newsletter-image", src="images/newsletter-img-placeholder.png", alt="Description if appropriate")

											.col-xs-12.col-md-7.col-md-push-1
												p.metadata-byline Issue 3 • September 2016
									
												h4
													a(href="#") It’s Time for Efficient Construction Project Delivery
														span.icon.icon-arrow-right-white.ml-10

												p The Association for Healthcare Resource &amp; Materials Management (AHRMM) recently projected that the cost of medical supplies will surpass labor as the biggest expense for hospitals and health systems by 2020. more...
										
										a(href="#", class="btn mb-20") Load more

		// START: CN06 v4
		section(class="module module-bleed")
			.container
				.row.row-eq-height-md
					.col-sm-12.col-md-6.eq-height.left-col.bg-mist-lightest
						.module-inner
							h3 Sed ullamcorper laoreet ligula nunc pellentesque eros
							p In hac habitasse platea dictumst. Aliquam condimentum, dui aliquam pulvinar rutrum, orci elit rhoncus erat, blandit porttitor leo lorem in libero. Phasellus id pellentesque sapien, eget fringilla erat. Mauris sodales dapibus purus non commodo. 
							p Sed blandit dapibus ultrices. Aliquam condimentum, dui aliquam pulvinar rutrum, orci elit rhoncus erat, blandit porttitor leo lorem in libero. Phasellus id pellentesque sapien, eget fringilla erat.

					.col-sm-12.col-md-6.eq-height.right-col.bg-mist-light.centered
						.module-inner
							ul.list-unstyled
								li
									a(href="#", title="First link title goes here") Blog
										span.icon.icon-arrow-down.ml-10
								li
									a(href="#", title="Second link title goes here") Visit Newsroom
										span.icon.icon-new-window.ml-10
								li
									a(href="#") Sign up to receive newsletters
										span.icon.icon-new-window.ml-10
		// END: CN06 v4

		// START CN12 v2
		include modules/_in01__v1