extends layouts/_default

block content
	main(class="body-content") 
		section(class="module",id="v1")
			.container
				.row
					.col-xs-12
						h3 NV05 v1
		section(class="module cn09 cn09__v1")
			.container
				.row
					.col-xs-12.col-md-8
			
					.col-xs-12.col-md-4
						include modules/_nv05__v1
		
		section(class="module",id="v2")
			.container
				.row
					.col-xs-12
						h3 NV05 v2
		section(class="module cn09 cn09__v1")
			.container
				.row
					.col-xs-12.col-md-8
			
					.col-xs-12.col-md-4
						include modules/_nv05__v2

		section(class="module",id="v3")
			.container
				.row
					.col-xs-12
						h3 NV05 v3
		section(class="module cn09 cn09__v1")
			.container
				.row
					.col-xs-12.col-md-8
			
					.col-xs-12.col-md-4
						include modules/_nv05__v3