extends layouts/_default

// Product Detail page
block content
	main(class="body-content")
		include modules/_cn11__v2_ournetworks
		include modules/_cn06__v4
		include modules/_cn21__v2_purple
		include modules/_cn09__v1
		include modules/_cn21__v2_purple
		include modules/_cn09__v1
		include modules/_cn21__v1
		include modules/_cn29__v1
		include modules/_cn06__v4_casestudy
		include modules/_in01__v1