extends layouts/_default

block content
    main(class="body-content")
        // PAGE - Not all modules are accounted for here.
        // HEADER - Still to be built and included.
        // START: CN06 v1
        section(class="module module-bleed cn06 cn06__v1")
            .container
                .row.row-eq-height
                    .col-sm-12.col-md-8.left-col
                        .module-inner
                            h3 Automation that improves value analysis results
                            p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
                            p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages.
                    .col-sm-12.col-md-4.right-col
                        .module-inner
                            h5 Short list of benefits
                            ul.bold.bullets
                                li Bullet point of what this solution does
                                li Another bullet point of what this solution does
                                li Another key advantage of this solution to get you to click 
        // START: CN09 v1
        section(class="module cn09 cn09__v1")
            .container
                .row
                    .col-xs-12.col-sm-8
                        p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
                        p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services, the Vizient ValueLYNX™ analytics solution helps members streamline their new product utilization process, implement and measure utilization initiatives and track realized savings. Leveraging our best practice approach, we enable hospitals to build a clinically led process for rapid and sustained outcome improvement.
        // START: CN03 v5b: 3 blocks - Grey dashed border
        section(class="module module-outer module-gutter cn03 cn03__v5")
            .container
                h3 Related products
                .row.row-eq-height
                    .col-sm-4
                        .content
                            .module-inner
                                p.metadata-byline Product
                                h3
                                    a(href="#", title="PriceLYNX™") PriceLYNX™
                                        i.icon.icon-arrow-right.ml-10
                                p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics.
                    .col-sm-4 
                        .content
                            .module-inner
                                p.metadata-byline Program
                                h3
                                    a(href="#", title="Impact standardization") Impact standardization
                                        i.icon.icon-arrow-right.ml-10
                                p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics.
                    .col-sm-4
                        .content
                            .module-inner
                                p.metadata-byline Program
                                h3
                                    a(href="#", title="Impact standardization") Impact standardization
                                        i.icon.icon-arrow-right.ml-10
                                p As health care becomes more outcomes-based, value analysis is more critical than ever. Vizient leverages strategic analytics and proven processes to build a comprehensive value analysis program.  Combined with our consulting services.