extends layouts/_default

// Product Detail page
block content
	main(class="body-content")
		include modules/_cn11__v4
		include modules/_in02__v1
		section(class="module")
			.container
				.row.tab-content
					div(id="tabpanel-1", class="tab-pane fade")
						include modules/_cn08__v3
						include modules/_cn01__v3
						include modules/_cn17__v4 
						include modules/_cn05__v3
						include modules/_cn12__v1
						include modules/_in01__v1
					div(id="tabpanel-2", class="tab-pane fade")
						include modules/_cn08__v3
						include modules/_cn01__v3
						include modules/_cn17__v4 
						include modules/_cn05__v3
						include modules/_cn12__v1
						include modules/_in01__v1
					div(id="tabpanel-3", class="tab-pane fade")
						include modules/_cn08__v3
						include modules/_cn01__v3
						include modules/_cn17__v4 
						include modules/_cn05__v3
						include modules/_cn12__v1
						include modules/_in01__v1