extends layouts/_default

// Product Detail page
block content
    main(class="body-content showSubNav")
        include modules/_cn11__v7_vri
        include modules/_cn06__v5
        include modules/_cn09__v1_nv08__v1
        include modules/_cn02__v1_casestudy
        include modules/_in01__v1