<!-- Start Dashboard Menu -->
#dashboardSideMenu
	h2.js-accordion-nav-trigger My Dashboard
	nav
		ul#dashboard-side-nav.list-unstyled
			li.primary
				a.has-subnav(href='#') Frequently used
				ul.subnav
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link

			li.primary
				a.has-subnav(href='#') My Tools
				ul.subnav
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Tool name here 1
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Tool name here 2
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Tool name here 3
			
			li.primary
				a.has-subnav(href='#') My Reports
				ul.subnav
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link

			li.primary
				a.has-subnav(href='#') My Networks
				ul.subnav
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Senior networks

			li.primary
				a.has-subnav(href='#') My Topics
				ul.subnav
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link
					li
						a(href='#', data-href='#', class='mobile-nav__sub-nav-link') Link
