<!-- Start Mobile Header -->
header(id="mobile-header", class="visible-xs visible-sm")
    .container
        .row
            .col-sm-3.logo
                 a(href='/', class="mobile-menu__logo")
             a(class="mobile-menu__icon js-mobile-icon", data-toggle='collapse', href='#primary-mobile-nav', aria-expanded='false' aria-controls='primary-mobile-nav') Menu
    include _mobile-menu
<!-- End Mobile Header -->