<!-- Start Mobile Header -->
header(id="mobile-header", class="visible-xs visible-sm")
	.container
		.row
			.col-sm-3.logo
				a(href='/', class="mobile-menu__logo", title="Vizient - back to home")
			a(class="mobile-login__outer", title="Login")
				span.icon.icon-login
			a(class="mobile-menu__outer js-mobile-icon", href='#primary-mobile-nav', title="Menu")
				span.mobile-menu__icon
include _mobile-menu
<!-- End Mobile Header -->