<!-- Start Search bar -->
.search-bar
	form.search-bar-wrap
		.arrow.arrow-slate
		input(type="text" class="typeahead-input" placeholder="Type your search term here…" required data-minLength="0" data-provide="typeahead")
		button(class="search-bar-close" type="reset")
			i.icon.icon-close-slate
		button(class="btn", title="Search")
			span(class="icon icon-search-white")
			| Search
	.autocomplete-results
<!-- End Search bar -->