
//- .hidden-xs.hidden-sm

//- nav.subnav
//-     ul(class="nav-bar-filter" id="nav-bar-filter")
//-         each item, index in header.menu2
//-             li
//-                 a(href='#{item.url}') #{item.title}
//-     ul(id="more-nav")
//-         li
//-             a(href="#" class="active") More options
//-             ul.subfilter



nav.subnav.hidden-xs.hidden-sm
    ul(class="nav-bar-filter" id="nav-bar-filter")
        li
            a(href="#" class="active") Our solutions
        li
            a(href="#") Supply chain
        li
            a(href="#") Operations
        li
            a Operations
        li
            a Pharmacy
        li
            a Clinical
        li
            a Consulting
        li
            a Lorem ipsum
        li
            a Consectetur adipiscing dolor


    ul(id="more-nav")
        li
            a(href="#" class="active") More options
            ul.subfilter
