include ../mixins/_all-mixins
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title VHA
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        link(rel="shortcut icon", href="favicon.ico")

        //- build:css styles/vendor.min.css -->
        //- endbuild -->
        //- build:css({.tmp,app}) styles/main.min.css -->
        // bower:css
        link(rel='stylesheet', href='../bower_components/jquery-timeline/dist/timeline.min.css')
        // endbower
        link(rel="stylesheet", href="styles/main.css")
        //- endbuild -->
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    body
        .outer-wrapper
            include _header
            include _mobile-header
            block breadcrumbs
            <!-- Start Body Content With Sidebar-->
            main(class="body-content")
                section(class="module module--outer-bg")
                    .container.module__content.bg-white
                        .row
                            .col-sm-8
                                block content
                            .col-sm-4
                                block sidebar-content
            <!-- End Body Content -->
            block footer
                include _footer
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        //- build:js(./app/) /scripts/vendor.min.js -->
        // bower:js
        script(src='../bower_components/jquery/dist/jquery.js')
        script(src='../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js')
        script(src='../bower_components/jQuery-ajaxTransport-XDomainRequest/jquery.xdomainrequest.min.js')
        script(src='../bower_components/moment/moment.js')
        script(src='../bower_components/jquery-timeline/dist/timeline.min.js')
        script(src='../bower_components/jquery.expander/jquery.expander.js')
        // endbower
        //- endbuild -->
        //- build:js(.tmp) /scripts/plugins.min.js -->
        //- endbuild -->
        //- build:js(.tmp) /scripts/main.min.js -->
        script(src="scripts/main.js")
        //- endbuild -->